- content_for :title, "API - Get the data"

%h1= yield :title

%p
  With modest developer skills you can use the modern REST API to access almost all the information available
  on #{Settings.project_name}.

%p
  All endpoints return their results as JSON.

%p
  Jump to the section you're most interested in

%ul
  %li= link_to "All current people in parliament", "#people"
  %li= link_to "Details for a person", "#person"
  %li= link_to "All policies", "#policies"
  %li= link_to "Details for a policy", "#policy"
  %li= link_to "Legacy API", "#legacy"

%h2#people All current people in parliament
= render "help/data/people"

%h2#person Details for a person
= render "help/data/person"

%h2#policies All policies
= render "help/data/policies"

%h2#policy Details for a policy
= render "help/data/policy"

%h2#legacy Legacy API
= render "help/data/legacy"
