- content_for :title, "Help — Frequently Asked Questions"

.page-header
  %h1= yield :title

%ul
  %li= link_to "What is the Public Whip?", "#whatis"
  %li= link_to "How does the Public Whip work?", "#how"
  %li= link_to "What time period does it cover?", "#timeperiod"
  %li{:style => "list-style: none"}
    %br/
  %li= link_to "What is a division?", "#division"
  %li= link_to "When does a division occur?", "#division-occur"
  %li= link_to "Why don’t all decisions made in Parliament appear on Public Whip?", "#decisions"
  %li= link_to "Why don’t all the divisions have edited summaries?", "#summaries"
  %li{:style => "list-style: none"}
    %br/
  %li= link_to "What are Policies and how do they work?", "#policies"
  %li= link_to "What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?", "#rebelandfree"
  %li= link_to 'What do the "attendance" and "rebellion" figures mean?', "#clarify"
  %li= link_to "What happens if a division is tied?", "#tied-division"
  %li{:style => "list-style: none"}
    %br/
  %li= link_to "Legal question: what can I use this information for?", "#legal"
  %li= link_to "Can I play with the software?", "#playwith"
  %li= link_to "What licence is the data under?", "#datalicence"
  %li= link_to "What organisation is behind the Public Whip?", "#organisation"
  %li{:style => "list-style: none"}
    %br/
  %li= link_to "Can I help with the project?", "#help"
  %li= link_to "How can I contact you?", "#contact"

%h2.faq
  %a{:name => "whatis"} What is the Public Whip?
= render "help/faq/what_is_it"

%h2.faq
  %a{:name => "how"} How does the Public Whip work?
= render "help/faq/how_does_it_work"

%h2.faq
  %a{:name => "timeperiod"} What time period does it cover?
= render "help/faq/time_period"

%h2.faq
  %a{:name => "division"} What is a division?
= render "help/faq/division"

%h2.faq
  %a{:name => "division-occur"} When does a division occur?
= render "help/faq/when_division"

%h2.faq
  %a{:name => "decisions"} Why don’t all decisions made in Parliament appear on Public Whip?
= render "help/faq/decisions"

%h2.faq
  %a{:name => "summaries"} Why don’t all the divisions have edited summaries?
= render "help/faq/summaries"

%h2.faq
  %a{:name => "policies"} What are Policies and how do they work?
= render "help/faq/policies"

%h2.faq
  %a{:name => "rebelandfree"} What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?
= render "help/faq/rebel_and_free"

%h2.faq
  %a{:name => "clarify"} What do the "attendance" and "rebellion" figures mean?
= render "help/faq/attendance_and_rebellion"

%h2.faq
  %a{:name => "tied-division"} What happens if a division is tied?
= render "help/faq/tied_divisions"

%h2.faq
  %a{:name => "legal"} Legal question: what can I use this information for?
= render "help/faq/legal"

%h2.faq
  %a{:name => "playwith"} Can I play with the software?
= render "help/faq/software"

%h2.faq
  %a{:name => "datalicence"} What licence is the data under?
= render "help/faq/data_license"

%h2.faq
  %a{:name => "organisation"} What organisation is behind the Public Whip?
= render "help/faq/organisation"

%h2.faq
  %a{:name => "help"} Can I help with the project?
= render "help/faq/contribute"

%h2.faq
  %a{:name => "contact"} How can I contact you?
= render "help/faq/contact"
