- content_for :title, "Help — Frequently Asked Questions"

.page-header
  %h1= yield :title

%ul
  %li
    %a{:href => "#whatis"} What is the Public Whip?
  %li
    %a{:href => "#how"} How does the Public Whip work?
  %li
    %a{:href => "#timeperiod"} What time period does it cover?
  %li{:style => "list-style: none"}
    %br/
  %li
    %a{:href => "#division"} What is a division?
  %li
    %a{:href => "#division-occur"} When does a division occur?
  %li
    %a{:href => "#decisions"} Why don’t all decisions made in Parliament appear on Public Whip?
  %li
    %a{:href => "#summaries"} Why don’t all the divisions have edited summaries?
  %li{:style => "list-style: none"}
    %br/
  %li
    %a{:href => "#policies"} What are Policies and how do they work?
  %li
    %a{:href => "#rebelandfree"} What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?
  %li
    %a{:href => "#clarify"} What do the "attendance" and "rebellion" figures mean?
  %li
    %a{:href => "#tied-division"} What happens if a division is tied?
  %li{:style => "list-style: none"}
    %br/
  %li
    %a{:href => "#legal"} Legal question: what can I use this information for?
  %li
    %a{:href => "#playwith"} Can I play with the software?
  %li
    %a{:href => "#datalicence"} What licence is the data under?
  %li
    %a{:href => "#organisation"} What organisation is behind the Public Whip?
  %li{:style => "list-style: none"}
    %br/
  %li
    %a{:href => "#help"} Can I help with the project?
  %li
    %a{:href => "#contact"} How can I contact you?

%h2.faq
  %a{:name => "whatis"} What is the Public Whip?
= render "help/faq/what_is_it"

%h2.faq
  %a{:name => "how"} How does the Public Whip work?
= render "help/faq/how_does_it_work"

%h2.faq
  %a{:name => "timeperiod"} What time period does it cover?
= render "help/faq/time_period"

%h2.faq
  %a{:name => "division"} What is a division?
= render "help/faq/division"

%h2.faq
  %a{:name => "division-occur"} When does a division occur?
= render "help/faq/when_division"

%h2.faq
  %a{:name => "decisions"} Why don’t all decisions made in Parliament appear on Public Whip?
= render "help/faq/decisions"

%h2.faq
  %a{:name => "summaries"} Why don’t all the divisions have edited summaries?
= render "help/faq/summaries"

%h2.faq
  %a{:name => "policies"} What are Policies and how do they work?
= render "help/faq/policies"

%h2.faq
  %a{:name => "rebelandfree"} What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?
= render "help/faq/rebel_and_free"

%h2.faq
  %a{:name => "clarify"} What do the "attendance" and "rebellion" figures mean?
= render "help/faq/attendance_and_rebellion"

%h2.faq
  %a{:name => "tied-division"} What happens if a division is tied?
= render "help/faq/tied_divisions"

%h2.faq
  %a{:name => "legal"} Legal question: what can I use this information for?
= render "help/faq/legal"

%h2.faq
  %a{:name => "playwith"} Can I play with the software?
= render "help/faq/software"

%h2.faq
  %a{:name => "datalicence"} What licence is the data under?
= render "help/faq/data_license"

%h2.faq
  %a{:name => "organisation"} What organisation is behind the Public Whip?
= render "help/faq/organisation"

%h2.faq
  %a{:name => "help"} Can I help with the project?
= render "help/faq/contribute"

%h2.faq
  %a{:name => "contact"} How can I contact you?
= render "help/faq/contact"
