- content_for :title, "Help — Frequently Asked Questions"

.page-header
  %h1= yield :title

%ul
  %li= link_to "What is the Public Whip?", "#whatis"
  %li= link_to "How does the Public Whip work?", "#how"
  %li= link_to "What time period does it cover?", "#timeperiod"

%ul
  %li= link_to "What is a division?", "#division"
  %li= link_to "When does a division occur?", "#division-occur"
  %li= link_to "Why don’t all decisions made in Parliament appear on Public Whip?", "#decisions"
  %li= link_to "Why don’t all the divisions have edited summaries?", "#summaries"

%ul
  %li= link_to "What are Policies and how do they work?", "#policies"
  %li= link_to "What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?", "#rebelandfree"
  %li= link_to 'What do the "attendance" and "rebellion" figures mean?', "#clarify"
  %li= link_to "What happens if a division is tied?", "#tied-division"

%ul
  %li= link_to "Legal question: what can I use this information for?", "#legal"
  %li= link_to "Can I play with the software?", "#playwith"
  %li= link_to "What licence is the data under?", "#datalicence"
  %li= link_to "What organisation is behind the Public Whip?", "#organisation"

%ul
  %li= link_to "Can I help with the project?", "#help"
  %li= link_to "How can I contact you?", "#contact"

%h2#whatis What is the Public Whip?
:markdown
  #{render "help/faq/what_is_it.md"}

%h2#how How does the Public Whip work?
:markdown
  #{render "help/faq/how_does_it_work.md"}

%h2#timeperiod What time period does it cover?
= render "help/faq/time_period"

%h2#division What is a division?
:markdown
  #{render "help/faq/division.md"}

%h2#division-occur When does a division occur?
:markdown
  #{render "help/faq/when_division.md"}

%h2#decisions Why don’t all decisions made in Parliament appear on Public Whip?
:markdown
  #{render "help/faq/decisions.md"}

%h2#summaries Why don’t all the divisions have edited summaries?
:markdown
  #{render "help/faq/summaries.md"}

%h2#policies What are Policies and how do they work?
:markdown
  #{render "help/faq/policies.md"}

%h2#rebelandfree What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?
:markdown
  #{render "help/faq/rebel_and_free.md"}

%h2#clarify What do the "attendance" and "rebellion" figures mean?
:markdown
  #{render "help/faq/attendance_and_rebellion.md"}

%h2#tied-division What happens if a division is tied?
:markdown
  #{render "help/faq/tied_divisions.md"}

%h2#legal Legal question: what can I use this information for?
:markdown
  #{render "help/faq/legal.md"}

%h2#playwith Can I play with the software?
:markdown
  #{render "help/faq/software.md"}

%h2#datalicence What licence is the data under?
:markdown
  #{render "help/faq/data_license.md"}

%h2#organisation What organisation is behind the Public Whip?
:markdown
  #{render "help/faq/organisation.md"}

%h2#help Can I help with the project?
:markdown
  #{render "help/faq/contribute.md"}

%h2#contact How can I contact you?
:markdown
  #{render "help/faq/contact.md"}
