- content_for :title, "Допомога — Часті питання"
- set_meta_tags description: "Parliament's confusing jargon explained in plain English."
- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title

.row
  .col-md-8
    %ul
      %li
        = link_to "#how" do
          Як працює проект #{inline_project_name}?
      %li= link_to "Який часовий період від покриває?", "#timeperiod"

    %ul
      %li= link_to "Що таке Голосування", "#division"
      %li= link_to "Чому не всі голосування мають описове узагальнення?", "#summaries"

    %ul
      %li= link_to "Що таке Політики та як це працює?", "#policies"
      %li= link_to "Як визначити, підтримує депутат якусь із політик чи ні?", "#stance"
      %li= link_to "Що таке “Проти фракції”?", "#rebellion"
      %li= link_to 'Що таке відвідуваність?', "#attendance"

    %h2#how Як працює проект #{inline_project_name}?
    = render "help/faq/how_does_it_work"

    %h2#timeperiod Який часовий період від покриває?
    = render "help/faq/time_period"

    %h2#division Що таке Голосування
    = render "help/faq/division"

    %h2#summaries Чому не всі голосування мають описове узагальнення?
    = render "help/faq/summaries"

    %h2#policies Що таке Політики та як це працює?
    = render "help/faq/policies"

    %h2#stance Як визначити, підтримує депутат якусь із політик чи ні?
    = render "help/faq/stance"

    %h2#rebellion Що таке “Проти фракції”?
    = render "help/faq/rebel"

    %h2#attendance Що таке відвідуваність?
    = render "help/faq/attendance"
