- content_for :title, "Policy ##{@policy.id}: \"#{@policy.name}\""

%h1= yield :title
/ the second tier navigation as tabs
<!-- add hashes to $second_links array, keys are
\     'href' - URL of link
\     'text' - displayed text
\     'tooltip' - text to put in title
\     'current' - 'on' or 'off' for whether this item is currently selected -->
#secondnavtabs
  %ul
    = policy_nav_link nil, 'Selected votes', 'Overview of the policy', @display
    = policy_nav_link 'motions', 'Details of votes', 'Also shows description of every vote', @display
    = policy_nav_link 'editdefinition', 'Edit', 'Change title and definition of policy', @display
<!-- the second tier navigation as dropdowns end-->

- case @display
- when nil
  = render 'votes', member: @member, policy: @policy
- when 'motions'
  = render 'detailed_votes', member: @member, policy: @policy
- when 'editdefinition'
  = render 'edit_policy'
