- content_for :title, 'Resend email confirmation'

.thin-page
  %h1.long-title= yield :title

  %p We’ll send you an email to confirm address

  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: "form-control", required: "required"

    = f.submit "Resend confirmation", class: "btn btn-primary btn-wide"

  %ul.form-secondary.nav.nav-pills
    %li= link_to 'Back to Log in', new_user_session_path, class: "btn-xs"
