- content_for :title, 'Resend email confirmation'

.thin-page
  %h1.long-title= yield :title

  %p We’ll send you an email to confirm address

  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    - if f.error :confirmation_token
      .alert.alert-danger= "Confirmation token is invalid. Enter your email and we'll send you another confirmation."
    - else
      = f.error_notification

    .form-group= f.input :email, as: :email, autofocus: true, hint: "Enter your email address", hint_html: {class: 'small hint-block-intime'}

    = f.button :submit, "Resend confirmation", class: "btn btn-primary btn-wide"

  %ul.form-secondary.nav.nav-pills
    %li= link_to 'Back to Log in', new_user_session_path, class: "btn-xs"
