%h2
  %a{:name => "friends"} All Possible Friends
%p
  Shows which
  = members_type(@member.australian_house)
  voted most similarly to this one in the
  -# TODO This displays the parliament when the MP entered the house, which
  -# matches PHP. But that doesn't seem right, sure it displays data *since* they entered
  = Parliament.at_date(@member.entered_house)[1][:name] if Parliament.at_date(@member.entered_house)
  Parliament. This is measured from 0% agreement (never voted
  the same) to 100% (always voted the same). Only votes that both
  = members_type(@member.australian_house)
  attended are counted. This may reveal relationships between
  = members_type(@member.australian_house)
  that were previously unsuspected. Or it may be nonsense.
%table.mps
  %tr.headings
    %td Agreement
    %td Name
    %td= electorate_label(@member.australian_house)
    %td Party
  %tr.even
    %td{:colspan => "4"} No results found
