%h2
  %a{:name => "divisions"} Interesting Votes
%p
  Votes in parliament for which this
  = member_type(@member.australian_house) + "'s"
  vote differed from the majority vote of their party (Rebel), or in which this
  = member_type(@member.australian_house)
  was a teller (Teller), or both (Rebel Teller).
%p{:align => "center", :style => "font-size: 89%"}
  See also all votes...
  - if @electorate
    = link_to "attended", electorate_path2(@electorate, display: "allvotes", anchor: "divisions")
    |
    = link_to "possible", electorate_path2(@electorate, display: "everyvote", anchor: "divisions")
  - else
    = link_to "attended", member_path(@member, display: "allvotes", anchor: "divisions")
    |
    = link_to "possible", member_path(@member, display: "everyvote", anchor: "divisions")

- if @electorate
  %table.votes
    - @members.each do |member|
      %tr
        %td(align="left" colspan="7")
          %b
            Votes by
            -# TODO Handle Senator
            = link_to "#{member.name} MP", "mp.php?mpn=#{member.first_name}_#{member.last_name}&mpc=#{member.electorate}&house=#{member.australian_house}"
      = render partial: "votes", locals: { member: member, divisions: member.interesting_divisions.order(division_date: :desc, clock_time: :desc, division_name: :asc), empty_message: "no rebellions, never teller" }
- else
  %table.votes
    = render partial: "votes", locals: { member: @member, divisions: @divisions, empty_message: "no rebellions, never teller" }