%h2
  %a{:name => "divisions"} Interesting Votes
%p
  Votes in parliament for which this
  - if @member.senator?
    Senator's
  - else
    Representative's
  vote
  differed from the majority vote of their party (Rebel), or in which
  this
  - if @member.senator?
    Senator
  - else
    Representative
  was a teller (Teller), or both (Rebel
  Teller).
%p{:align => "center", :style => "font-size: 89%"}
  See also all votes...
  = link_to "attended", member_path(@member, display: "allvotes", anchor: "divisions")
  |
  = link_to "possible", member_path(@member, display: "everyvote", anchor: "divisions")
%table.votes
  %tr.headings
    %td House
    %td Date
    %td Subject
    %td= @member.name
    %td
      = @member.party
      Vote
    %td Rôle
  - if @divisions.empty?
    %tr.odd
      %td{:colspan => "7"} no rebellions, never teller
  - else
    - @divisions.each do |division|
      %tr{:class => cycle("even", "odd")}
        %td{:class => (division.australian_house == "representatives" ? "commons" : "lords")}
          = division.australian_house.capitalize
        %td= division.date.strftime("%-d&nbsp;%b&nbsp;%Y").html_safe
        -# house=representatives appears twice in the link which is clearly wrong
        -# TODO Fix this
        - if division.australian_house == "representatives"
          %td= link_to division.division_name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{@member.name.gsub(" ", "_")}&mpc=#{@member.electorate}&house=#{division.australian_house}&house=#{division.australian_house}"
        - else
          %td= link_to division.division_name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{@member.name.gsub(" ", "_")}&mpc=Senate&house=#{division.australian_house}&house=#{division.australian_house}"
        %td
          - if division.majority_vote_for(@member) == "minority"
            %i minority
          - else
            = division.majority_vote_for(@member).capitalize
        %td= division.whip_guess_for(@member.party)
        %td{:class => ""}= division.role_for(@member).capitalize
