.h1mppolicy
  %p.mp= link_to @member.full_name, member_path(@member)
  %p.voteexpl
    has
    %em never voted
    on the policy
  %p.policy
    = link_to policy_path(@policy) do
      %i
        %b
          = @policy.name
  %p
    by
    %a{href: '#ratioexpl'} scoring
    %em.percent= fraction_to_percentage_display(@member.agreement_fraction_with_policy(@policy), precision: 1)
    compared to the votes below
= render 'policies/vote_summary_table', locals: [@policy, @member]
%h2
  %a{:name => "ratioexpl"} How the number is calculated
%p
  The MP's votes count towards a weighted average where the most
  important votes get 50 points, less important votes get 10 points,
  and less important votes for which the MP was absent get 2 points.
  In important votes the MP gets awarded the full 50 points for
  voting the same as the policy, no points for voting against the
  policy, and 25 points for not voting. In less important votes, the
  MP gets 10 points for voting with the policy, no points for voting
  against, and 1 (out of 2) if absent.
%table
  %tr.headings
    %th
    %th No of votes
    %th Points
    %th Out of
  %tr.jobevent
    %td Most important votes (50 points)
    %td &nbsp;
    %td &nbsp;
    %td &nbsp;
  %tr.evenstrong
    %td MP voted with policy
    %td.teller 0
    %td 0
    %td 0
  %tr.evenstrong
    %td MP voted against policy
    %td.rebel 0
    %td 0
    %td 0
  %tr.evenstrong
    %td MP absent
    %td.rebelteller 0
    %td 0
    %td 0
  %tr.jobevent
    %td Less important votes (10 points)
    %td &nbsp;
    %td &nbsp;
    %td &nbsp;
  %tr.odd
    %td MP voted with policy
    %td.teller 0
    %td 0
    %td 0
  %tr.odd
    %td MP voted against policy
    %td.rebel 0
    %td 0
    %td 0
  %tr.jobevent
    %td Less important absentees (2 points)
    %td &nbsp;
    %td &nbsp;
    %td &nbsp;
  %tr.odd
    %td MP absent*
    %td.rebelteller 1
    %td 1
    %td 2
  %tr.jobevent
    %td{:colspan => "2"} Total:
    %td 1
    %td 2
  %tr
    %td{:colspan => "4"}
      %p{:style => "width: 35em;"}
        %small
          *Pressure of other work means MPs or
          Senators are not always available to vote – it does not always
          indicate they have abstained. Therefore, being absent on a less
          important vote makes a disproportionatly small
          difference.
.equals.break
  %b agreement score
  \=&nbsp;
.fraction
  %span.numerator MP's points
  %hr.divider/
  %span.denominator total points
.equals.break &nbsp;=&nbsp;
.fraction
  %span.numerator 1
  %hr.divider/
  %span.denominator 2
.equals.break
  \&nbsp;=
  = succeed "." do
    %b 50.0 %
%br{:clear => "all"}/
