- unless @member.current_offices.empty?
  %p
    %b= @member.name
    is currently
    -# There is always a comma at the end. Not correct. Only doing this to emulate behaviour of php app
    %b= @member.current_offices.map{|o| o.position + ","}.join
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", "/faq.php#timeperiod"}).
%table
  %tr.headings
    %td From
    %td To
    %td Party
    %td
      Rebellions (#{link_to "explain...", "faq.php#clarify"})
    %td
      Attendance (#{link_to "explain...", "faq.php#clarify"})
    %td Teller
  %tr.odd
    %td 1&nbsp;Jan&nbsp;2006
    %td still in office
    %td= @member.party
    %td.percent
      = pluralize(@member.rebellions, "vote")
      out of
      - if @member.votes_attended == 0
        0
      - else
        #{@member.votes_attended},
        %b= @member.rebellions_percentage
    %td.percent
      = pluralize(@member.votes_attended, "vote")
      out of
      #{@member.votes_possible},
      %b= @member.attendance_percentage
    %td 0 times
