-# FIXME in the controller @member and @members should never both be populated
- if (@members && @members.size == 1) || !@member.current_offices.empty?
  %p
    %b= @member.name
    is currently
    -# TODO: The UK uses extra Offices data like department so this will need to be expanded
    = @member.current_offices.reverse.map{|o| "<b>#{o.position}</b>" }.to_sentence.html_safe
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", help_path(anchor: "timeperiod")}).
- if @electorate
  %table
    %tr.headings
      %td Name
      %td From
      %td To
      %td Party
      %td Rebellions (#{link_to "explain...", help_path(anchor: "clarify")})
      %td Attendance (#{link_to "explain...", help_path(anchor: "clarify")})
    - @members.each do |member|
      %tr{:class => cycle("odd", "even")}
        %td
          = member.name
          = link_to "(show only their votes)", "mp.php?mpn=#{member.first_name}_#{member.last_name}&display=summary"
        %td= vote_records_start_date(member)
        %td= member_until(member)
        %td= member.party
        %td.percent
          = pluralize(member.rebellions, "vote")
          out of
          - if member.votes_attended == 0
            0
          - else
            #{member.votes_attended},
            %b= fraction_to_percentage_display(member.rebellions_fraction, precision: 1)
        %td.percent
          = pluralize(member.votes_attended, "vote")
          out of
          #{member.votes_possible},
          %b= fraction_to_percentage_display(member.attendance_fraction, precision: 1)
- else
  %table
    %tr.headings
      %td From
      %td To
      %td Party
      %td Rebellions (#{link_to "explain...", help_path(anchor: "clarify")})
      %td Attendance (#{link_to "explain...", help_path(anchor: "clarify")})
      %td Teller
    %tr.odd
      %td= vote_records_start_date(@member)
      %td= member_until(@member)
      %td= @member.party
      %td.percent
        = pluralize(@member.rebellions, "vote")
        out of
        - if @member.votes_attended == 0
          0
        - else
          #{@member.votes_attended},
          %b= fraction_to_percentage_display(@member.rebellions_fraction, precision: 1)
      %td.percent
        = pluralize(@member.votes_attended, "vote")
        out of
        #{@member.votes_possible},
        %b= fraction_to_percentage_display(@member.attendance_fraction, precision: 1)
      %td 0 times
