-# FIXME in the controller @member and @members should never both be populated
-# Don't show office if we are in a vote comparison displaying the difference
-# (purely because that is what the php code does).
- if @electorate.nil? && (!@member.current_offices.empty?) && !((@member2 && @display.nil?) || @display == "difference")
  %p
    %b= @member.name
    is currently
    -# TODO: The UK uses extra Offices data like department so this will need to be expanded
    = @member.current_offices.reverse.map{|o| "<b>#{o.position}</b>" }.to_sentence.html_safe
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", help_path(anchor: "timeperiod")}).

%table
  %tr.headings
    - if @person && @members.count > 1
      %td Constituency
    - if @electorate
      %td Name
    %td From
    %td To
    %td Party
    %td Rebellions (#{link_to "explain...", help_path(anchor: "clarify")})
    %td Attendance (#{link_to "explain...", help_path(anchor: "clarify")})
    - if @electorate.nil?
      %td Teller

  - @members.each do |member|
    %tr{:class => cycle("odd", "even")}
      - if @person && @members.count > 1
        %td{class: member.house}
          - if member.senator?
            Senator for
          = member.electorate
      - if @electorate
        %td
          = member.name
          = link_to "(show only their votes)", "mp.php?mpn=#{member.url_name_with_title}&display=#{@display || 'summary'}"

      %td= vote_records_start_date(member)
      %td= member_until(member)
      %td
        - if member.party == "SPK"
          Speaker
        - elsif member.party == "CWM"
          Deputy Speaker
        - else
          = member.party
      %td.percent
        - if member.party == "Independent" || member.party == "SPK" || member.party == "CWM"
          no whip
        - else
          - if member.rebellions.nil?
            votes
          - else
            = pluralize(member.rebellions, "vote")
          out of
          - if member.votes_attended == 0
            0
          - elsif member.votes_attended
            #{member.votes_attended},
            %b= fraction_to_percentage_display(member.rebellions_fraction, precision: 1)
      %td.percent
        - if member.votes_attended.nil?
          votes
        - else
          = pluralize(member.votes_attended, "vote")
        out of
        - if member.votes_possible
          #{member.votes_possible},
          %b= fraction_to_percentage_display(member.attendance_fraction, precision: 1)

      - if @electorate.nil?
        %td
          - if member.tells.nil?
            times
          - else
            = pluralize(member.tells, "time")
