%h2
  %a{:name => "divisions"} Votes Attended
%p{:style => "font-size: 89%"}
  See also
  = link_to "all votes possible", member_path(@member, display: "everyvote", anchor: "divisions")
%table.votes
  %tr.headings
    %td House
    %td Date
    %td Subject
    %td= @member.name
    %td
      = @member.party
      Vote
    %td Rôle
  - if @divisions.empty?
    %tr.odd
      %td{:colspan => "7"} no votes listed
  - else
    - @divisions.each do |division|
      %tr.odd
        %td= division.australian_house.capitalize
        %td= division.date.strftime("%d&nbsp;%b&nbsp;%Y").html_safe
        %td= division.division_name
        %td= division.majority_vote_for(@member).capitalize
        %td= division.whip_guess_for(@member.party)
        %td= division.role_for(@member).capitalize

