- content_for :title, @title

%h1= yield :title
%p
  #{@long_collective_name} are listed below. Refer to
  = link_to "this explanation", "faq.php#clarify"
  of the "rebellion" and "attendance" rates, as they may not mean what you
  think they do.
%p{:align => "center", :style => "font-size: 89%"}
  Sort by:
  = sort_link("lastname", "surname", "Name", @sort)
  |
  - if @australian_house != "senate"
    = sort_link("constituency", "constituency", "Constituency", @sort)
    |
  = sort_link("party", "party", "Party", @sort)
  |
  = sort_link("rebellions", "rebels", "Rebellions", @sort)
  |
  = sort_link("attendance", "attendance", "Attendance", @sort)
%table.mps
  %tr.headings
    %td Name
    %td= @australian_house == "senate" ? "State" : "Electorate"
    %td Party
    %td
      Rebellions
      %br/
      (#{link_to "explain...", "/faq.php#clarify"})
    %td
      Attendance
      %br/
      (#{link_to "explain...", "/faq.php#clarify"})
  - @members.each do |member|
    %tr{:class => cycle("odd", "even")}
      %td= link_to member.name, member_path(member)
      %td= link_to_unless @australian_house == "senate", member.electorate, electorate_path(member)
      %td= member.party_long2
      %td.percent= member.rebellions_percentage
      %td.percent= member.attendance_percentage
