%h1 Representatives &#8212; Current
%p
  Members of the House of Representatives are listed below. Refer to
  = link_to "this explanation", "faq.php#clarify"
  of the "rebellion" and "attendance" rates, as they may not mean what you
  think they do.
%p{:align => "center", :style => "font-size: 89%"}
  Sort by:
  %b Name
  |
  = link_to "Constituency", "mps.php?sort=constituency", alt: "Sort by constituency"
  |
  = link_to "Party", "mps.php?sort=party", alt: "Sort by party"
  |
  = link_to "Rebellions", "mps.php?sort=rebellions", alt: "Sort by rebels"
  |
  = link_to "Attendance", "mps.php?sort=attendance", alt: "Sort by attendance"
  %table.mps
    %tr.headings
      %td Name
      %td Electorate
      %td Party
      %td
        Rebellions
        %br/
        (#{link_to "explain...", "/faq.php#clarify"})
      %td
        Attendance
        %br/
        (#{link_to "explain...", "/faq.php#clarify"})
    %tr.odd
      %td
        = link_to "Tony Abbott", "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives"
      %td
        = link_to "Warringah", "mp.php?mpc=Warringah"
      %td Liberal Party
      %td.percent n/a
      %td.percent 0.0%
