%h1= @short_title
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
.secondnavtabs
  %ul
    %li.on Summary
    %li.off
      = link_to "Votes attended", member_path(@member, display: "allvotes"), class: "off", title: "Show every vote cast by this MP"
    %li.off
      = link_to "All votes", member_path(@member, display: "everyvote"), class: "off", title: "Show even divisions where the MP was absent, but could have voted"
    %li.off
      = link_to "All friends", member_path(@member, display: "allfriends"), class: "off", title: "Show all MPs in order of how similarly to this MP they voted"
    %li.off
      = link_to "Policy comparisons", member_path(@member, display: "alldreams"), class: "off", title: "Show all Policies and how this MP voted on them"
<!-- the second tier navigation as dropdowns end-->
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", "/faq.php#timeperiod"}).
%table
  %tr.headings
    %td From
    %td To
    %td Party
    %td
      Rebellions (#{link_to "explain...", "faq.php#clarify"})
    %td
      Attendance (#{link_to "explain...", "faq.php#clarify"})
    %td Teller
  %tr.odd
    %td 1&nbsp;Jan&nbsp;2006
    %td still in office
    %td= @member.party
    %td.percent
      = pluralize(@member.rebellions, "vote")
      out of
      - if @member.votes_attended == 0
        0
      - else
        #{@member.votes_attended},
        %b= @member.rebellions_percentage
    %td.percent
      = pluralize(@member.votes_attended, "vote")
      out of
      #{@member.votes_possible},
      %b= @member.attendance_percentage
    %td 0 times
%h2
  %a{:name => "exlinks"} External Links
%ul
  %li
    See
    = succeed "'s" do
      %strong= @member.name
    Parliamentary speeches at:
    = link_to "OpenAustralia.org", "http://www.openaustralia.org/mp/?m=#{@member.mp_id}"
%h2
  %a{:name => "divisions"} Interesting Votes
%p
  Votes in parliament for which this
  - if @member.senator?
    Senator's
  - else
    Representative's
  vote
  differed from the majority vote of their party (Rebel), or in which
  this
  - if @member.senator?
    Senator
  - else
    Representative
  was a teller (Teller), or both (Rebel
  Teller).
%p{:align => "center", :style => "font-size: 89%"}
  See also all votes...
  = link_to "attended", member_path(@member, display: "allvotes", anchor: "divisions")
  |
  = link_to "possible", member_path(@member, display: "everyvote", anchor: "divisions")
%table.votes
  %tr.headings
    %td House
    %td Date
    %td Subject
    %td= @member.name
    %td
      = @member.party
      Vote
    %td Rôle
  %tr.odd
    %td{:colspan => "7"} no rebellions, never teller
%h2
  %a{:name => "dreammotions"} Policy Comparisons
%p
  This chart shows the percentage agreement between this
  - if @member.senator?
    Senator
  - else
    Representative
  and each of the policies in the database, according
  to their voting record.
%table.mps
  %tr.odd
    %td{:colspan => "4"}
      No policies match this person's votes. You can
      = link_to "edit or make a policy", "/policies.php"
      that will appear
      here.
  %tr.headings
    %td Agreement
    %td Policy
%h2
  <a name="friends">Possible Friends (</a><a href="#{member_path(@member, display: 'allfriends')}">more...</a>)
%p
  Shows which
  - if @member.senator?
    Senators
  - else
    Representatives
  voted most similarly to this one in
  the Parliament. This is measured from 0% agreement (never voted the
  same) to 100% (always voted the same). Only votes that both
  - if @member.senator?
    Senators
  - else
    Representatives
  attended are counted. This may reveal relationships
  between
  - if @member.senator?
    Senators
  - else
    Representatives
  that were previously unsuspected. Or it may
  be nonsense.
%table.mps
  %tr.headings
    %td Agreement
    %td Name
    %td
      - if @australian_house == "representatives"
        Electorate
      - elsif @australian_house == "senate"
        State
      - else
        - raise
    %td Party
  %tr.even
    %td{:colspan => "4"} No results found
