%h1= @short_title
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
.secondnavtabs
  %ul
    = display_link2(@member, nil, "Summary", "Overview of MP", @display)
    = display_link2(@member, "allvotes", "Votes attended", "Show every vote cast by this MP", @display)
    = display_link2(@member, "everyvote", "All votes", "Show even divisions where the MP was absent, but could have voted", @display)
    = display_link2(@member, "allfriends", "All friends", "Show all MPs in order of how similarly to this MP they voted", @display)
    = display_link2(@member, "alldreams", "Policy comparisons", "Show all Policies and how this MP voted on them", @display)
<!-- the second tier navigation as dropdowns end-->
%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", "/faq.php#timeperiod"}).
%table
  %tr.headings
    %td From
    %td To
    %td Party
    %td
      Rebellions (#{link_to "explain...", "faq.php#clarify"})
    %td
      Attendance (#{link_to "explain...", "faq.php#clarify"})
    %td Teller
  %tr.odd
    %td 1&nbsp;Jan&nbsp;2006
    %td still in office
    %td= @member.party
    %td.percent
      = pluralize(@member.rebellions, "vote")
      out of
      - if @member.votes_attended == 0
        0
      - else
        #{@member.votes_attended},
        %b= @member.rebellions_percentage
    %td.percent
      = pluralize(@member.votes_attended, "vote")
      out of
      #{@member.votes_possible},
      %b= @member.attendance_percentage
    %td 0 times

= render "external_links"

- if @display.nil?
  = render "interesting_votes"
  = render "policy_comparisons"
  = render "possible_friends"
- elsif @display == "allvotes"
  = render "votes_attended"
- elsif @display == "everyvote"
  = render "all_votes"
