- content_for :title, 'Sign up'

%h1= yield :title

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control", required: "required"

  .form-group
    = f.label :username, for: :user_name
    = f.text_field :name, class: "form-control", required: "required"
    %small.help-block Your username is publicly displayed with your policy and division edits.

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control", required: "required"

  = f.submit "Sign up", class: "submit-signup btn btn-primary"

  %p.small.help-block
    %strong Privacy policy:
    None of your information will ever be given to third parties.
