- content_for :title, 'Sign up'

%h1= yield :title

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    = f.label 'Username'
    = f.text_field :name, class: "form-control"
    %span.help-block This is displayed publicly beside changes you make

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"

  %p
    Privacy policy: None of your information will ever be given to or sold
    to third parties.

  = f.submit "Sign up", class: "submit-signup btn btn-default"
