- content_for :title, 'Sign up'

%h1= yield :title

%p
  Quickly fill in the information below, and we'll send you
  a confirmation email.  You will then be able to edit division descriptions and policies.
  %br
  = link_to 'Log in to change settings if you already signed up', edit_user_registration_path
%p What are you waiting for? It's free!

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    = f.label 'Your name (first and last)'
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"

  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

  %p
    Privacy policy: Your email address and info will never be given to or sold
    to third parties. Your login will let you edit policies and division
    descriptions and will display your name on division editing histories.
    Any changes to this policy will require your explicit agreement.

  = f.submit "Sign up", class: "submit-signup btn btn-default"
