- content_for :title, 'Sign up'

.signup-page
  .signup-intro
    %h1.long-title Sign up to help unlock&nbsp;parliament

    %p
      Join the community building this free public&nbsp;resource.
      %span.hidden-xs
        Add new policies, edit and improve division summaries, and subscribe to updates about the policies that matter&nbsp;to&nbsp;you.

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "signup-form"}) do |f|
    = f.error_notification

    .form-group= f.input :email, as: :email, autofocus: true, hint: "Enter your email address", hint_html: {class: 'small hint-block-intime'}
    .form-group= f.input :name, as: :string, label: "Username", hint: "Your username is publicly displayed with your policy and division edits", hint_html: {class: 'small hint-block-intime'}
    .form-group= f.input :password, hint: "Minimum 8 characters long", hint_html: {class: 'small hint-block-intime'}

    = f.button :submit, "Sign up", class: 'btn-primary submit-signup'

    %p.form-secondary.small.help-block
      %strong Privacy policy:
      None of your information will ever be given to third parties.
