- content_for :title, 'Help Unlock Parliament'

%h1= yield :title

%p
  Join a community of people building this free public resource:
  %ul
    %li Summarise divisions and improve existing summaries
    %li Enhance policies or start your own
    %li Get notified by email whenever changes are make to a policy you're interested in

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "signup_form"}) do |f|
  = f.error_notification

  .form-group= f.input :email, as: :email, required: true, autofocus: true
  .form-group= f.input :name, as: :string, required: true, label: "Username", hint: "Your username is publicly displayed with your policy and division edits.", hint_html: {class: 'small'}
  .form-group= f.input :password, required: true

  = f.button :submit, "Sign up", class: 'btn-primary submit-signup'

  %p.small.help-block
    %strong Privacy policy:
    None of your information will ever be given to third parties.
