- content_for :title, 'Sign up'

%h1= yield :title

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    = f.label 'Your name (first and last)'
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: "form-control"

  %p
    Privacy policy: Your email address and info will never be given to or sold
    to third parties. Your login will let you edit policies and division
    descriptions and will display your name on division editing histories.
    Any changes to this policy will require your explicit agreement.

  = f.submit "Sign up", class: "submit-signup btn btn-default"
