- content_for :title do
  = members_type(@member.house)
  for
  = @member.electorate_long

.page-header
  %h1= yield :title

%p
  %em Note:
  our voting records currently only go back to the beginning of 2006
  (#{link_to "more details", help_faq_path(anchor: "timeperiod")}).

%table.table
  %thead
    %tr
      %th Name
      %th From
      %th To
      %th Party
      %th Rebellions (#{link_to "explain...", help_faq_path(anchor: "rebellion")})
      %th Attendance (#{link_to "explain...", help_faq_path(anchor: "attendance")})
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.name, member
        %td= member.since
        %td= member.until
        %td= link_to member.party_name, party_divisions_path(member.party_object)
        %td.percent
          - if !member.person.has_whip?
            no whip
          - else
            - if member.person.rebellions.nil?
              votes
            - else
              = pluralize(member.person.rebellions, "vote")
            out of
            - if member.person.votes_attended_with_whip == 0
              0
            - elsif member.person.votes_attended_with_whip
              #{member.person.votes_attended_with_whip},
              %b= fraction_to_percentage_display(member.person.rebellions_fraction)
        %td.percent
          - if member.person.votes_attended.nil?
            votes
          - else
            = pluralize(member.person.votes_attended, "vote")
          out of
          - if member.person.votes_possible
            #{member.person.votes_possible},
            %b= fraction_to_percentage_display(member.person.attendance_fraction)
