%p
  Debate transcripts of the House of Representatives and the
  Senate are published online as #{link_to "Hansard", "http://www.openaustralia.org/"}.
  Public Whip takes these records and compiles lists of votes that you can
  access under #{link_to "Divisions", divisions_path}. You can search through
  these votes using our #{link_to "search function", root_path} on the home
  page or you can browse the votes that are relevant to the particular policy
  areas listed under #{link_to "Policies", policies_path} (for more on our
  policies, see #{link_to "What are Policies and how do they work?", "#policies"}).
