%p
  On Public Whip, the #{link_to "Policies", policies_path} are
  sets of votes on an issue.
%p
  We choose and develop particular Policies for a number of
  reasons. For example, we prioritise issues where politicians have
  rebelled (e.g. the #{link_to "local government recognition divisions", policy_path(id: 10)})
  or where parties have allowed their members to take a conscience vote
  (e.g. the #{link_to "same sex marriage divisions", policy_path(id: 1)})
  because these divisions give a strong indication of an individual politician’s voting patterns
  (see #{link_to "What are “Rebel Voters” and what is a “Conscience Vote” or “Free Vote”?", "#rebelandfree"}).
  Other reasons for selecting a particular Policy include whether the matter was an
  election issue (e.g. the #{link_to "carbon price", policy_path(id: 3)}) and whether
  there was a high level of attendance
  (see #{link_to "What do the “attendance” and “rebellion” figures mean?", "#clarify"}).
%p
  Unfortunately, Policies are restricted to issues that are voted
  on by division because those are the only decisions that appear on Public Whip
  (see #{link_to "Why don’t all decisions made in Parliament appear on Public Whip?", "#decisions"})
