- content_for :title, "Your subscriptions"
- set_meta_tags description: "Keep an eye on the policies that matter to you"

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title
      %p.lead Keep an eye on the policies that matter to you

.row
  .col-md-8
    - if @user.policies_watched.any?
      %p
        You have subscribed to receive emails whenever the following
        = pluralize(@user.policies_watched.size, "policy")
        or
        = @user.policies_watched.size == 1 ? "its" : "their"
        related divisions are updated:
      %ul.subscriptions-list.subscriptions-list-removals.object-list-compact.list-unstyled
        - @user.policies_watched.each do |policy|
          %li.object-item{id: "policy" + policy.id.to_s}
            = link_to capitalise_initial_character(policy.name_with_for), policy
            = button_to watch_policy_path(policy), class: "btn btn-link btn-sm btn-unsubscribe", form_class: "object-secondary-inline" do
              %i.fi-x
              %span.hidden-xs
                unsubscribe
    - else
      %p Get email alerts whenever the policies that interest you are updated or voted on. Subscribe on the policy’s page.

    =link_to "View all policies", policies_path, class: 'btn btn-default btn-sm'
