- content_for :title, 'Password reset'

%h1.long-title= yield :title

%p Enter your email and we’ll send you intructions to reset your password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"

  = f.submit "Reset password", class: "btn btn-default"
= render "devise/shared/links"
