.list-filters.clearfix
  %nav.btn-group
    = nav_button_link("Both houses", {house: nil, sort: params[:sort], rdisplay: params[:rdisplay]}, "All divisions", @house.nil?)
    = nav_button_link("Representatives", {house: "representatives", sort: params[:sort], rdisplay: params[:rdisplay]}, "Divisions for the House of Representatives", @house == "representatives")
    = nav_button_link("Senate", {house: "senate", sort: params[:sort], rdisplay: params[:rdisplay]}, "Divisions from the Senate", @house == 'senate')

  %nav.btn-group
    - Parliament.all.each do |id, details|
      = nav_button_link(details[:name], {rdisplay: (id == "2013" ? nil : id), house: params[:house], sort: params[:sort]}, "", rdisplay == id)
    = nav_button_link("All Parliaments", {rdisplay: "all", house: params[:house], sort: params[:sort]}, "", rdisplay == "all")

  .dropdown.pull-right
    %button.btn.btn-default.dropdown-toggle{:type =>"button", :id=>"dropdownMenu1", "data-toggle" => "dropdown"}
      Sort divisions
      %span.caret

    %ul.dropdown-menu.dropdown-menu-right{:role => "menu", "aria-labelledby" => "dropdownMenu1"}
      %li{:role => "presentation", :class => "#{'disabled' if @sort == 'turnout'}"}
        = link_to "Attendance", {sort: "turnout", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by attendance", role: "menuitem", tabindex: "-1"
      %li{:role => "presentation", :class => "#{'disabled' if @sort == 'rebellions'}"}
        = link_to "Rebels", {sort: "rebellions", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by rebellions", role: "menuitem", tabindex: "-1"
      %li{:role => "presentation", :class => "#{'disabled' if @sort == 'subject'}"}
        = link_to "Alphabetically", {sort: "subject", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by subject", role: "menuitem", tabindex: "-1"
      %li{:role => "presentation", :class => "#{'disabled' if @sort.nil?}"}
        = link_to "by Date", {sort: nil, rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by date", role: "menuitem", tabindex: "-1"
