%li
  = link_to division_path_simple(division), class: "object-item panel-link", title: "See full division page for #{truncate(division.name, length: 180)}." do
    %article.division-item{class: division_edit_status_class(division) + " " + division_outcome_class(division)}
      .division-edit-notice.pull-right.text-muted
        - if division.edited?
          edited
          = relative_time division.wiki_motion.created_at
      .division-meta
        %time.division-datetime{datetime: division.date}= division_date_and_time(division)
        %span.division-house.pre= division.house_name if house.nil?
      %h2.division-title.panel-link-title
        = truncate(division.name, length: 180)

      - members.each do |member|
        %p.division-member-vote.object-primary{class: "member-voted-#{vote_display(division.vote_for(member)).downcase}"}
          = member.name
          = vote_words(member.division_vote(division))

      %p.division-outcome.object-primary= division_outcome_with_majority_strength(division)

      %p.division-data.object-data.object-secondary
        %span.division-rebellions.object-data-rebellion
          = division.rebellions > 0 ? pluralize(division.rebellions, "rebellion") : "No rebellions"
        %span.division-attendance.object-data-attendance
          = fraction_to_percentage_display(division.attendance_fraction)
          attendance
