%li
  = link_to division, class: 'panel panel-default panel-link', title: "See full division page for #{truncate(division.name, length: 180)}." do
    %article.division-item.panel-body{class: division_edit_status_class(division)}
      .division-edit-notice.pull-right.text-muted
        - if division.edited?
          edited
          = relative_time division.wiki_motion.edit_date
        - else
          raw
      .division-meta
        %time.division-datetime{datetime: division.date}= division_date_and_time(division)
        %span.division-house.pre= division.australian_house_name if @house.nil?
      %h2.division-title.panel-link-title
        = truncate(division.name, length: 180)

      %ul.list-inline.division-data
        - if @party
          %li
            = whip_guess_with_strength_in_words(division.whip_for_party(@party)).capitalize
          %li
            - if division.no_rebellions_in_party(@party) > 0
              = pluralize(division.no_rebellions_in_party(@party), 'rebellion')
              by
              = " a " if division.no_rebellions_in_party(@party) == 1
              = @party
              = "member".pluralize(division.no_rebellions_in_party(@party))
            - else
              No rebellions by
              = @party
              members
          %li.text-muted
            = fraction_to_percentage_display(division.attendance_fraction_in_party(@party))
            attendance
        - else
          %li= division_outcome_with_majority_strength(division)
          %li= division.rebellions > 0 ? pluralize(division.rebellions, 'rebellion') : "No rebellions"
          %li.text-muted
            = fraction_to_percentage_display(division.attendance_fraction)
            attendance
