.list-filters.clearfix
  %nav.btn-group
    = nav_button_link("Both houses", divisions_path(params.merge(house: nil)), "All divisions", @house.nil?)
    = nav_button_link("Representatives", divisions_path(params.merge(house: "representatives")), "Divisions for the House of Representatives", @house == "representatives")
    = nav_button_link("Senate", divisions_path(params.merge(house: "senate")), "Divisions from the Senate", @house == 'senate')

  -# Don't include this parameter when we generate URLs if it's been removed by the controller
  - params.delete :rdisplay2 if party.nil?

  %form.form-inline{:action => redirect_path, :method => "post", :name => "secondnav"}
    %select.form-control#r{:name => "r"}
      - Parliament.all.each do |id, details|
        %option{:selected => (rdisplay == id), :value => divisions_path(params.merge(rdisplay: (id == "2013" ? nil : id)))}= details[:name]
      %option{:selected => (rdisplay == "all"), :value => divisions_path(params.merge(rdisplay: "all"))} All Parliaments

    -# Only currently showing this when we're only looking at a single house. Doesn't seem right
    - if parties
      %select.form-control#r3{:name => "r3"}
        %option{:selected => (party.nil?), :value => divisions_path(params.merge(rdisplay2: nil))} All Divisions
        - parties.each do |party2|
          - long_name = Party.long_name(party2)
          - if !Party.whipless?(party2)
            %option{:selected => (party == party2), :value => divisions_path(params.merge(rdisplay2: "#{party2}_party"))}= long_name

    %input.btn.btn-default{:name => "submit", :type => "submit", :value => "Go"}/
