%li
  = link_to division, class: 'object-item panel-link', title: "See full division page for #{truncate(division.name, length: 180)}." do
    %article.division-item{class: division_edit_status_class(division)}
      .division-edit-notice.pull-right.text-muted
        - if division.edited?
          edited
          = relative_time division.wiki_motion.edit_date
      .division-meta
        %time.division-datetime{datetime: division.date}= division_date_and_time(division)
        %span.division-house.pre= division.house_name if @house.nil?
      %h2.division-title.panel-link-title
        = truncate(division.name, length: 180)

      - if @party
        %p.division-outcome.division-party-outcome.object-primary= whip_guess_with_strength_in_words(division.whip_for_party(@party)).capitalize
      - elsif @member
        %p.division-member-vote.object-primary{class: "member-voted-#{vote_display(division.vote_for(@member)).downcase}"}= member_vote(@member, division)
        %p.division-outcome.object-primary= division_outcome_with_majority_strength(division)
      - else
        %p.division-outcome.object-primary= division_outcome_with_majority_strength(division)

      %p.division-data.object-data.object-secondary
        - if @policy
          %span.division-policy-vote.object-data-policy-vote= "Supporters vote #{vote_display(division.policy_vote(@policy))}"
        - else
          %span.division-rebellions.object-data-rebellion
            - if @party
              - if division.no_rebellions_in_party(@party) > 0
                = pluralize(division.no_rebellions_in_party(@party), 'rebellion')
                by
                = " a " if division.no_rebellions_in_party(@party) == 1
                = @party
                = "member".pluralize(division.no_rebellions_in_party(@party))
              - else
                No rebellions by
                = @party
                members
            - else
              = division.rebellions > 0 ? pluralize(division.rebellions, 'rebellion') : "No rebellions"
          %span.division-attendance.object-data-attendance
            - if @party
              = fraction_to_percentage_display(division.attendance_fraction_in_party(@party))
              attendance
            - else
              = fraction_to_percentage_display(division.attendance_fraction)
              attendance
