.list-filters.clearfix
  %nav.list-house-switcher.btn-group
    = nav_button_link("All", {house: "all", sort: params[:sort], rdisplay: params[:rdisplay]}, "All divisions", @house.nil?)
    = nav_button_link("Representatives", {house: "representatives", sort: params[:sort], rdisplay: params[:rdisplay]}, "Divisions for the House of Representatives", @house == "representatives")
    = nav_button_link("Senate", {house: "senate", sort: params[:sort], rdisplay: params[:rdisplay]}, "Divisions from the Senate", @house == 'senate')

  .list-sorter.dropdown
    %button.btn.btn-sm.btn-default.dropdown-toggle{type: "button", id: "dropdownMenu1", data: {toggle: "dropdown"}}
      - if @sort == "turnout"
        Sorted by
        - if @party
          = @party
        Attendance
      - elsif @sort == "rebellions"
        Sorted by
        - if @party
          = @party
        Rebellions
      - elsif @sort == "subject"
        Sorted Alphabetically
      - elsif @sort.nil?
        Sorted by Date
      %span.caret

    %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu1"}
      %li{role: "presentation", class: "#{'disabled' if @sort == 'turnout'}"}
        = link_to "#{@party + ' ' if @party}Attendance", {sort: "turnout", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by attendance", role: "menuitem", tabindex: "-1"
      %li{role: "presentation", class: "#{'disabled' if @sort == 'rebellions'}"}
        = link_to "#{@party + ' ' if @party}Rebellions", {sort: "rebellions", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by rebellions", role: "menuitem", tabindex: "-1"
      %li{role: "presentation", class: "#{'disabled' if @sort == 'subject'}"}
        = link_to "Alphabetically", {sort: "subject", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by subject", role: "menuitem", tabindex: "-1"
      %li{role: "presentation", class: "#{'disabled' if @sort.nil?}"}
        = link_to "Date", {sort: nil, rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by date", role: "menuitem", tabindex: "-1"
