%p
  %span.ptitle Useful links for you to research
%ul
  %li= link_to "Bills before Parliament", "http://www.aph.gov.au/Parliamentary_Business/Bills_Legislation/Bills_before_Parliament", target: "_blank"
  %li= link_to "Current House Committee Inquiries", "http://www.aph.gov.au/Parliamentary_Business/Committees/House_of_Representatives_Committees?url=info/curr_inq.htm", target: "_blank"
  %li= link_to "Current Senate Committee Inquiries", "http://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Current_Inquiries", target: "_blank"
  %li= link_to "House Powers, Practice and Procedure", "http://www.aph.gov.au/About_Parliament/House_of_Representatives/Powers_practice_and_procedure", target: "_blank"
  %li= link_to "Senate Powers, Practice and Procedure", "http://www.aph.gov.au/About_Parliament/Senate/Powers_practice_n_procedures", target: "_blank"
  %li= link_to "House Official Hansard", "http://www.aph.gov.au/Parliamentary_Business/Hansard/Hansreps_2011", target: "_blank"
  %li= link_to "Senate Official Hansard", "http://www.aph.gov.au/Parliamentary_Business/Hansard/Hanssen261110", target: "_blank"

%p
  Use
  = link_to "Markdown", "https://guides.github.com/features/mastering-markdown/", target: "_blank"
  to format your text
