- content_for :title do
  = truncate(division.name, length: 180)

.page-header.division-header.row
  %nav.header-actions.col-md-1.col-lg-2
    = link_to "Edit", edit_division_path(@division), title: "Change title and summary of this division", class: "btn btn-default btn-xs"

  %h1.division-title.col-md-11.col-lg-10.long-title
    %small.pre-title= division_date_and_time(division) + " – " + division.house_name
    - if @display == 'policies'
      = link_to yield(:title), division
    - elsif member
      = member_voted_with(member, division) + ' on the division ' + content_tag(:em, yield(:title))
    - else
      = yield(:title)
