- if !division.edited?
  %p.division-edit-notice.alert-warning.col-md-7
    %strong Unedited text
    automatically extracted from the debate.
    = link_to "Improve the page providing a summary.", edit_division_path(division)

%section.motion.page-section.row{class: division.edited? ? "motion-edited" : "motion-raw"}
  .col-md-8.col-lg-7
    %h2.motion-title Summary
    = link_to "Edit", edit_division_path(division), title: "Edit and improve this description", class: "division-edit-link btn btn-default btn-xs"
    .motion-text
      = division.formatted_motion_text
  %nav.motion-external-links.col-md-3.col-md-offset-1.col-lg-4.col-lg-offset-1
    %h2.h5 External links
    %ul
      %li= link_to "Debate in Parliament", division.oa_debate_url, title: "Links to debate shown at www.openaustralia.org"
      - division.bills.each do |bill|
        %li= link_to bill.title, bill.url
