- if division.edited?
  %section.motion.page-section.col-md-8.col-lg-7{class: division.edited? ? "motion-edited" : "motion-raw collapse"}
    %h2.motion-title Summary
    -# = link_to "Edit", edit_division_path(division), title: "Edit and improve this description", class: "link-division-edit division-edit-link btn btn-link btn-xs"
    = link_to "Редагувати", edit_division_path(division), title: "Edit and improve this description", class: "link-division-edit division-edit-link btn btn-link btn-xs"
    .motion-text= division.formatted_motion_text
- else
  %p.division-edit-notice.alert.alert-warning.page-section.clearfix.col-sm-7
    -# This division is yet to be summarised. Believe it or not there is no easy to understand explanation of every vote in our parliament.
    -# If you’d like to know more about this division, reading the
    -# = link_to "preceding debate", division.debate_url
    -# may be helpful. You can help everybody by improving this resource—#{link_to "provide a summary of what was voted on in this division", edit_division_path(division)}.
    Пояснення цього голосування ще не готове.
    Вірте або ні, це нелегка справа проаналізувати кожен законопроект та пояснити
    особливості кожного голосування у нашому Парламенті.
    Якщо Ти хочеш дізнатися більше про це голосування,
    Тобі допоможе
    #{link_to "Електронний протокол", division.debate_url}:
    читай стенограму, слухай звукові файли, дивись відео із сесійного засідання.
    Ти можеш покращити наш сайт та допомогти іншим зрозуміти, про що йдеться -
    #{link_to "напиши своє резюме і поясни, про що було це голосування", edit_division_path(division)}.
