- if policy
  - if user_signed_in?
    %form.policyvote{:action => division_path(params), :method => "post"}
      %strong
        Please read policy
        definition and division description before altering
        vote
      %br/
      And policy #{link_to policy.name, policy_path(policy)} (#{link_to "change", policies_path}) voted
      - select_options = {'Non-voter' => '--',
                          'Aye (strong)' => 'aye3',
                          'Aye' => 'aye',
                          'Abstain' => 'both',
                          'No' => 'no',
                          'No (strong)' => 'no3'}
      = select_tag "vote#{policy.id}", options_for_select(select_options, (policy.vote_for_division(division) || '--')), size: 1
      %input{:name => "submit", :type => "submit", :value => "Update"}>/
      - if changed_from
        - # FIXME Adding a preceeding space to match PHP
        \ <span class="error">Changed from #{changed_from}</span>
      - elsif params[:submit] == 'Update'
        - # FIXME Adding a preceeding space to match PHP
        \ <span class="error">No change made</span>
  - else
    %p
      And policy
      = link_to policy.name, policy_path(policy)
      voted '#{policy.vote_for_division(division)}'

%h2#dreammp Policies

%p
  The following policies have selected this division. You can use this to help you work out
  the meaning of the vote. Or #{link_to "list all policies", "/policies.php"}.

%table.table.table-striped
  %thead
    %tr
      %th Policy
      %th Vote (in this division)
  %tbody
    - if division.policies.empty?
      %tr
        %td{:colspan => "2"} No policies voted in this division
    - else
      - division.policies.each do |policy|
        %tr
          %td
            = link_to policy.name, policy
            - if policy.provisional?
              %i (provisional)
          %td= simple_vote_display division.policy_vote(policy)
%p
  = link_to "Make a new policy", "account/addpolicy.php"
