%h2#summary Party Summary

%p
  Votes by party, red entries are votes against the majority for that party.
.tableexplain
  %p
    %span.ptitle What is Turnout?
    This is measured against the total membership of the party at the time of the vote.
= render 'summary_party_votes', division: division

%h2#votes
  - if display.nil?
    Rebel Voters
  - elsif display == "allpossible"
    All
    = members_type(division.australian_house)
    Eligible to Vote
  - else
    - raise
  \- sorted by
  - if sort.nil?
    party
  - elsif sort == "name"
    name
  - elsif sort == "constituency"
    electorate
  - elsif sort == "vote"
    vote
  - else
    - raise

- if display.nil?
  %p
    = members_type(division.australian_house)
    for which their vote in this division differed
    from the majority vote of their party. You can see
    = link_to "all votes", division_no_member_path(params.merge(display: "allvotes"))
    in this division, or
    = link_to division_no_member_path(params.merge(display: "allpossible")) do
      every eligible
      = member_type(division.australian_house)
    who could have voted in this division
- elsif display == "allpossible"
  %p
    Includes
    = members_type(division.australian_house)
    who were absent (or abstained) from this vote.
- else
  - raise

= render "sort_links", sort: sort, house: division.australian_house
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th= electorate_label(division.australian_house)
      %th Party
      %th Vote
  %tbody
    - if display.nil?
      - if votes.empty?
        %tr
          %td{:colspan => "4"} no rebellions
      - else
        - votes.each do |vote|
          %tr
            %td= link_to vote.name, member_path(vote.member)
            %td= vote.electorate
            %td
              = vote.party_long2
              - if vote.member.person.on_front_bench?(division.date)
                (front bench)
            %td= vote.vote
    - elsif display == "allpossible"
      - members.each do |member|
        %tr{:class => ("rebel" if member.rebel_on_division?(division))}
          %td= link_to member.name_without_title, member_path(member)
          %td= link_to_if division.australian_house == "representatives", member.electorate, electorate_path(member)
          %td
            = member.party_long2
            - if member.person.on_front_bench?(division.date)
              (front bench)
          %td= member.vote_on_division_without_tell(division)
    - else
      - raise
