%figure
  %table.table
    %thead
      %tr
        %th Party
        %th= vote_display_in_table "aye"
        %th= vote_display_in_table "no"
    %tbody
      - division.whips.order(:party).each do |whip|
        %tr
          %th
            = link_to whip.party_name, party_divisions_path(whip.party_object)
            %small.post-title.text-muted= '(' + fraction_to_percentage_display(whip.attendance_fraction) + ' turnout)'
          %td{class: aye_vote_class(whip)}
            = whip.aye_votes_including_tells if whip.aye_votes_including_tells > 0
          %td{class: no_vote_class(whip)}
            = whip.no_votes_including_tells if whip.no_votes_including_tells > 0
      %tr
        %th.whip
          Totals
          %small.post-title.text-muted= '(' + fraction_to_percentage_display(division.attendance_fraction) + ' turnout)'
        %td{class: aye_vote_total_class(division)}= division.aye_votes_including_tells
        %td{class: no_vote_total_class(division)}= division.no_votes_including_tells
  %figcaption.panel-footer
    - if division.rebellions > 0
      %p <span class="rebel">Red entries</span> are rebel votes against the majority of a party.
    %p Turnout is the percentage of members eligible to vote that did vote.
