.page-section.clearfix#votes
  %figure.voter-table.col-md-12
    %h2
      Результат голосування
      %small.division-outcome-summary{class: "#{division_outcome_class(division)}"}
        = division_outcome_with_majority_strength(division)

    .division-policies#related-policies
      = render "current_policies_list", division: @division, display: @display

    %p.division-rebellions-sentence
      - if division.rebellions > 0
        Відбулося
        %span.rebel
          = division.rebellions
          = n_("rebellion", "rebellions", division.rebellions)
        проти лінії фракції.
      - else
        -# Nobody rebelled against their party.
        Ніхто не голосував проти лінії фракції

    %table.table
      %colgroup.column-name{span: 1}
      %colgroup.column-vote{span: 1}
      %colgroup.column-toggler{span: 1}
      %thead
        %tr
          %th Фракція
          %th.cell-vote Голоси
          %th.cell-toggler
      %tbody
        - division.whips.order(:party).each_with_index do |whip, index|
          - if !whip.whipless? && whip.possible_votes != 1
            %tr.party-row{data: {toggle: 'collapse', target: '.member-row-' + index.to_s}}
              %th.cell-name
                %span.party-name= whip.party_name
                %small.post-title.text-muted= '(' + fraction_to_percentage_display(whip.attendance_fraction) + ' явки)'
              %td.cell-vote{class: ("party-absent" if whip.aye_votes_including_tells + whip.no_votes_including_tells == 0)}
                - if whip.aye_votes_including_tells + whip.no_votes_including_tells + whip.abstention_votes + whip.not_voting_votes > 0
                  %span{class: [aye_vote_class(whip), ("zero-votes" if whip.aye_votes_including_tells == 0)]}
                    = whip.aye_votes_including_tells
                    = vote_display "aye"
                  %span{class: [no_vote_class(whip), ("zero-votes" if whip.no_votes_including_tells == 0)]}
                    = whip.no_votes_including_tells
                    = vote_display "no"
                  %span{class: [abstention_vote_class(whip), ("zero-votes" if whip.abstention_votes == 0)]}
                    = whip.abstention_votes
                    = vote_display "both"
                  %span{class: [not_voting_vote_class(whip), ("zero-votes" if whip.not_voting_votes == 0)]}
                    = whip.not_voting_votes
                    = vote_display "not voting"
                - else
                  Відсутні
              %td.cell-toggler
                %button.voter-table-toggle-members.btn.glyphicon.glyphicon-chevron-down{data: {toggle: 'collapse', target: '.member-row-' + index.to_s}}
                  -# %span.sr-only show members
                  %span.sr-only показати усіх членів

          -# Show members in this party that are present in this division
          - division.votes.joins(:member).where(members: {party: whip.party}).includes(:member).order("members.party", "vote", "members.last_name", "members.first_name").each do |vote|
            %tr.member-row{class: [('collapse party-member-row' unless whip.whipless? || whip.possible_votes == 1), ('rebel' if vote.rebellion?), ('member-row-' + index.to_s)]}
              %th.cell-name
                = link_to vote.member.name_without_title, vote.member
                %span.text-muted.member-electorate= vote.member.electorate
                %small.post-title.text-muted= vote.member.party_name if whip.whipless? || whip.possible_votes == 1
              %td.cell-vote= vote_display vote.vote
              %td.cell-toggler

          - # TODO: Order by minority within party (e.g. rebels first) then majority, then absent
          -# Show members in this party that are absent in this division
          - members.where("votes.id IS NULL").where(party: whip.party).each do |member|
            %tr.member-row{class: [('collapse party-member-row' unless whip.whipless? || whip.possible_votes == 1), ('member-row-' + index.to_s)]}
              %th.cell-name
                = link_to member.name_without_title, member
                %span.text-muted.member-electorate= member.electorate
                %small.post-title.text-muted= member.party_name if whip.whipless? || whip.possible_votes == 1
              %td.cell-vote Відсутні
              %td.cell-toggler

        %tr
          %th.whip
            -# Totals
            Всього
            %small.post-title.text-muted= '(' + fraction_to_percentage_display(division.attendance_fraction) + ' явки)'
          %td.cell-vote
            %span{class: aye_vote_total_class(division)}
              = division.aye_votes_including_tells
              = vote_display "aye"
            %span{class: no_vote_total_class(division)}
              = division.no_votes_including_tells
              = vote_display "no"
            %span
              = division.abstention_votes
              = vote_display "both"
            %span
              = division.not_voting_votes
              = vote_display "not voting"
          %td.cell-toggler

    %figcaption.panel-footer.small
      - if division.rebellions > 0
        %p <span class="rebel">Червоні позначки</span> позначають голоси проти лінії фракції.
      %p Явка - це відсоток депутатів, картки яких у момент волевиявлення були активовані у системі голосування.
