- content_for :title do
  Edit division description —
  = @division.name
  —
  = division_date_and_time(@division) + ", " + @division.house_name

.page-header
  %h1 Edit division description

%p
  Describe the
  %i result
  of this division. This will require
  you to check through the debate leading up to the vote. The raw,
  and frequently wrong, motion text is there by default. Feel free to
  remove it when you've replaced it with something better.
%p
  Please, keep it accurate, authorative, and as jargon-free as
  possible so that new readers who don't know Parliamentary procedure
  can gain enlightenment. You are urged to include links to the
  legislation, reports, and committee proceedings that are referred
  to so that readers who want to follow the story further will know
  where to look.
%p
  %b
    Read the #{link_to "debate leading up to the vote", @division.oa_debate_url, target: '_blank'}.
.row
  .col-md-8
    = form_for @division, url: division_path(@division), method: :post do |f|
      .form-group
        -# TODO Add for to labels
        %label Division title:
        %input.form-control{maxlength: "250", name: "newtitle", size: "50", type: "text", value: @division.name}/
      .form-group
        %label Division description:
        - if @division.markdown?
          %ul.nav.nav-tabs(role="tablist")
            %li.active= link_to "Edit", "#edit", role: "tab", data: {toggle: "tab"}
            %li= link_to "Preview", "#preview", role: "tab", data: {toggle: "tab"}, id: "preview_link"
          .tab-content
            .tab-pane.active#edit
              %textarea.form-control{cols: "45", name: "newdescription", rows: "25"}= preserve(h(@division.motion))
            .tab-pane#preview
        - else
          %textarea.form-control{cols: "45", name: "newdescription", rows: "25"}= preserve(h(@division.motion))

      %input.btn.btn-primary{accesskey: "S", name: "submit", type: "submit", value: "Save"}/
      = link_to "Cancel", :back, class: "btn btn-default"
  .col-md-4
    = render "edit_help", markdown: @division.markdown
