- content_for :title do
  Divisions

- set_meta_tags description: "Votes held in Australian in parliament. These votes, called divisions, help shape legislation that affects us all."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1
        = yield :title
        %small= divisions_period(@date_range, @date_start)

      %p.lead
        They Vote For You tracks divisions, the <em>formal</em> votes that are recorded in Parliament, to learn how our
        elected members vote on legislation that affects us all. Many votes in Parliament go <em>unrecorded</em>, so we
        can't include them here.
        = link_to "Learn more...", help_faq_path(anchor: "division")

- if @divisions.any?
  = render "divisions_chooser", house: @house, sort: @sort

- # if sort by rebellions or attendance provide some brief, contextual explanation here.

= render partial: "divisions", locals: {members: [], house: @house, divisions: @divisions}
= render "pagination", years: @years, date_start: @date_start
