- content_for :title do
  - if @party
    = @party
  - else
    Divisions
  \—
  - if @rdisplay == "all"
    All divisions on record
  - else
    = Parliament.all[@rdisplay][:name]
  - if @house == "representatives"
    \— Representatives only
  - elsif @house == "senate"
    \— Senate only
  - if @sort
    (sorted by #{@sort})

.page-header
  %h1= yield :title

  %p.lead
    In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "jargon")}

= render "divisions_chooser", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties

%table.table
  %thead
    %tr
      - if @house.nil?
        %th House
      %th= link_to_unless @sort.nil?, "Date", {sort: nil, rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by date"
      %th Time
      %th= link_to_unless @sort == "subject", "Subject", {sort: "subject", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by subject"

      - if @party
        %th Loyal

      %th
        = link_to_unless @sort == "rebellions", "Rebels", {sort: "rebellions", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by rebellions"
        %br>/
        (#{link_to "explain..", help_faq_path(anchor: "clarify")})

      - if @party.nil?
        %th Outcome

      %th
        = @party if @party
        = link_to_unless @sort == "turnout", "Turnout", {sort: "turnout", rdisplay: params[:rdisplay], house: params[:house]}, title: "Sort by turnout"

  %tbody
    -# Avoid calling out to SQL again
    - if @divisions.to_a.empty?
      %tr
        %td{colspan: @house.nil? ? 9 : 8} no votes listed
    - else
      - @divisions.each do |division|
        %tr
          - if @house.nil?
            %td{:class => division.house}= division.australian_house_name
          %td= formatted_date(division.date, true)
          %td= division.clock_time
          %td= link_to truncate(division.name, length: 180), division_path2(division)

          - if @party
            %td= division.no_loyal_in_party(@party)
            %td= division.no_rebellions_in_party(@party)
            -# TODO Here it's called Turnout. Elsewhere it's called Attendance. Bad!
            %td= fraction_to_percentage_display(division.attendance_fraction_in_party(@party), precision: 1)
          - else
            %td= division.rebellions
            %td= division_outcome_with_score(division)
            %td= fraction_to_percentage_display(division.attendance_fraction, precision: 1)
