- content_for :title do
  Divisions

- set_meta_tags description: "Votes held in Australian in parliament. These votes, called divisions, help shape legislation that affects us all."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1
        = yield :title
        %small= divisions_period(@date_range, @date_start)

      %p.lead
        In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "division")}

- if @divisions.any?
  = render "divisions_chooser", party: @party, house: @house

- # if sort by rebellions or attendance provide some brief, contextual explanation here.

= render partial: "divisions", locals: {member: @member}, object: @divisions
= render "pagination", years: @years, path: {house: (@house.nil? ? "all" : @house)}, date_start: @date_start
