- content_for :title do
  - if @party
    = @party
  - else
    Divisions

- set_meta_tags description: "A list of votes, called divisions, in parliament. These votes help shape legislation that affects us all."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title

      %p.lead
        In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "division")}

= render "divisions_chooser", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties

- # if sort by rebellions or attendance provide some brief, contextual explanation here.

= render partial: "divisions", object: @divisions
