- content_for :title do
  - if @party
    = @party
  - else
    Divisions
  \—
  - if @rdisplay == "all"
    All divisions on record
  - else
    = Parliament.all[@rdisplay][:name]
  - if @house == "representatives"
    \— Representatives only
  - elsif @house == "senate"
    \— Senate only
  - if @sort
    (sorted by #{@sort})

.page-header
  %h1= yield :title

  %p.lead
    In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "jargon")}

= render "divisions_chooser", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties

= render "divisions_list", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties
