- content_for :title do
  Voting Record —
  = @member.full_name2
- set_meta_tags description: "A list of all votes in parliament that #{@member.full_name_no_electorate} could have attended."

= render "members/member_page_header", member: @member

%h2#divisions All Votes

%p All votes #{@member.full_name_no_electorate} could have attended.

- @member.person.members.order(entered_house: :desc).each do |member|
  = render "divisions", divisions: member.divisions_possible.order(date: :desc, clock_time: :desc, name: :asc)
