- content_for :title do
  - if @rdisplay2 == "rebels"
    Rebellions
  - elsif @party
    = @party
  - else
    Divisions
  \—
  - if @rdisplay == "all"
    All divisions on record
  - else
    = Parliament.all[@rdisplay][:name]
  - if @house == "representatives" && @party.nil?
    \— Representatives only
  - elsif @house == "senate" && @party.nil?
    \— Senate only
  - if @sort
    (sorted by #{@sort})

%h1= yield :title

= render "divisions_chooser", rdisplay: @rdisplay, rdisplay2: @rdisplay2, house: @house, parties: @parties

%p
  A 'division' is parliamentary terminology for a 'vote'
  (#{link_to "read more...", help_path(anchor: "jargon")}).
  This page shows divisions in the Australian parliament. Make sure you
  = link_to "read the explanation", help_path(anchor: "clarify")
  about rebellions, as they may not be what you expect.

- if @rdisplay2 == "rebels"
  %p
    This is a table showing only the divisions where there were at
    least ten #{link_to "rebels", help_path(anchor: "clarify")}.

%p
  Sort by:
  = link_to_unless @sort.nil?, "Date", divisions_path(params.merge(sort: nil)), title: "Sort by date"
  |
  = link_to_unless @sort == "subject", "Subject", divisions_path(params.merge(sort: "subject")), title: "Sort by subject"
  |
  = link_to_unless @sort == "rebellions", "Rebellions", divisions_path(params.merge(sort: "rebellions")), title: "Sort by rebellions"
  |
  = link_to_unless @sort == "turnout", "Turnout", divisions_path(params.merge(sort: "turnout")), title: "Sort by turnout"

- if @party
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Time
        %th Subject
        %th
          = @party
          Turnout
        %th Loyal
        %th Rebels
        -# TODO Need to remove Boths
        - if @house == "representatives"
          %th Boths
    %tbody
      - @divisions.each do |division|
        -# TODO temporary variable Eek!
        - whip = division.whips.where(party: @party).first
        %tr{:class => (@rdisplay2 != "rebels" && division.rebellious? ? "evenrebel" : "even")}
          %td= formatted_date(division.date, true)
          %td
            - if division.clock_time
              = division.clock_time.strftime("%H:%M")
          %td
            = link_to truncate(division.name, length: 180), division_path2(division)
          -# TODO Here it's called Turnout. Elsewhere it's called Attendance. Bad!
          %td= fraction_to_percentage_display(whip.attendance_fraction, precision: 1)
          %td= whip.no_loyal
          %td= whip.no_rebels
          - if @house == "representatives"
            %td 0
- else
  %table.table.table-striped
    %thead
      %tr
        - if @house.nil?
          %th House
        %th Date
        %th Time
        %th Subject
        %th
          Rebels
          %br>/
          (#{link_to "explain..", help_path(anchor: "clarify")})
        %th Majority
        %th Turnout
    %tbody
      - if @divisions.empty?
        %tr.odd
          - if @house.nil?
            %td(colspan="9") no votes listed
          - else
            %td(colspan="8") no votes listed
      - else
        - @divisions.each do |division|
          %tr{:class => cycle("even", "odd") + ((@rdisplay2 != "rebels" && @sort != "rebellions" && division.rebellious? ? "rebel" : ""))}
            - if @house.nil?
              %td{:class => division.house}= division.australian_house_name
            %td= formatted_date(division.date, true)
            %td
              - if division.clock_time
                = division.clock_time.strftime("%H:%M")
            %td
              = link_to truncate(division.name, length: 180), division_path2(division)
            %td= division.no_rebellions
            %td= division.majority
            %td= fraction_to_percentage_display(division.attendance_fraction, precision: 1)
