- content_for :title do
  Voting Record —
  = @member.full_name2
- set_meta_tags description: "A list of all votes in parliament that #{@member.full_name_no_electorate} could have attended."

= render "members/member_page_header", member: @member

%h2#divisions All Votes

%p All votes #{@member.full_name_no_electorate} could have attended.

%ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
  - @divisions_or_nil_with_member.each do |m|
    - if m[:division].present?
      = render m[:division], member: m[:member]
    - else
      %li.object-item
        No votes listed as
        = member_type_party_place_sentence(m[:member])

.index-pagination
  = paginate @divisions_or_nil_with_member, window: 2, outer_window: 3
