- content_for :title do
  - if @party
    = @party
  - else
    - if @year && @year.to_i != @years.last
      Divisions: #{@year}
    - else
      Divisions

- set_meta_tags description: "Votes held in Australian in parliament. These votes, called divisions, help shape legislation that affects us all."

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title

      %p.lead
        In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "division")}

= render "divisions_chooser", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties

- # if sort by rebellions or attendance provide some brief, contextual explanation here.

= render partial: "divisions", locals: {member: @member}, object: @divisions

%nav.index-pagination
  %ul.pagination
    - @years.reverse.each do |year|
      - if @year && @year.to_i == year || @year == nil && year == @years.last
        %li.active
          = link_to year, divisions_path(year: year)
      - else
        %li
          = link_to year, divisions_path(year: year)
