- content_for :title do
  - if @party
    = @party
  - else
    Divisions
  \—
  - if @rdisplay == "all"
    All divisions on record
  - else
    = Parliament.all[@rdisplay][:name]
  - if @house == "representatives"
    \— Representatives only
  - elsif @house == "senate"
    \— Senate only
  - if @sort
    (sorted by #{@sort})

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %h1= yield :title

      %p.lead
        In the Australian Parliament a vote is called a <em>division</em>. Through these votes, elected members shape legislation that affects us all. #{link_to "Learn more...", help_faq_path(anchor: "division")}

= render "divisions_chooser", rdisplay: @rdisplay, party: @party, house: @house, parties: @parties

- # if sort by rebellions or attendance provide some brief, contextual explanation here.

= render partial: "divisions", object: @divisions
