- content_for :title do
  Voting Record —
  = @member.full_name2
- set_meta_tags description: "A list of all votes in parliament that #{@member.full_name_no_electorate} could have attended."

= render "members/member_page_header", member: @member

%h2#divisions
  Divisions
  %small #{divisions_period}

%p Divisions #{@member.full_name_no_electorate} could have attended.

= render "divisions", member: @member, divisions: @divisions
= render "pagination", years: @years, path: {house: (@house.nil? ? "all" : @house), mpc: @mpc, mpn: @mpn}, date_start: @date_start
