- content_for :title do
  = truncate(@division.name, length: 180)

.page-header
  %h1
    %small.pre-title= division_date_and_time(@division) + ", " + @division.australian_house_name
    = yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link("Summary", division_path2(@division), "Overview of division", @display.nil?)
    = nav_link("Policies", division_with_policy_path(@division, @policy), "Show or change the polices which vote on this division", @display == "policies")

= render "current_policies_list", division: @division, display: @display

- if user_signed_in?
  - # TODO This action needs to change to add the policy selected in the "#policies select menu"
  %form.form-inline.policyvote{:action => division_with_policy_path(@division, @policy), :method => "post"}
    %legend.small
      %p Connect this division with relevant policies.

      %p Please read policy definitions and the division’s description before altering list.

    %fieldset
      %label People who are
      = select_tag "policies", options_from_collection_for_select(Policy.all, "id", "name"), size: 1, class: "form-control", :prompt => "Select related policy"

      would have
      %label voted
      - select_options = {'Non-voter' => '--',
                          'Aye (strong)' => 'aye3',
                          'Aye' => 'aye',
                          'Abstain' => 'both',
                          'No' => 'no',
                          'No (strong)' => 'no3'}
      = select_tag "vote#{@policy.id}", options_for_select(select_options, (@policy.vote_for_division(@division) || '--')), size: 1, class: "form-control", :prompt => "Select vote"

    %input.btn.btn-primary{:name => "submit", :type => "submit", :value => "Update"}>/

- else
  %p
    = link_to "Login", new_user_session_path, title: "Login to edit policies"
    to edit policy connections.

