- if @division.edited?
  - content_for :history_notice do
    .history-notice
      %p.container
        = link_to "Division last edited #{relative_time @division.wiki_motion.edit_date}", history_division_path(@division), title: "View the edit history of this division."
        by
        = link_to @division.wiki_motion.user.name, @division.wiki_motion.user

= render "header", division: @division
= render "motion", division: @division
= render "summary", division: @division, member: @member, members: @members

- if @division.policies
  %h2.h4 Related Policies

  = render "current_policies_list", division: @division, display: @display
