- content_for :title do
  = truncate(@division.name, length: 180)

.page-header
  %h1
    %small.pre-title= division_date_and_time(@division) + " - " + @division.australian_house_name
    = yield :title

- if @member.nil?
  #secondnavtabs
    %ul.nav.nav-tabs
      = nav_link("Summary", division_path2(@division), "Overview of division", @display.nil?)
      = nav_link("Policies", division_with_policy_path(@division, nil), "Show or change the polices which vote on this division", @display == "policies")

= render "motion", member: @member, division: @division

= render "summary", division: @division, members: @members, member: @member

- if @division.policies
  %h2 Related Policies
  - @division.policies.sort{|p1,p2| p1.name <=> p2.name }.each do |policy|
    %p.lead
      People who are
      = link_to policy.name.downcase, policy
      - # TODO: Make this show the nice form of the vote e.g. No (Strong)
      would have voted '#{policy.vote_for_division(@division)}'

  - if @display != "policies"
    = link_to("Edit related policies", division_with_policy_path(@division, nil), title: "Show or change the polices which vote on this division")
