- content_for :title do
  = truncate(@division.name, length: 180)

.page-header
  %h1
    %small.pre-title= division_date_and_time(@division) + ", " + @division.australian_house_name
    = yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link("Summary", division_path2(@division), "Overview of division", @display.nil?)
    = nav_link("Policies", division_with_policy_path(@division, @policy), "Show or change the polices which vote on this division", @display == "policies")

= render "current_policies_list", division: @division, display: @display

- if user_signed_in?
  = form_for @division.policy_divisions.new, html: {class: 'form-inline policyvote'} do |f|
    %legend.small
      %p Connect this division with relevant policies.
      %p Please read policy definitions and the division’s description before altering list.
    %fieldset
      %label People who are
      - # TODO: Don't display policies already selected
      = f.collection_select :policy_id, Policy.all, "id", "name", {prompt: "Select related policy"}, size: 1, class: "form-control"
      would have
      %label voted
      - select_options = {'Aye (strong)' => 'aye3',
                          'Aye' => 'aye',
                          'No' => 'no',
                          'No (strong)' => 'no3'}
      = f.select :vote, options_for_select(select_options), {prompt: "Select vote"}, size: 1, class: "form-control"
    = f.submit 'Create', class: 'btn btn-primary'
- else
  %p
    = link_to "Login", new_user_session_path, title: "Login to edit policies"
    to edit policy connections.

