- set_meta_tags description: "A vote in the #{@division.full_house_name} on #{formatted_date(@division.date)}. #{@division.name}."
:ruby
  set_meta_tags og: {
    title: divisions_short_description(@division),
    description: "Division: " + truncate(@division.name, length: 189),
    type: "website",
    url: request.original_url,
    site_name: Settings.project_name
  }
  set_meta_tags twitter: {
    card: "summary",
    site: "@" + Settings.project_twitter,
    title: divisions_short_description(@division),
    description: "Division: " + truncate(@division.name, length: 189)
  }

- if @division.edited?
  - content_for :history_notice do
    =render "layouts/history_notice", policy: nil, division: @division

= render "header", division: @division
= render "social_share"
= render "motion", division: @division
= render "external_links", division: @division
= render "summary", division: @division, members: @members, rebellions: @rebellions, whips: @whips, votes: @votes, members_vote_null: @members_vote_null

- unless @division.related_divisions.empty?
  %section.page-section#related-divisions
    %h2 Related divisions
    %p
      - if @division.related_divisions.size == 1
        Another division relating
      - else
        = @division.related_divisions.size.to_words.capitalize
        divisions relating
      to the same
      = @division.bills.count == 1 ? "bill" : "bills"
      as this one:
    = render partial: "divisions", locals: {member: [], house: nil, divisions: @division.related_divisions}
