- content_for :title do
  = truncate(@division.name, length: 180)

%h1
  %small.pre-title= division_date_and_time(@division) + ", " + @division.australian_house_name
  = yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    = division_nav_link(@division, nil, "Summary", "Overview of division", @display)
    = division_nav_link(@division, "allvotes", "All voters", "Every MP who cast a vote in the division", @display)
    = division_nav_link(@division, "allpossible", "All eligible voters", "Show even MPs who did not vote but could have", @display)
    = division_nav_link(@division, "policies", "Policies", "Show or change the polices which vote on this division", @display)

- if @display == "policies"
  = render "policies", policy: @policy, changed_from: @changed_from, division: @division

= render "motion", member: @member, division: @division

- if @display.nil? || @display == "allpossible"
  = render "summary", division: @division, display: @display, sort: @sort, votes: @votes, members: @members
- elsif @display == "allvotes"
  = render "allvotes", division: @division, sort: @sort, votes: @votes
