%style
  = Diffy::CSS

- content_for :title do
  Division Description Changes —
  = @division.original_name
  —
  = formatted_date(@division.date)

.page-header
  %h1= yield :title

%p
  All changes made to the description and title of this
  division.
%p
  = link_to "View division", division_with_policy_path(@division)
  |
  = link_to "Edit description", edit_division_path2(@division)

%table.table
  %thead
    %tr
      %th Change
      %th Division Description Changes
  %tbody
    - @division.wiki_motions.each_with_index do |wiki_motion, index|
      %tr
        %td{:width => "16%"}
          = link_to "#{@division.australian_house} vote #{@division.date}##{@division.number}", division_with_policy_path(@division)
          %p
            Edited by
            = wiki_motion.user.real_name
          %p
            on
            = wiki_motion.edit_date.strftime('%F %T')
        %td
          = Diffy::Diff.new(wiki_motion.previous_description, wiki_motion.text_body[/--- MOTION EFFECT ---(.*)--- COMMENT/m, 1]).to_s(:html).html_safe
