- set_meta_tags description: "A vote in the #{@division.australian_house_name} on #{formatted_date(@division.date)}. #{@division.name}."

- if @division.edited?
  - content_for :history_notice do
    =render "layouts/history_notice", division: @division

= render "header", division: @division, member: @member
= render "motion", division: @division
= render "summary", division: @division, members: @members

- if @division.policies
  %section.page-section#related-policies
    %h2 Related Policies

    = render "current_policies_list", division: @division, display: @display

- unless @division.related_divisions.empty?
  %section.page-section#related-divisions
    %h2 Related divisions
    %p
      Because they relate to the same
      = @division.bills.count == 1 ? "bill" : "bills"
      as this division
    = render partial: "divisions", object: @division.related_divisions
