- content_for :title do
  = truncate(@division.name, length: 180)

.page-header
  %h1
    %small.pre-title= division_date_and_time(@division) + ", " + @division.australian_house_name
    = yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link("Summary", division_with_policy_path(@division, display: nil, dmp: params[:dmp]), "Overview of division", @display.nil?)
    = nav_link("Policies", division_with_policy_path(@division, display: "policies", dmp: params[:dmp]), "Show or change the polices which vote on this division", @display == "policies")

- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{class: "alert alert-" + (name.to_s == "notice" ? "success" : "danger")}
      %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
      %div{id: "flash_#{name}"}= msg

- if @display.nil?
  - if @division.policies.any?
    %section.division-summary
      %p
        This division relates to the policy
        = "position".pluralize(@division.policies.size)
        = policies_list_sentence(@division.policies) + "."

  = render "motion", member: @member, division: @division

  = render "summary", division: @division, members: @members

- elsif @display == "policies"
  = render "policies", policy: @policy, changed_from: @changed_from, division: @division
