.row
  .col-xs-3.col-md-2
    = link_to "https://github.com/mlandauer", class: "thumbnail has-tooltip", title: "Matthew Landauer" do
      = image_tag("https://avatars0.githubusercontent.com/u/2221?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/henare", class: "thumbnail has-tooltip", title: "Henare Degan" do
      = image_tag("https://avatars3.githubusercontent.com/u/48945?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/equivalentideas", class: "thumbnail has-tooltip", title: "Luke Bacon" do
      = image_tag("https://avatars3.githubusercontent.com/u/1239550?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/DanielKinsman", class: "thumbnail has-tooltip", title: "Daniel Kinsman" do
      = image_tag("https://avatars2.githubusercontent.com/u/15639?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/kat", class: "thumbnail has-tooltip", title: "Katherine Szuminska" do
      = image_tag("https://avatars3.githubusercontent.com/u/95376?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/brfairless", class: "thumbnail has-tooltip", title: "Ben Fairless" do
      = image_tag("https://avatars3.githubusercontent.com/u/6841582?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/tracymu", class: "thumbnail has-tooltip", title: "Tracy Mu" do
      = image_tag("https://avatars0.githubusercontent.com/u/3888414?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/damncabbage", class: "thumbnail has-tooltip", title: "Rob Howard" do
      = image_tag("https://avatars1.githubusercontent.com/u/133028?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/MicaelaMicaela", class: "thumbnail has-tooltip", title: "Micaela Ash" do
      = image_tag("https://avatars0.githubusercontent.com/u/6345406?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/novemberkilo", class: "thumbnail has-tooltip", title: "Navin" do
      = image_tag("https://avatars1.githubusercontent.com/u/181086?v=2&s=150")
  .col-xs-3.col-md-2
    = link_to "https://github.com/maxious", class: "thumbnail has-tooltip", title: "Alexander Sadleir" do
      = image_tag("https://avatars1.githubusercontent.com/u/81432?v=2&s=150")
