.row
  = link_to "https://www.instagram.com/tv/Cb6_kXyDpfA", title: "See on Instagram" do
    %figure.col-md-6.col-lg-5
      %blockquote
        No bells or whistles and nothing dodgy. It's an open source platform.
      %footer
        %span.quote-avatar-container
          = image_tag("", data: {original: image_path("avatars/sarah_wilson.jpg")}, width: 64, height: 64, alt: "Photo of Sarah Wilson", class: "lazy img-circle")
        Sarah Wilson, best-selling author, podcaster

  %figure.col-md-6.col-lg-5.col-lg-offset-2
    %blockquote
      No matter your political alignment, you should check https://theyvoteforyou.org.au to see if your MP values align with you.
    %footer
      %span.quote-avatar-container
        = image_tag("", data: {original: image_path("avatars/alice_in_covid_land.jpg")}, width: 64, height: 64, alt: "Photo of alice in covid-land", class: "lazy img-circle")
      alice in covid-land

.row
  %figure.col-md-6.col-lg-5
    %blockquote
      Weird that politicians get tetchy about having their voting record on the record when it's already in Hansard, but who's got time for that? I'm here for it.
    %footer
      %span.quote-avatar-container
        = image_tag("", data: {original: image_path("avatars/emmaaargh.jpg")}, width: 64, height: 64, alt: "Photo of єmmaaargh²", class: "lazy img-circle")
      єmmaaargh²

  = link_to "https://www.news.com.au/national/this-website-will-tell-you-what-your-mp-voted-for/news-story/9e48918aa62ac5c4f196b5e53e4339ec", title: "See on news.com.au" do
    %figure.col-md-6.col-lg-5.col-lg-offset-2
      %blockquote
        It’s all very scientific.
      %footer
        %span.quote-avatar-container
        Kassia Byrnes, Youth Editor news.com.au

.row
  %figure.col-md-6.col-lg-5
    %blockquote
      Because democracy should be accessible for everyone.
    %footer
      %span.quote-avatar-container
        = image_tag("", data: {original: image_path("avatars/daniel_ferguson.jpg")}, width: 64, height: 64, alt: "Photo of Daniel Ferguson", class: "lazy img-circle")
      Daniel Ferguson

  %figure.col-md-6.col-lg-5.col-lg-offset-2
    %blockquote
      Politicians say a lot, but how they vote is what really counts.
    %footer
      %span.quote-avatar-container
        = image_tag("", data: {original: image_path("avatars/hey_maze.jpg")}, width: 64, height: 64, alt: "Photo of Hey Maze", class: "lazy img-circle")
      Hey Maze
