%h2#supporting_orgs Support for this OpenAustralia Foundation project

%ul.grid-list
  %li.grid-list-module
    = link_to "Open Forum", class: 'org-openforum'
  %li.grid-list-module
    = link_to "mySociety", class: 'org-mysociety'
  %li.grid-list-module
    = link_to "Open North", class: 'org-open-north'
  %li.grid-list-module
    = link_to "DATA (Uruguay)", class: 'org-data-uruguay'
  %li.grid-list-module
    = link_to "Fundación Ciudadano Inteligente", class: 'org-fci'
  %li.grid-list-module
    = link_to "Sunlight Foundation", class: 'org-sunlight-foundation'
  %li.grid-list-module
    = link_to "Civio", class: 'org-civio'
  %li.grid-list-module
    = link_to "Openpolis", class: 'org-openpolis'
  %li.grid-list-module
    = link_to "Parliamentary Monitoring Group (South Africa)", class: 'org-pmg-sa'
  %li.grid-list-module
    = link_to "Regards Citonyens", class: 'org-regards-citonyens'
  %li.grid-list-module
    = link_to "Electronic Frontiers Australia", class: 'org-efa'
