%h2.h3#supporting_orgs
  Supporting organisations of this
  = link_to "OpenAustralia Foundation", "https://www.oaf.org.au/"
  project

%p.small.text-muted
  These organisations share the objectives of #{inline_project_name}.
   hands.

  - supporting_orgs = [
    {
      url: "http://www.openforum.com.au/",
      class: "supporting-org org-open-forum",
      logo: "open-forum-logo.png",
      alt: "Open Forum",
      title: "Open Forum"
    },
    {
      url: "https://www.efa.org.au/",
      class: "supporting-org org-op",
      logo: "efa-logo.png",
      alt: "Electronic Frontiers Australia",
      title: "Electronic Frontiers Australia"
    },
    {
      url: "https://mysociety.org",
      class: "supporting-org org-mysociety",
      logo: "mysociety-logo.png",
      alt: "mySociety",
      title: "mySociety"
    },
    {
      url: "http://opennorth.ca",
      class: "supporting-org org-open-north",
      logo: "open-north-logo.png",
      alt: "OpenNorth",
      title: "OpenNorth"
    },
    {
      url: "http://datauy.org/",
      class: "supporting-org org-data-uruguay",
      logo: "data-logo.png",
      alt: "D.A.T.A.",
      title: "D.A.T.A."
    },
    {
      url: "http://www.civio.es/en/",
      class: "supporting-org org-civio",
      logo: "civio-logo.png",
      alt: "Civio",
      title: "Civio"
    },
    {
      url: "http://www.openpolis.it/",
      class: "supporting-org org-openpolis",
      logo: "openpolis-logo.png",
      alt: "Openpolis",
      title: "Openpolis"
    },
    {
      url: "http://www.regardscitoyens.org/",
      class: "supporting-org org-regards-citoyens",
      logo: "regards-citoyens-logo.png",
      alt: "Regards Citonyens",
      title: "Regards Citonyens"
    },
    {
      url: "http://www.pmg.org.za/",
      class: "supporting-org org-pmg",
      logo: "pmg-logo.png",
      alt: "Parliamentary Monitoring Group, South Africa",
      title: "Parliamentary Monitoring Group, South Africa"
    },
    {
      url: "http://universoagora.org/",
      class: "supporting-org org-universo-agora",
      logo: "ua-logo.png",
      alt: "Universo Ágora",
      title: "Universo Ágora"
    },
    {
      url: "http://www.crta.rs/",
      class: "supporting-org org-crta",
      logo: "crta-logo.png",
      alt: "Center for Research, Transparency and Accountability",
      title: "Center for Research, Transparency and Accountability"
    },
    {
      url: "http://www.otvoreniparlament.rs/",
      class: "supporting-org org-op",
      logo: "op-logo.png",
      alt: "Otvoreni Parlament (Open Parliament, Serbia)",
      title: "Otvoreni Parlament (Open Parliament, Serbia)"
    }
  ]

  %ul.grid-list
    - supporting_orgs.each do |org|
      %li.grid-list-module
        = link_to org[:url], class: org[:class] do
          = image_tag("", data: {original: image_path(org[:logo])}, class: "lazy", alt: org[:alt], width: "200", height: "110", title: org[:title])
          %noscript
            = image_tag(image_path(org[:logo]), alt: org[:alt], width: "200", height: "110", title: org[:title])
