%h2#supporting_orgs Support for this OpenAustralia Foundation project

%ul.grid-list
  %li.grid-list-module
    = link_to "", class: "supporting-org org-open-forum" do
      %h3 Open Forum
  %li.grid-list-module
    = link_to "", class: "supporting-org org-mysociety" do
      %h3 mySociety
  %li.grid-list-module
    = link_to "", class: "supporting-org org-open-north" do
      %h3 Open North
  %li.grid-list-module
    = link_to "", class: "supporting-org org-data-uruguay" do
      %h3 DATA (Uruguay)
  %li.grid-list-module
    = link_to "", class: "supporting-org org-ciudadano-inteligente" do
      %h3 Fundación Ciudadano Inteligente
  %li.grid-list-module
    = link_to "", class: "supporting-org org-sunlight-foundation" do
      %h3 Sunlight Foundation
  %li.grid-list-module
    = link_to "", class: "supporting-org org-civio" do
      %h3 Civio
  %li.grid-list-module
    = link_to "", class: "supporting-org org-openpolis" do
      %h3 Openpolis
  %li.grid-list-module
    = link_to "", class: "supporting-org org-pmg" do
      %h3 Parliamentary Monitoring Group (South Africa)
  %li.grid-list-module
    = link_to "", class: "supporting-org org-regards-citoyens" do
      %h3 Regards Citonyens
  %li.grid-list-module
    = link_to "", class: "supporting-org org-efa" do
      %h3 Electronic Frontiers Australia
