%h2.h3#supporting_orgs
  Support for this
  = link_to "OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au/"
  project

%ul.grid-list
  %li.grid-list-module
    = link_to "", class: "supporting-org org-open-forum" do
      = image_tag("", data: {original: image_path("open-forum-logo.png")}, class: "lazy" , alt: "Open Forum", width: "120", title: "Open")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-mysociety" do
      = image_tag("", data: {original: image_path("mysociety-logo.png")}, class: "lazy" , alt: "mySociety", width: "200", title: "mySociety")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-open-north" do
      = image_tag("", data: {original: image_path("open-north-logo.png")}, class: "lazy" , alt: "Open North", width: "200", title: "Open North")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-data-uruguay" do
      = image_tag("", data: {original: image_path("data-logo.png")}, class: "lazy" , alt: "DATA", width: "200", title: "DATA (Uruguay)")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-ciudadano-inteligente" do
      = image_tag("", data: {original: image_path("ciudadano-inteligente-logo.png")}, class: "lazy" , alt: "Fundación Ciudadano Inteligente", width: "220", title: "Fundación Ciudadano Inteligente")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-sunlight-foundation" do
      = image_tag("", data: {original: image_path("sunlight-foundation-logo.png")}, class: "lazy" , alt: "Sunlight Foundation", width: "200", title: "Sunlight Foundation")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-civio" do
      = image_tag("", data: {original: image_path("civio-logo.png")}, class: "lazy" , alt: "Civio", width: "150", title: "Civio")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-openpolis" do
      = image_tag("", data: {original: image_path("openpolis-logo.png")}, class: "lazy" , alt: "Openpolis", width: "230", title: "Openpolis")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-regards-citoyens" do
      = image_tag("", data: {original: image_path("regards-citoyens-logo.png")}, class: "lazy" , alt: "Regards Citonyens", width: "100", title: "Regards Citonyens")
  %li.grid-list-module
    = link_to "", class: "supporting-org org-pmg" do
      = image_tag("", data: {original: image_path("pmg-logo.png")}, class: "lazy" , alt: "Parliamentary Monitoring Group", width: "230", title: "Parliamentary Monitoring Group")
  -# %li.grid-list-module
  -#   = link_to "", class: "supporting-org org-efa" do
  -#     %h3 Electronic Frontiers Australia
