%h2#supporting_orgs Support for this OpenAustralia Foundation project

%ul.grid-list
  %li.grid-list-module
    = link_to "Open Forum"
  %li.grid-list-module
    = link_to "mySociety"
  %li.grid-list-module
    = link_to "Open North"
  %li.grid-list-module
    = link_to "DATA (Uruguay)"
  %li.grid-list-module
    = link_to "Fundación Ciudadano Inteligente"
  %li.grid-list-module
    = link_to "Sunlight Foundation"
  %li.grid-list-module
    = link_to "Civio"
  %li.grid-list-module
    = link_to "Openpolis"
  %li.grid-list-module
    = link_to "Parliamentary Monitoring Group (South Africa)"
  %li.grid-list-module
    = link_to "Regards Citonyens"
  %li.grid-list-module
    = link_to "Electronic Frontiers Australia"
