.row
  .col-md-8
    %h1 About Working Title

    %p In Australia we elect individuals to represent us in Parliament. These people, our Members of Parliament, are then supposed to vote in our interest and pass legislation to create the society we want. Our media gives enormous space to these members to talk about and sell their positions—but do you know how the individual speaking for your electorate actually votes? Do they every cross the floor to vote against their party for the interests and beliefs of people in your electorate?

    %p This website, Public Whip, creates a simple record of how every member of federal parliament votes in every recorded division (“Division” is the fancy parliamentary term for <em>vote in parliament</em>). Looking for the member who represents you? It’s easy to #{link_to "get started by searching", search_path()} or heading to the full lists of #{link_to "Senators", members_path(house: "senate")} and #{link_to "Representatives", members_path(house: "representatives")} .

    %p A lot of what happens in parliament is pretty confusing and full of stuffy jargon. People like you are using Public Whip to discuss and summarise many of the divisions and explain how they are related to specific policy possitions. That means that you don’t have to speak archaic, parlimentary language to understanding if a member votes #{link_to "for expanding powers to intercept communications", policy_path(44)} or #{link_to "for Aboriginal land rights", policy_path(24)} as an exmample. There is a whole #{link_to "list of policies", policies_path}, which you could even add to.

    %h2 Who made this?

    %p Public Whip is a non-partisan, open source project by the OpenAustralia Foundation, a not-for-profit, independent, charity organisation that builds websites like this to help you keep tabs your government.

    %p The OpenAustralian Foundation has ported this project from an older website set up in the UK...

    %h2 Contribute

    %p Public Whip is an Open Source project. That means that a whole community of people add to and help maintain and improve this website in their own, big and small ways. The project is hosted on Github, where you can see all the full list of contributors, and find out how to contribute yourself.

    %p If you’re not a civic-hacker (yet), you can help make this project better for everyone by summarising divisions and maintaining and discussing policies.

    %p You could also #{link_to "make a tax deductible donation to the OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au/donate/"} to support us in creating and maintaining projects like this. You can find out about and use the other tools we provide, ...

    %h2 Contact

    %p Email the OpenAustralia Foundation at #{mail_to "contact@openaustraliafoundation.org.au"}.

    %p You can also read the #{link_to "OpenAustralia Foundation Blog", "https://www.openaustraliafoundation.org.au/blog/"}, follow us on #{link_to "Twitter", "http://twitter.com/openaustralia"} and #{link_to "contribute to our work on Github", "https://github.com/openaustralia"}.
