- content_for :title, 'Recent edits'
- set_meta_tags description: "Recent edits to divisions and policies by the #{Settings.project_name} community."
.page-header
  %h1 All edits made in the last week

- history = (PaperTrail::Version.where("created_at > ?", 1.week.ago) + WikiMotion.where("edit_date > ?", 1.week.ago)).sort_by{|v| -v.created_at.to_i}

%ul.row.list-unstyled
  - history.each do |version|
    - if version.kind_of?(WikiMotion)
      %li.object-item
        %p
          Changed text on
          = link_to version.division.name, version.division

        %p.small.object-primary.text-muted
          = link_to version.user.name, version.user
          = time_ago_in_words(version.created_at)
          ago
    - else
      %li.object-item
        = version_sentence(version, show_policy: true)
