- set_meta_tags description: default_meta_description

:ruby
  set_meta_tags og: {
    title: "How does your MP vote on the issues that matter to you?",
    description: "Forget what politicians say. What truly matters is what they do. And what they do is vote, to write our laws which affect us all.",
    type: "website",
    url: request.original_url,
    image: image_url("tvfy_general_social_card.png"),
    site_name: Settings.project_name
  }
  set_meta_tags twitter: {
    card: "summary",
    site: "@" + Settings.project_twitter,
    image: image_url("tvfy_general_social_card.png"),
    title: "How does your MP vote on the issues that matter to you?",
    description: "Forget what politicians say. What truly matters is what they do. And what they do is vote, to write our laws which affect us all."
  }

- content_for :header do
  .site-introduction.banner-section.jumbotron
    %h1.banner-heading
      How does your MP vote on the issues that matter to you?

    .banner-action
      %form{action: search_path, method: "get", name: "pw"}
        %label{for: "query"}
          Find your representative by
          %strong postcode
          or
          %strong name
        .input-group
          %input.form-control#query{maxlength: "256", name: "query", type: "search", placeholder: "e.g. #{Member.random_postcode} or #{Member.random_current.name}", list: "members-datalist"}
          %span.input-group-btn
            %button.btn.btn-primary{name: "button", type: "submit", value: "hero_search"} Search
        %datalist#members-datalist
          - @current_members.each do |member|
            %option{value: member.name}

.front-explanation.banner-section
  .container
    %p.lead
      Forget what politicians <em>say</em>. What truly matters is what they <em>do</em>. And what they do is <em>vote</em>, to write our laws which affect us all.

.front-panels-block.banner-section
  .container
    .front-panel.col-md-4
      = render "panel1"
    .front-panel.col-md-4
      = render "panel2"
    .front-panel.col-md-4
      = render "panel3"

.supporting-orgs-block.banner-section.wide-section
  = render "supporting_orgs"

.front-quote-block.banner-section
  .container
    = render "quote"
