- content_for :header do
  .row.banner-section.jumbotron
    %h1.banner-heading.col-md-7
      How does your MP Vote on the issues that matter to you?

    .banner-action.col-md-5
      %form{:action => search_path, :method => "get", :name => "pw"}
        %label{:for => "query"}
          Find your representative by
          %strong postcode
          or
          %strong name
        .input-group
          %input.form-control#query{:maxlength => "256", :name => "query", :onblur => "fadeout(this)", :onfocus => "fadein(this)", :size => "12"}/
          %span.input-group-btn
            %button.btn.btn-default{:name => "button", :type => "submit", :value => "Submit"} Search

%h2 Recent controversial divisions
%p
  = link_to "Show all divisions ordered by most recent", divisions_path, title: "Show all divisions ordered by most recent"

%table.table
  - unless @divisions.empty?
    - @divisions.each do |division|
      %tr
        %td{:class => division.house}= division.australian_house_name
        %td= formatted_date(division.date, true)
        %td= link_to truncate(division.name, length: 180), division

.row
  .col-md-4
    %h2 Top rebel MPs
    - ["representatives", "senate"].each do |house|
      %p
        = link_to members_path(house: house, sort: "rebellions") do
          Show all
          = members_type(house)
          ordered by rebellions

  .col-md-4
    %h2 Representatives and Senators who attend votes most often
    - ["representatives", "senate"].each do |house|
      %p
        = link_to members_path(house: house, sort: "attendance") do
          Show all
          = members_type(house)
          ordered by attendance

  .col-md-4
    %h2 Test a Representative or Senator against policies you care about
    %p
      = link_to "Browse", policies_path
      existing policies
  .clear
