- if @postcode
  - if @postcode_error
    - content_for :title, "Postcode Error"
  - else
    - content_for :title, "Representatives for postcode #{@postcode}"

  %h1= yield :title

  - if @postcode_error
    %p There was an error trying to look up the postcode: The postcode server returned an error.
  - else
    = render "members/members", members: @mps, house: nil

- elsif params[:query]
  - content_for :title, "Search for #{params[:query].gsub(/[^A-Za-z0-9 \.\,]/, '')}"

  %h1= yield :title
  %h2 People
  %table.table
    %thead
      %tr
        %th Name
        %th Electorate / State
        %th Party
    %tbody
      - if @mps.empty?
        %tr
          %td{colspan: 3} no members found
      - else
        - @mps.each do |mp|
          %tr
            %td= link_to mp.name, mp
            %td= link_to_unless mp.senator?, mp.electorate, electorate_path(mp)
            %td= mp.party
  %h2 Divisions
  %table.table
    %thead
      %tr
        %th House
        %th Date
        %th Time
        %th Subject
        %th
          Rebels
          %br/
          (
          = link_to "explain..", help_faq_path(anchor: "rebellion")
          )
        %th Turnout
        %th Majority
    %tbody
      - if @divisions.empty?
        %tr
          %td{colspan: "9"} no divisions found
      - else
        - @divisions.each do |division|
          %tr
            %td{class: division.house}= division.australian_house_name
            %td= formatted_date(division.date, true)
            %td= division.clock_time
            %td= link_to division.name, division_path(division)
            %td= division.rebellions
            %td= division.turnout
            %td= division.majority
  %p
    Also try browsing the list of #{link_to "all Representatives", members_path(house: "representatives")},
    = link_to "all Senators", members_path(house: "senate")
    or #{link_to "all divisions", divisions_path}.
  = render 'search_form'
- else
  - content_for :title, "Search"
  - content_for :on_load, "givefocus('query')"

  %h1= yield :title
  = render 'search_form'
