- if @postcode
  - if @postcode_error
    - content_for :title, "Postcode Error"
  - else
    - content_for :title, "Representatives for postcode #{@postcode}"

  %h1= yield :title

  - if @postcode_error
    %p There was an error trying to look up the postcode: The postcode server returned an error.
  - else
    = render "members/members", members: @mps, house: nil

- elsif params[:query]
  - content_for :title, "Search results for: #{params[:query].gsub(/[^A-Za-z0-9 \.\,]/, '')}"

  %h1= yield :title
  - if @mps.empty? && @divisions.empty?
    %p
      We're sorry but we couldn't find any people or divisions for your search term.
      Try your search again using some different terms.
  - if !@mps.empty?
    %h2 People
    = render "members/members", members: @mps, house: nil
  - if !@divisions.empty?
    %h2 Divisions
    = render "divisions/divisions", divisions: @divisions
  %p
    Also try browsing the list of #{link_to "all Representatives", members_path(house: "representatives")},
    = link_to "all Senators", members_path(house: "senate")
    or #{link_to "all divisions", divisions_path}.
  = render 'search_form'
- else
  - content_for :title, "Search"
  - content_for :on_load, "givefocus('query')"

  %h1= yield :title
  = render 'search_form'
