- if @postcode
  - content_for :title, "Representatives for postcode #{@postcode}"

  %h1= yield :title
  <table class="mps"></table>
- elsif params[:query]
  - content_for :title, "Search for #{params[:query]}"

  %h1= yield :title
  %p Found these divisions matching 'Tony Abbott':
  %table.votes
    %tr.headings
      %td House
      %td Date
      %td Time
      %td Subject
      %td
        Rebels
        %br/
        (
        %a{:href => "/faq.php#clarify"}> explain..
        )
      %td Turnout
      %td Majority
    %tr.odd
      %td{:colspan => "9"} no divisions found
  %p
    Found these Representatives and Senators whose names sound like
    'Tony Abbott':
  %table.mps
    %tr.headings
      %td Name
      %td Electorate / State
      %td Party
    %tr.odd
      %td
        %a{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives"}
          Tony Abbott
      %td
        %a{:href => "mp.php?mpc=Warringah"} Warringah
      %td Liberal Party
  %p
    Also try browsing the list of
    = succeed "," do
      %a{:href => "mps.php"}
        all
        Representatives
    %a{:href => "mps.php?house=lords"} all Senators
    or
    = succeed "." do
      %a{:href => "divisions.php"} all divisions
- else
  - content_for :title, "Search"
  - content_for :on_load, "givefocus('query')"

  %h1= yield :title
  %p.search
    Enter your postcode, MP name, constituency or
    debate topic:
  %form.search{:action => "search.php", :name => "pw"}
    %input#query{:maxlength => "256", :name => "query", :size => "25", :value => ""}/
    %input{:name => "button", :type => "submit", :value => "Search"}/
  %p.search
    %i
      Example: "2042", "Kevin Rudd", "Bennelong" or
      "Medicare"
  %p.search
    %span.ptitle MPs:
    You can enter a
    postcode to get a list of all MPs for that constituency, or else
    enter their name or part of their name. If you don't know exactly
    how to spell the name, write it as best you can like it sounds.
  %p.search
    %span.ptitle Divisions:
    To find
    divisions you are interested in, enter the name of a subject, such
    as "Pensions" or "Hunting". The Public Whip will search the titles
    of the divisions and the text of the motion being debated. If you
    enter multiple words, it will only find entries where they appear
    next to each other as you enter them. You can enter part of a
    word.
