- if @postcode
  - content_for :title, "Representatives for postcode #{@postcode}"

  %h1= yield :title
  %table.mps
    - @mps.each do |mp|
      %tr{:class => cycle("even", "odd")}
        %td= link_to mp.name, member_path(mp)
        %td= mp.party
        %td= link_to mp.electorate, electorate_path2(mp.electorate)
- elsif params[:query]
  - content_for :title, "Search for #{params[:query]}"

  %h1= yield :title
  %p Found these divisions matching 'Tony Abbott':
  %table.votes
    %tr.headings
      %td House
      %td Date
      %td Time
      %td Subject
      %td
        Rebels
        %br/
        (
        %a{:href => "/faq.php#clarify"}> explain..
        )
      %td Turnout
      %td Majority
    %tr.odd
      %td{:colspan => "9"} no divisions found
  %p
    Found these Representatives and Senators whose names sound like
    'Tony Abbott':
  %table.mps
    %tr.headings
      %td Name
      %td Electorate / State
      %td Party
    %tr.odd
      %td
        %a{:href => "mp.php?mpn=Tony_Abbott&mpc=Warringah&house=representatives"}
          Tony Abbott
      %td
        %a{:href => "mp.php?mpc=Warringah"} Warringah
      %td Liberal Party
  %p
    - # TODO: Remove hardcoded URLs
    Also try browsing the list of #{link_to "all Representatives", 'mps.php'},
    %a{:href => "mps.php?house=lords"} all Senators
    or #{link_to "all divisions", 'divisions.php'}.
  = render partial: 'search_form'
- else
  - content_for :title, "Search"
  - content_for :on_load, "givefocus('query')"

  %h1= yield :title
  = render partial: 'search_form'
