%h1.unstyled-heading
  %strong
    = link_to capitalise_initial_character(@policy.name_with_for), policy_url(@policy), class: "heading-object-link"

- if @version.kind_of?(WikiMotion)
  %p
    Changed text on related division
    = link_to @version.division.name, division_url_simple(@version.division)
- else
  = version_sentence(@version)

%p.small.object-primary
  = link_to version_author(@version).name, version_author(@version)
  %span.text-muted.small
    = @version.created_at.strftime("%l:%M%p - %d %b %Y")

%br

.text-muted
  %p.small
    Visit the
    = link_to "policy page", policy_url(@policy), class: "small"
    to unsubscribe from this policy.
  %p.small
    = link_to "View all your subscriptions.", user_subscriptions_url(@user), class: "small"
