%h1.unstyled-heading
  %strong
    = link_to capitalise_initial_character(@policy.name_with_for), policy_path(@policy, only_path: false), class: "heading-object-link"

- if @version.kind_of?(WikiMotion)
  %p
    Changed text on related division
    = link_to @version.division.name, division_path(@version.division, Rails.application.config.action_mailer.default_url_options.merge(only_path: false))
- else
  = version_sentence(@version, Rails.application.config.action_mailer.default_url_options.merge(only_path: false))

%p.small.object-primary.text-muted
  = version_author_link(@version, only_path: false)
  = @version.created_at.strftime("%I:%M%p - %d %b %Y")

%h2 Unsubscribe
%p
  Visit the
  = link_to "policy page", policy_path(@policy, only_path: false)
  to unsubscribe from this policy.
%p
  = link_to "Your subscriptions", user_subscriptions_path(@user, only_path: false)
  shows all your email alerts.
