%h2
  %a{:name => "votes"}
    All Votes Cast - sorted by
    - if @sort.nil?
      party
    - elsif @sort == "name"
      name
    - elsif @sort == "vote"
      vote
    - else
      raise
%p
  - if @house == "representatives"
    Representatives
  - elsif @house == "senate"
    Senators
  - else
    - raise
  for which their vote in this division differed
  from the majority vote of their party are marked in red. Also shows
  which
  - if @house == "representatives"
    Representatives
  - elsif @house == "senate"
    Senators
  - else
    - raise
  were ministers at the time of this vote. You
  can also see
  = link_to division_path(params.merge(display: "allpossible")) do
    every eligible
    - if @house == "representatives"
      Representative
    - elsif @house == "senate"
      Senator
    - else
      - raise
  including those who did not vote in this division.
= render "sort_links"
%table#votetable.votes
  %tr.headings
    %td Name
    %td
      - if @house == "representatives"
        Electorate
      - elsif @house == "senate"
        State
      - else
        - raise
    %td Party
    %td Vote
  - if @votes.empty?
    %tr.even
      %td{:colspan => "4"} No results found
  - else
    - @votes.each do |vote|
      %tr.even
        %td= link_to vote.name, member_path(vote.member)
        %td= vote.electorate
        %td
          = vote.party_long2
          - if vote.member.on_front_bench?(vote.date)
            (front bench)
        %td= vote.vote
