- if @member
  %p.mpondivision
    = member_voted_with(@member, @division).html_safe

.motion
  - if !@division.motion_edited?
    %p
      %strong
        Description automatically extracted from the debate, please
        = link_to "edit it", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}"
        to make it better.
  -# The motion can include html.
  -# TODO Need to check what happens when the user edits the motion. What can they add?
  .motion-text
    = simple_format(@division.motion)
  %p
    %b= link_to "Debate in Parliament", @division.oa_debate_url, title: "Links to debate shown at www.openaustralia.org"
    |
    %b= link_to "Source", @division.source_url, title: "The original record of vote as reported by Hansard"
    |
    %b= link_to "Edit", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}", title: "Edit and improve this description"
    (#{link_to "learn more", help_path(anchor: "motionedit")})
    - if @division.motion_edited?
      (last edited #{@division.wiki_motion.edit_date.strftime("%-d %b %Y").html_safe} by #{@division.wiki_motion.user.user_name})
