%h2
  %a{:name => "summary"} Party Summary
%p
  Votes by party, red entries are votes against the majority for that party.
.tableexplain
  %p
    %span.ptitle What is Tell?
    '+1 tell' means that in addition one member of that party was a
    = link_to "teller", "faq.php#jargon"
    for that division lobby.
  %span.ptitle What is Turnout?
  This is measured against the total membership of the party at the time of the vote.
%table
  %tr.headings
    %td Party
    %td Majority (#{@division.majority_type.capitalize})
    %td Minority (#{@division.minority_type.capitalize})
    %td Turnout
  - @division.whips.order(:party).each do |whip|
    -# Don't shown parties that haven't voted in this division
    - if whip.total_votes > 0
      %tr.odd
        %td= whip.party_name
        %td{:class => majority_vote_class(whip)}= whip.majority_votes_including_tells
        %td{:class => minority_vote_class(whip)}= whip.minority_votes_including_tells
        %td.percent= whip.attendance_percentage
  %tr.even
    %td.whip Total:
    %td{:class => majority_vote_total_class(@division)}= @division.majority_votes_including_tells
    %td{:class => minority_vote_total_class(@division)}= @division.minority_votes_including_tells
    %td.percent= @division.attendance_percentage
%h2
  %a{:name => "votes"}
    Rebel Voters - sorted by
    - if @sort == "name"
      name
    - else
      party
%p
  - if @house == "representatives"
    Representatives
  - elsif @house == "senate"
    Senators
  - else
    - raise "A problem"
  for which their vote in this division differed
  from the majority vote of their party. You can see
  = link_to "all votes", division_path(params.merge(display: "allvotes"))
  in this division, or
  = link_to division_path(params.merge(display: "allpossible")) do
    every eligible
    - if @house == "representatives"
      Representative
    - elsif @house == "senate"
      Senator
    - else
      - raise "A problem"
  who could have voted in this division
= render "sort_links"
%table#votetable.votes
  %tr.headings
    %td Name
    - if @house == "senate"
      %td State
    - else
      %td Electorate
    %td Party
    %td Vote
  - if @votes.empty?
    %tr.even
      %td{:colspan => "4"} no rebellions
  - else
    - @votes.each do |vote|
      %tr.even
        %td= link_to vote.name, member_path(vote.member)
        %td= vote.electorate
        %td= vote.party_long2
        %td= vote.vote
