%h1= @short_title
/ the second tier navigation as dropdowns
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
%form{:action => "/redir.php", :method => "post", :name => "secondnav", :style => "display: inline"}
  %select#r{:name => "r", :onchange => "secondnav_goto()"}
    %option{:class => (@rdisplay == "2010" ? "on" : "off"), :onclick => "secondnav_goto()", :selected => (@rdisplay == "2010"), :title => "", :value => divisions_path(params.merge(rdisplay: nil))} 2010 (current)
    %option{:class => (@rdisplay == "2007" ? "on" : "off"), :onclick => "secondnav_goto()", :selected => (@rdisplay == "2007"), :title => "", :value => divisions_path(params.merge(rdisplay: "2007"))} 2008-2010
    %option{:class => (@rdisplay == "2004" ? "on" : "off"), :onclick => "secondnav_goto()", :selected => (@rdisplay == "2004"), :title => "", :value => divisions_path(params.merge(rdisplay: "2004"))} 2004-2007
    %option{:class => (@rdisplay == "all" ? "on" : "off"), :onclick => "secondnav_goto()", :selected => (@rdisplay == "all"), :title => "", :value => divisions_path(params.merge(rdisplay: "all"))} All Parliaments
  %input{:name => "submit", :type => "submit", :value => "Go"}/
%form{:action => "/redir.php", :method => "post", :name => "secondnav", :style => "display: inline"}
  %select#r2{:name => "r2", :onchange => "secondnav_goto2()"}
    %option{:class => (@house.nil? ? "on": "off"), :onclick => "secondnav_goto2()", :selected => @house.nil?, :title => "", :value => divisions_path(params.merge(house: nil))} All houses
    %option{:class => (@house == "representatives" ? "on" : "off"), :onclick => "secondnav_goto2()", :selected => (@house == "representatives"), :title => "", :value => divisions_path(params.merge(house: "representatives"))} Representatives only
    %option{:class => (@house == "senate" ? "on" : "off"), :onclick => "secondnav_goto2()", :selected => (@house == "senate"), :title => "", :value => divisions_path(params.merge(house: "senate"))} Senate only
  %input{:name => "submit", :type => "submit", :value => "Go"}/
%form{:action => "/redir.php", :method => "post", :name => "secondnav", :style => "display: inline"}
  %select#r3{:name => "r3", :onchange => "secondnav_goto3()"}
    %option{:class => (@rdisplay2.nil? ? "on": "off"), :onclick => "secondnav_goto3()", :selected => (@rdisplay2.nil?), :title => "", :value => divisions_path(params.merge(rdisplay2: nil))} All Divisions
    %option{:class => (@rdisplay2 == "rebels" ? "on" : "off"), :onclick => "secondnav_goto3()", :selected => (@rdisplay2 == "rebels"), :title => "", :value => divisions_path(params.merge(rdisplay2: "rebels"))} Rebellions
  %input{:name => "submit", :type => "submit", :value => "Go"}/
<!-- the second tier navigation as dropdowns end-->

%p
  A 'division' is parliamentary terminology for a 'vote'
  (#{link_to "read more...", "/faq.php#jargon"}).
  This page shows divisions in the Australian parliament. Make sure you
  = link_to "read the explanation", "/faq.php#clarify"
  about rebellions, as they may not be what you expect.

- if @rdisplay2 == "rebels"
  %p
    This is a table showing only the divisions where there were at
    least ten #{link_to "rebels", "faq.php#clarify"}.

%p{:align => "center", :style => "font-size: 89%"}
  Sort by:
  = sort_link(nil, "date", "Date", @sort)
  |
  = sort_link("subject", "subject", "Subject", @sort)
  |
  = sort_link("rebellions", "rebellions", "Rebellions", @sort)
  |
  = sort_link("turnout", "turnout", "Turnout", @sort)
  %table.votes
    %tr.headings
      - if @house.nil?
        %td House
      %td Date
      %td Time
      %td Subject
      %td
        Rebels
        %br>/
        (#{link_to "explain..", "/faq.php#clarify"})
      %td Turnout
      %td Majority
    - if @divisions.empty?
      %tr.odd
        %td(colspan="9") no votes listed
    - else
      - @divisions.each do |division|
        %tr{:class => cycle("even", "odd")}
          - if @house.nil?
            %td{:class => division.house}= division.australian_house_name
          %td= division.date.strftime("%d&nbsp;%b&nbsp;%Y").html_safe
          %td
            - if division.clock_time
              = division.clock_time.strftime("%H:%M")
          %td
            = link_to division.name, "division.php?date=#{division.date}&number=#{division.number}&house=#{division.australian_house}"
          %td= division.rebellions
          %td= division.turnout
          %td= division.majority
