%h1= @short_title
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
.secondnavtabs
  %ul
    %li.on Summary
    %li.off
      = link_to "All voters", division_path(params.merge(display: "allvotes")), title: "Every MP who cast a vote in the division", class: "off"
    %li.off
      = link_to "All eligible voters", division_path(params.merge(display: "allpossible")), title: "Show even MPs who did not vote but could have", class: "off"
    %li.off
      = link_to "Similar Divisions", division_path(params.merge(display: "similardivisionsparl")), title: "Show all divisions in order of similarity of vote in this Parliament", class: "off"
    %li.off
      = link_to "Policies", division_path(params.merge(display: "policies")), title: "Show or change the polices which vote on this division", class: "off"
<!-- the second tier navigation as dropdowns end-->
.motion
  %p
    %strong
      Description automatically extracted from the debate,
      please
      = link_to "edit it", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}"
      to make it better.
  -# The motion can include html.
  -# TODO Need to check what happens when the user edits the motion. What can they add?
  = raw @division.motion
  %p
    %b
      = link_to "Debate in Parliament", @division.oa_debate_url, title: "Links to debate shown at www.openaustralia.org"
    |
    %b
      = link_to "Source", @division.source_url, title: "The original record of vote as reported by Hansard"
    |
    %b
      = link_to "Edit", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}", title: "Edit and improve this description"
    (#{link_to "learn more", "faq.php#motionedit"})

= render "summary"