- content_for :title do
  = @division.name
  \—
  = formatted_date(@division.date)
  - if @division.clock_time
    at
    = @division.clock_time.strftime('%H:%M')

%h1= yield :title
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
#secondnavtabs
  %ul
    = division_nav_link(nil, "Summary", "Overview of division", @display)
    = division_nav_link("allvotes", "All voters", "Every MP who cast a vote in the division", @display)
    = division_nav_link("allpossible", "All eligible voters", "Show even MPs who did not vote but could have", @display)
    = division_nav_link("policies", "Policies", "Show or change the polices which vote on this division", @display)
<!-- the second tier navigation as dropdowns end-->

- if @display == "policies"
  = render "policies", active_policy: @active_policy, active_policy_vote: (@active_policy.vote_for_division(@division) if @active_policy), changed_from: @changed_from, division: @division

= render "motion", member: @member, division: @division

- if @display.nil? || @display == "allpossible"
  = render "summary", division: @division, display: @display, sort: @sort, house: @house, votes: @votes, date: @date, members: @members
- elsif @display == "allvotes"
  = render "allvotes", sort: @sort, house: @house, votes: @votes
