%h1= @short_title
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
.secondnavtabs
  %ul
    = display_link(nil, "Summary", "Overview of division", @display)
    = display_link("allvotes", "All voters", "Every MP who cast a vote in the division", @display)
    = display_link("allpossible", "All eligible voters", "Show even MPs who did not vote but could have", @display)
    = display_link("policies", "Policies", "Show or change the polices which vote on this division", @display)
<!-- the second tier navigation as dropdowns end-->
.motion
  %p
    %strong
      Description automatically extracted from the debate, please
      = link_to "edit it", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}"
      to make it better.
  -# The motion can include html.
  -# TODO Need to check what happens when the user edits the motion. What can they add?
  = raw @division.motion
  %p
    %b= link_to "Debate in Parliament", @division.oa_debate_url, title: "Links to debate shown at www.openaustralia.org"
    |
    %b= link_to "Source", @division.source_url, title: "The original record of vote as reported by Hansard"
    |
    %b= link_to "Edit", "account/wiki.php?type=motion&date=#{params[:date]}&number=#{params[:number]}&house=#{@house}&rr=#{CGI.escape(request.fullpath)}", title: "Edit and improve this description"
    (#{link_to "learn more", "faq.php#motionedit"})

- if @display.nil?
  = render "summary"
- elsif @display == "allvotes"
  = render "allvotes"
- elsif @display == "allpossible"
  = render "summary"
- else
  - raise "unexpected value"