- content_for :title, "Login to #{Settings.project_name}"

%h1 Login

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f|
  - # TODO: This error isn't showing
  = f.error_notification

  .form-group= f.input :email, as: :email, autofocus: true
  .form-group= f.input :password

  - if devise_mapping.rememberable?
    .checkbox
      %label
        = f.check_box :remember_me
        Remember me

  = f.submit "Login to #{Settings.project_name}", class: "btn btn-default"

%ul.form-secondary.nav.nav-pills
  %li= link_to 'Register a new account', new_registration_path(resource_name), class: "btn-xs"
  %li= link_to 'Reset your password here', new_password_path(resource_name), class: "btn-xs"
