.socialmedia-card-container
  %p.socialmedia-card-logo
    %span.subtext They Vote For You
  %div.socialmedia-card-member-votes-element
    .socialmedia-card-member-votes-text
      .socialmedia-card-member-image2
        = member_image(@member, :large)
      
      %div.fitin2
        .socialmedia-card-heading-text
          = @card_title
            

    %div.socialmedia-card-member-votes
      %ul.socialmedia-card-member-votes-list
        - @policies.each do |policy|
          %li.socialmedia-card-member-votes-list-inline
            = policy.name.capitalize
        %li.socialmedia-card-member-votes-list-inline
          +
          = @number_left
          Others

  %p.socialmedia-card-disclaimer
    %span.subtext
      Find out more:
      = remove_slash(get_hostname(root_url) + member_path_simple(@member))

:javascript
  window.addEventListener('load', (event) => {
    fitin = document.querySelector('.fitin2');
    fitin_inner = document.querySelector('div .socialmedia-card-heading-text');

    while (fitin_inner.offsetHeight > fitin.offsetHeight) {
        fontStyling = window
        .getComputedStyle(fitin_inner, null)
        .getPropertyValue('font-size');
        fontSize = parseFloat(fontStyling);
        fitin_inner.style.fontSize = fontSize - 1 + 'px';
    }
  });