<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Confirm your email address</title>
<style>
<%= Publicwhip::Application.assets["email.css"].to_s.html_safe %>
</style>
</head>

<body>

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <%= @resource.name %>, you are one step away from creating your account on
                    <em><%= Settings.project_name %></em>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    Please confirm your email address by clicking the link below
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= link_to "Confirm email address", confirmation_url(@resource, confirmation_token: @token), class: "btn-primary" %>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    &mdash; The <em><%= Settings.project_name %></em> team
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="aligncenter content-block">Follow <a href="http://twitter.com/<%= Settings.project_twitter %>">@<%= Settings.project_twitter %></a> on Twitter.</td>
            </tr>
          </table>
        </div></div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>
