%footer.site-footer
  .footer-main
    .container
      %ul.nav.navbar-nav
        %li= link_to "Про нас", about_path
        %li= link_to "Допомога/FAQ", help_faq_path
        %li= link_to "Останні зміни", history_path
        %li= link_to "API", help_data_path

      %p.author-msg
        Проект Громадської мережі
        = link_to "ОПОРА", "http://oporaua.org"

      %ul.author-media.list-inline.small
        %li.email
          = mail_to Settings.contact_email do
            %i.fi-mail
            Контакти
        - # TODO: Show or hide these based on project Settings
        %li.twitter
          = link_to "https://twitter.com/#{Settings.project_twitter}" do
            %i.fi-social-twitter
            Twitter
        %li.facebook
          = link_to "https://facebook.com/#{Settings.project_twitter}" do
            %i.fi-social-facebook
            facebook
        -# %li.blog= link_to "Blog", "https://www.openaustraliafoundation.org.au/blog/"
        -# %li.donate= link_to "Donate", "https://www.openaustraliafoundation.org.au/donate/theyvoteforyou/"


      %p.license-msg.small
        Усі дані та програмне забезпечення надаються з
        = link_to "відкритим вихідним кодом та є вільними для поширення", help_licencing_path
        %span.issues-link= link_to "Повідомити про проблему", "https://github.com/openaustralia/publicwhip/issues", title: "Report a bug or contribute an idea"

  .author-projects
    .container
      .author-projects-heading Explore our other projects:

      .row
        %ul.author-projects-list.list-unstyled.container
          %li.col-sm-6.col-md-3
            = link_to "http://www.openaustralia.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name OpenAustralia.org
              %p.author-project-description.small Keep tabs on what your representative is saying in Parliament
          %li.col-sm-6.col-md-3
            = link_to "http://www.electionleaflets.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name Election Leaflets
              %p.author-project-description.small Live election leaflet monitoring
          %li.col-sm-6.col-md-3
            = link_to "http://www.righttoknow.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name Right To Know
              %p.author-project-description.small Access inside information about what your government is doing
          %li.col-sm-6.col-md-3
            = link_to "http://www.planningalerts.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name PlanningAlerts
              %p.author-project-description.small Email alerts of planning applications near you
