%footer.site-footer
  .footer-main
    .container
      %ul.nav.navbar-nav
        %li= link_to "About", about_path
        %li= link_to "Help / FAQ", help_faq_path
        %li= link_to "Recent changes", history_path
        %li= link_to "API", help_data_path

      %p.author-msg
        An
        = link_to "OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au/"
        project

      %ul.author-media.list-inline.small
        %li.email
          = mail_to Settings.contact_email do
            %i.fi-mail
            Contact
        %li.twitter
          = link_to "http://twitter.com/openaustralia" do
            %i.fi-social-twitter
            Twitter
        %li.blog= link_to "Blog", "https://www.openaustraliafoundation.org.au/blog/"

      %p.license-msg.small
        This data and software are
        = link_to "free and open source", help_licencing_path

  .author-projects
    .container
      .author-projects-heading Explore our other projects:

      .row
        %ul.author-projects-list.list-unstyled.container
          %li.col-sm-6.col-md-3
            = link_to "http://www.openaustralia.org", class: 'author-projects-list-item' do
              %h4.author-project-name OpenAustralia.org
              %p.author-project-description.small Keep tabs on what your representative is saying in Parliament
          %li.col-sm-6.col-md-3
            = link_to "http://www.electionleaflets.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name Election Leaflets
              %p.author-project-description.small Live election leaflet monitoring
          %li.col-sm-6.col-md-3
            = link_to "http://www.righttoknow.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name Right To Know
              %p.author-project-description.small Access inside information about what your government is doing
          %li.col-sm-6.col-md-3
            = link_to "http://www.planningalerts.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name PlanningAlerts
              %p.author-project-description.small Email alerts of planning applications near you
