%footer.site-footer
  .footer-main
    .container
      %ul.nav.navbar-nav
        %li= link_to "About", about_path
        %li= link_to "Help / FAQ", help_faq_path
        %li= link_to "Recent changes", history_path
        %li= link_to "API", help_data_path

      %p.author-msg
        An
        = link_to "OpenAustralia Foundation", "https://www.oaf.org.au/"
        project

      %ul.author-media.list-inline.small
        %li.email
          = mail_to Settings.contact_email do
            %i.fi-mail
            Contact
        %li.twitter
          = link_to "https://twitter.com/#{Settings.project_twitter}" do
            %i.fi-social-twitter
            Twitter
        %li.blog= link_to "Blog", "https://www.oaf.org.au/blog/"
        %li.donate= link_to "Donate", "https://www.oaf.org.au/donate/theyvoteforyou/"


      %p.license-msg.small
        This data and software are
        = link_to "free and open source", help_licencing_path
        %span.issues-link= link_to "report an issue", "https://github.com/openaustralia/publicwhip/issues", title: "Report a bug or contribute an idea"

  .author-projects
    .container
      .author-projects-heading Explore our other projects:

      .row
        %ul.author-projects-list.list-unstyled.container
          %li.col-sm-4
            = link_to "https://www.openaustralia.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name OpenAustralia.org
              %p.author-project-description.small Keep tabs on what your representative is saying in Parliament
          %li.col-sm-4
            = link_to "https://www.righttoknow.org.au", class: 'author-projects-list-item' do
              %h4.author-project-name Right To Know
              %p.author-project-description.small Access inside information about what your government is doing
          %li.col-sm-4
            = link_to "https://www.planningalerts.org.au/", class: 'author-projects-list-item' do
              %h4.author-project-name PlanningAlerts
              %p.author-project-description.small Email alerts of planning applications near you
