%footer.site-footer
  .footer-main
    .container
      .row
        .col-sm-5
          %p.footer-main-sitename They Vote For You

          %p.footer-main-description.small
            A site dedicated to making parliamentary voting information accessible,
            understandable, and easy to use so that you can hold your elected representatives to account.

        .col-sm-4
          %nav.footer-main-mid
            %ul.nav-footer
              %li= link_to "About", about_path
              %li= link_to "API", help_data_path
              %li.blog= link_to "Blog", "https://www.oaf.org.au/blog/"
              %li= link_to "Help/FAQ", help_faq_path

            %ul.nav-footer
              %li= link_to "Licensing", help_licencing_path
              %li= link_to "Recent changes", history_path
              %li.issues-link= link_to "Report an issue", "https://github.com/openaustralia/theyvoteforyou/issues", title: "Report a bug or contribute an idea"

        .col-sm-3
          .donate-btn
            %p.donate-text
              Help keep They&nbsp;Vote&nbsp;For&nbsp;You trusted and independent
            = link_to "Donate Now", "https://www.oaf.org.au/donate/", class: "btn btn-primary", role: 'button'

  .author-details
    .container
      .row
        .col-sm-5
          %p.author-msg-intro.small Built & maintained by
          %p.author-msg
            = link_to "OpenAustralia Foundation", "https://www.oaf.org.au/"
          %p.footer-main-description.small
            = link_to "OpenAustralia Foundation", "https://www.oaf.org.au/"
            is a
            = link_to "registered charity", "https://www.acnc.gov.au/charity/charities/6bf25724-39af-e811-a960-000d3ad24282/profile"
            in Australia - company limited by guarantee.
            ABN
            = link_to "24 138 089 942", "https://www.abr.business.gov.au/ABN/View/24138089942"

        .col-sm-4
          -# .footer-main-mid
          %p.acknowledgement.small
            We acknowledge the traditional owners of the land now known as Australia.
            We pay our respects to their elders past, present and emerging.

        .col-sm-3
          %ul.author-media.list-inline.small
            %li.email
              = mail_to Settings.contact_email do
                %i.fi-mail
                -# Contact
            %li.twitter
              = link_to "https://twitter.com/#{Settings.project_twitter}" do
                %i.fi-social-twitter
