%footer.site-footer
  .footer-main
    .container
      %ul.nav.navbar-nav
        %li= link_to "Про проект", about_path
        %li= link_to "Допомога/FAQ", help_faq_path
        %li= link_to "Останні зміни", history_path
        %li= link_to "API", help_data_path

      %p.author-msg
        Проект Громадської мережі
        = link_to "ОПОРА", "http://oporaua.org"

      %ul.author-media.list-inline.small
        %li.email
          = mail_to Settings.contact_email do
            %i.fi-mail
            Контакти
        - # TODO: Show or hide these based on project Settings
        %li.twitter
          = link_to "https://twitter.com/#{Settings.project_twitter}" do
            %i.fi-social-twitter
            Twitter
        %li.facebook
          = link_to "https://facebook.com/cn.opora" do
            %i.fi-social-facebook
            facebook

      %p.license-msg.small
        Усі дані та програмне забезпечення надаються з
        = link_to "відкритим вихідним кодом та є вільними для поширення", help_licencing_path
        %span.issues-link= link_to "Повідомити про проблему", "https://github.com/OPORA/publicwhip/issues/", title: "Report a bug or contribute an idea"
