%footer.site-footer
      %p.footer-msg.col-md-8
  .footer-main
    .container
        An
        = link_to "OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au/"
        project

      %ul.social-nav.nav.nav-pills.col-md-4
        %li.twitter= link_to "Twitter", "http://twitter.com/openaustralia"
        %li.blog= link_to "Blog", "https://www.openaustraliafoundation.org.au/blog/"
        %li.email= mail_to "contact@openaustraliafoundation.org.au", "Contact"
        %li.help= link_to "Help / FAQ", help_faq_path

      %ul.col-md-8.list-unstyled
        %li
          This data and software are
          = link_to "free and open source", help_licencing_path
        %li= link_to "API - Get the data", help_data_path
  .author-projects
    .container

      %p.col-md-12
        Explore our other projects
        #{link_to "OpenAustralia.org", "http://www.openaustralia.org"},
        #{link_to "Election Leaflets", "http://www.electionleaflets.org.au"},
        #{link_to "Right To Know", "http://www.righttoknow.org.au"} and
        #{link_to "PlanningAlerts", "http://www.planningalerts.org.au"}
    .row
