%td= Distance.score(type)
%td= Distance.weights(type)
%td= policy_person_distance.no_votes(type)
%td= policy_person_distance.votes_points(type) / 2
%td= policy_person_distance.possible_votes_points(type) / 2
