%p
  The MP's votes count towards a weighted average where the most important votes get
  #{pluralize(Distance.possible_points(:samestrong), "point")},
  less important votes get
  #{pluralize(Distance.possible_points(:same), "point")},
  and less important votes for which the MP was absent get
  #{pluralize(Distance.possible_points(:absent), "point")}.
  In important votes the MP gets awarded the full
  = pluralize(Distance.points(:samestrong), "point")
  for voting the same as the policy,
  = pluralize(Distance.points(:differstrong), "point")
  for voting against the policy, and
  = pluralize(Distance.points(:absentstrong), "point")
  for not voting. In less important votes, the MP gets
  = pluralize(Distance.points(:same), "point")
  for voting with the policy,
  = pluralize(Distance.points(:differ), "point")
  for voting against, and
  = Distance.points(:absent)
  (out of #{Distance.possible_points(:absent)})
  if absent.

%p
  Then, the number gets converted to a simple english language phrase based on the range of values it's within.

%table.table
  %thead
    %tr.headings
      %th Type of vote
      %th
      %th Points / out of
      %th No of votes
      %th Total points / out of
  %tbody
    %tr
      %th{rowspan: 3, scope: "rowgroup"} Most important votes
      %td MP voted with policy
      %td
        = Distance.points(:samestrong)
        \/
        = Distance.possible_points(:samestrong)
      %td= policy_person_distance.nvotessamestrong
      %td
        - if policy_person_distance.nvotessamestrong.positive?
          = policy_person_distance.votes_points(:samestrong)
          \/
          = policy_person_distance.possible_votes_points(:samestrong)
    %tr
      %td MP voted against policy
      %td
        = Distance.points(:differstrong)
        \/
        = Distance.possible_points(:differstrong)
      %td= policy_person_distance.nvotesdifferstrong
      %td
        - if policy_person_distance.nvotesdifferstrong.positive?
          = policy_person_distance.votes_points(:differstrong)
          \/
          = policy_person_distance.possible_votes_points(:differstrong)
    %tr
      %td MP absent
      %td
        = Distance.points(:absentstrong)
        \/
        = Distance.possible_points(:absentstrong)
      %td= policy_person_distance.nvotesabsentstrong
      %td
        - if policy_person_distance.nvotesabsentstrong.positive?
          = policy_person_distance.votes_points(:absentstrong)
          \/
          = policy_person_distance.possible_votes_points(:absentstrong)
    %tr
      %th{rowspan: 3, scope: "rowgroup"} Less important votes
      %td MP voted with policy
      %td
        = Distance.points(:same)
        \/
        = Distance.possible_points(:same)
      %td= policy_person_distance.nvotessame
      %td
        - if policy_person_distance.nvotessame.positive?
          = policy_person_distance.votes_points(:same)
          \/
          = policy_person_distance.possible_votes_points(:same)
    %tr
      %td MP voted against policy
      %td
        = Distance.points(:differ)
        \/
        = Distance.possible_points(:differ)
      %td= policy_person_distance.nvotesdiffer
      %td
        - if policy_person_distance.nvotesdiffer.positive?
          = policy_person_distance.votes_points(:differ)
          \/
          = policy_person_distance.possible_votes_points(:differ)
    %tr
      %td MP absent*
      %td
        = Distance.points(:absent)
        \/
        = Distance.possible_points(:absent)
      %td= policy_person_distance.nvotesabsent
      %td
        - if policy_person_distance.nvotesabsent.positive?
          = policy_person_distance.votes_points(:absent)
          \/
          = policy_person_distance.possible_votes_points(:absent)
    %tr
      %th{colspan: 4} Total:
      %td
        = policy_person_distance.total_points
        \/
        = policy_person_distance.possible_total_points

%p
  Agreement score
  \= #{policy_person_distance.total_points} / #{policy_person_distance.possible_total_points}
  \=
  = succeed "." do
    %b= fraction_to_percentage_display(policy_person_distance.agreement_fraction)

%p
  And then

%ul
  - PolicyPersonDistance.category_range_mapping.each do |category, range|
    %li
      between
      = fraction_to_percentage_display(range.min)
      and
      = fraction_to_percentage_display(range.max)
      becomes
      "#{category_words_sentence(category)}"

%p
  *Pressure of other work means MPs or
  Senators are not always available to vote – it does not always
  indicate they have abstained. Therefore, being absent on a less
  important vote makes a disproportionatly small
  difference.
