.history-notice
  %p.container
    = succeed "," do
      -if @division
        = link_to "Голосування востаннє оновлювалося #{relative_time @division.wiki_motion.edit_date}", history_division_path(@division), title: "Дивитися історію оновлень цього голосування"
      -elsif @policy
        = link_to "Політика востаннє оновлювалася #{time_ago_in_words(@policy.last_edited_at)} тому", history_policy_path(@policy), title: "View the edit history of this policy."
    -if @division
      = link_to @division.wiki_motion.user.name, @division.wiki_motion.user
    -elsif @policy
      = link_to @policy.last_edited_by.name, @policy.last_edited_by
