!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    - if Settings.facebook_admins
      - Settings.facebook_admins.each do |admin_id|
        %meta(property="fb:admins" content="#{admin_id}")
    %title
      - if content_for? :title
        = yield :title
        = "— #{Settings.project_name}"
      - else
        #{Settings.project_name} — How does your MP vote?

    = stylesheet_link_tag "//code.cdn.mozilla.net/fonts/fira.css"
    = stylesheet_link_tag "application"

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    = csrf_meta_tag
    = display_meta_tags
    = render "honeybadger_javascript"
  %body{class: "#{body_class}"}
    -# TODO: Add link to shop
    -# TODO: Use correct colours
    -# TODO: Make banner dismissable
    -# TODO: Use correct alignment
    -# TODO: Style link hover
    -# TODO: Make buy experience work without leaving the site
    -# TODO: Update temporary copy
    = link_to "https://swag.theyvoteforyou.org.au/products/short-sleeve-t-shirt" do
      .swag
        = image_tag "tshirt"
        OMG we got T shirts! Limited run!
        %strong Buy now!
    %nav.site-header.navbar(role="navigation")
      - # Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          %span.sr-only Expand navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to Settings.project_name, root_path, class: "navbar-brand"

      - # Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li= link_to "People", members_path, class: 'navlink-members', title: "All people currently in Federal Parliament"
          %li= link_to "Policies", policies_path, class: 'navlink-policies', title: "Help to analyse MP's votes"
          %li= link_to "Divisions", divisions_path, class: 'navlink-divisions', title: "List of all votes in Parliament"
          %li= link_to "About", about_path, class: 'navlink-about', title: "Information about this website"

        = form_tag search_path, method: "get", name: "pw", role: "search", class: "site-header-search navbar-form navbar-right" do
          .input-group
            = label_tag :query, "Search #{Settings.project_name}", class: 'sr-only'
            = search_field_tag :query, nil, maxlength: "256", name: "query", type: "search", placeholder: "Search", class: "form-control input-sm"
            .input-group-btn
              = button_tag value: 'Submit', class: 'btn btn-default input-sm' do
                %span.sr-only
                  Submit
                %span.glyphicon.glyphicon-search

        %ul.account-nav.nav.navbar-nav.navbar-right
          - if user_signed_in?
            = render "logged_in_user_menu"
          - else
            %li= link_to "Log in", new_user_session_path, title: "Log in to your account"
            -if !current_page?(new_user_registration_path)
              %li= link_to "Sign up", new_user_registration_path, title: "Create an account to help improve this resource", class: "link-signup"

    = render "layouts/bootstrap_flash"
    = yield :history_notice
    = yield :header

    - if current_page?({controller: '/home', action: 'index'})
      = yield
    - else
      .container.main-content= yield

    = render "footer"
    = render "google_analytics"
    = javascript_include_tag "application"
