!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      - if content_for? :title
        = yield :title
        = "— #{Settings.project_name}"
      - else
        #{Settings.project_name} — How does your MP vote?

    = stylesheet_link_tag "//code.cdn.mozilla.net/fonts/fira.css"
    = stylesheet_link_tag "application"

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    = csrf_meta_tag
    = display_meta_tags
  %body{class: "#{body_class}"}
    %nav.site-header.navbar(role="navigation")
      - # Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to Settings.project_name, root_path, class: "navbar-brand"

      - # Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li= link_to "People", members_path, class: 'navlink-members', title: "All people currently in Federal Parliament"
          %li= link_to "Policies", policies_path, class: 'navlink-policies', title: "Help to analyse MP's votes"
          %li= link_to "Divisions", divisions_path, class: 'navlink-divisions', title: "List of all votes in Parliament"
          %li= link_to "About", about_path, class: 'navlink-about', title: "Information about this website"

        %form{class: "site-header-search navbar-form navbar-right", action: search_path, method: "get", name: "pw", role: "search"}
          .input-group
            %label.sr-only{for: "query"}
              Search #{Settings.project_name}
            %input.form-control.input-sm{maxlength: "256", name: "query", type: "search", placeholder: "Search"}
            .input-group-btn
              %button.btn.btn-default.input-sm{type: "submit", value: "Submit"}
                %span.sr-only
                  Submit
                %span.glyphicon.glyphicon-search

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")
                = current_user.name || current_user.email
              %ul.dropdown-menu(role="menu")
                %li= link_to "Your page", current_user
                %li= link_to "Edit profile", edit_user_registration_path
                %li.divider
                %li= link_to "Logout", destroy_user_session_path, title: "Make your browser forget that you are logged into #{Settings.project_name} as #{current_user.name || current_user.email}", method: :delete
          - else
            %li= link_to "Login", new_user_session_path, title: "Login to edit policies"

    = render "layouts/bootstrap_flash"
    = yield :history_notice
    = yield :header

    - if current_page?(controller: '/home', action: 'index')
      = yield
    - else
      .container.main-content= yield

    = render "footer"
    = render "google_analytics"
    = javascript_include_tag "application"
