%section.page-section#free-votes
  %h2 Free votes

  %p
    = member.name
    has
    - if member.person.free_votes_with_whip > 0
      taken part in
      = pluralize(member.person.free_votes_with_whip, "free vote")
    - else
      never taken part in a free vote
    since
    - if member.person.earliest_member.entered_house < Division.date_earliest_division
      #{formatted_month(Division.date_earliest_division)}.
    -else
      entering Parliament in #{formatted_month(member.person.earliest_member.entered_house)}.

    %small= link_to "explain “Free Votes”", help_faq_path(anchor: "free")

  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(nil)}
    - member.person.members.order(entered_house: :desc).each do |member|
      - if member.subject_to_whip?
        = render member.free_votes.order(date: :desc, clock_time: :desc, name: :asc)
