%section.page-section#free-votes
  %h2 Free votes

  %p
    = member.name_without_title
    has
    - if member.person.free_votes_with_whip > 0
      taken part in
      = pluralize(member.person.free_votes_with_whip, "free vote")
    - else
      never taken part in a free vote
    since
    - # TODO get the data starting dates dynamically
    - if member.person.earliest_member.entered_house < (Date.new(2006,2,7))
      February 2006.
    -else
      entering Parliament in #{member.person.earliest_member.since}.

    %small= link_to "explain “Free Votes”", help_faq_path(anchor: "free")

  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(house)}
    - member.person.members.order(entered_house: :desc).each do |member|
      - if member.subject_to_whip?
        = render partial: 'divisions/division', locals: {member: member, party: party, policy: policy, house: house}, collection: member.free_divisions.order(date: :desc, clock_time: :desc, name: :asc)
