%ol.members-list.list-unstyled{:class => active_house_for_list_class(house)}
  - members.each do |member|
    %li
      = link_to member, class: 'member-item object-item panel-link' do
        %article.media{class: ("member-no-photo" unless member.show_small_image?)}
          - if member.show_small_image?
            = image_tag("", data: {original: member.small_image_url}, alt: "Фото #{member.name_without_title}", class: "member-photo lazy", width: 44, height: 58)
            %noscript
              = image_tag(member.small_image_url, alt: "Фото #{member.name_without_title}", class: 'member-photo', width: 44, height: 58)
          .media-body
            %h2.media-heading.member-name.panel-link-title= member.name_without_title
            %p.member-role.object-primary
              Член фракції
              %span.member-party.inline-post-title
                - if !member.currently_in_parliament?
                  Former
                = member.party_name
              від
              - if member.ukranian_list_mp?
                партії
                -# HACK: This gets the member's first faction, which is hopefully
                -# the party they entered parliament on
                = member.person.earliest_member.party
              - else
                області
                %span.member-electorate= member.electorate

            %p.member-data.object-data.object-secondary
              - if member.person.rebellions_fraction
                %span.member-rebellions.object-data-rebellion
                  -if member.person.rebellions_fraction == 0
                    100% фракційна дисципліна
                  -else
                    -# TODO: Should this be an absolute count rather than percentage?
                    -# Maybe it's good to show it as a percentage because it highlights rarity?
                    Проти фракції у
                    = fraction_to_percentage_display(member.person.rebellions_fraction)
                    випадків
                    -# TODO: add helper tooltip for rebellions
                    -# link_to "explain...", help_faq_path(anchor: "clarify")
              - if member.person.attendance_fraction
                %span.member-attendance.object-data-attendance
                  = fraction_to_percentage_display(member.person.attendance_fraction)
                  Відвідуваність
                  -# TODO: add helper tooltip for attendance
                  -# link_to "explain...", help_faq_path(anchor: "clarify")
