.page-header
  -# Don't want all the photo caches to expire at the same time
  - cache ["v1", "photo", member.person], expires_in: Random.rand(24.0..48.0).hours do
    - if member.show_large_image?
      = image_tag(member.large_image_url, alt: "Photo of #{@member.name_without_title}", size: "88x115")
  %h1= member.name_without_title
  %p.lead= member_type_party_place_sentence(member)
  - if !member.person.current_offices.empty?
    %p
      -# TODO: The UK uses extra Offices data like department so this will need to be expanded
      = member.person.current_offices.map{|o| "<strong>#{o.position}</strong>" }.to_sentence(two_words_connector: ", and ").html_safe
