.page-header
  .media
    - if member.show_large_image?
      = link_to member, class: "pull-left" do
        = image_tag(member.large_image_url, alt: "Photo of #{member.name_without_title}", size: "88x115", class: "media-object")
    .media-body
      %h1.media-heading
        = link_to_unless_current member.name_without_title, member
      %p.lead= member_type_party_place_sentence(member)
      - if !member.person.current_offices.empty?
        %p
          -# TODO: The UK uses extra Offices data like department so this will need to be expanded
          = member.person.current_offices.map{|o| "<strong>#{o.position}</strong>" }.to_sentence(two_words_connector: ", and ").html_safe
