%ol.members-list.list-unstyled{:class => active_house_for_list_class(house)}
  - @members.each do |member|
    %li
      = link_to member, class: 'panel panel-default panel-link' do
        %article.member-item.panel-body.media
          = image_tag(member.small_image_url, alt: "Photo of #{member.name_without_title}", class: "member-photo pull-left")
          .media-body
            %h2.media-heading.member-name.panel-link-title= member.name_without_title
            %p.member-role
              %span.member-party.inline-post-title= member.party_name
              %span.member-electorate= member.role

            %p.member-data
              %span.member-rebellions
                -if fraction_to_percentage_display(member.person.rebellions_fraction) == 0
                  Never rebels
                -else
                  -# TODO: Should this be an absolute count rather than percentage?
                  -# Maybe it's good to show it as a percentage because it highlights rarity?
                  Rebels
                  = fraction_to_percentage_display(member.person.rebellions_fraction)
                  of the time
                  -# TODO: add helper tooltip for rebellions
                  -# link_to "explain...", help_faq_path(anchor: "clarify")
              %span.member-attendance
                = fraction_to_percentage_display(member.person.attendance_fraction)
                attendance
                -# TODO: add helper tooltip for attendance
                -# link_to "explain...", help_faq_path(anchor: "clarify")
