.page-header
  .media
    - if member.show_large_image?
      = link_to member, class: "pull-left" do
        = image_tag(member.large_image_url, alt: "Photo of #{member.name_without_title}", size: "88x115", class: "media-object")
    .media-body
      %h1.media-heading
        = member.name_without_title
      %p.member-role.lead= member_type_party_place_date_sentence(member)

      - if member.person.votes_attended > 0
        - if member.person.has_whip?
          %p
            %strong
              - if member.person.rebellions == 0
                Never rebels.
              - else
                Rebels on #{fraction_to_percentage_display(member.person.rebellions_fraction)} of votes.
            %small= link_to "explain rebellions", help_faq_path(anchor: "rebellion")
