%h2#dreammotions Policy Comparisons

%p
  This shows the agreement between this
  = person_type(member.person)
  and each of the policies in the database, according to their voting record.
%ul
  - if member.person.policy_person_distances.empty?
    %li
      No policies match this person's votes. You can
      = link_to "edit or make a policy", policies_path
      that will appear here.
  - else
    - member.person.policy_person_distances.joins(:policy).order("policies.name").each do |policy_member_distance|
      %li
        = link_to [member, policy_member_distance.policy] do
          = raw(policy_agreement_summary(policy_member_distance).capitalize)
          = policy_member_distance.policy.name
