%h2#dreammotions Policy Comparisons

%p
  This shows the agreement between this
  = person_type(member.person)
  and each of the policies in the database, according to their voting record.


- if member.person.policy_person_distances.empty?
  %ul
    %li
      No policies match this person's votes. You can
      = link_to "edit or make a policy", policies_path
      that will appear here.
- else
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.00...0.05)), title: "Voted very strongly for"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.05...0.15)), title: "Voted strongly for"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.15...0.40)), title: "Voted moderately for"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.40...0.60), nvotessame: '> 0', nvotessamestrong: '> 0', nvotesdiffer: '> 0', nvotesdifferstrong: '> 0'), title: "Voted a mixture of for and against"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.60...0.85)), title: "Voted moderately against"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.85...0.95)), title: "Voted strongly against"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(distance_a: (0.95..1.0)), title: "Voted very strongly against"
  = render "policy_comparisons_block", member: member, distances: member.person.policy_person_distances.where(nvotessame: 0, nvotessamestrong: 0, nvotesdiffer: 0, nvotesdifferstrong: 0), title: "Has never voted on"
