- unless policies.empty?
  .policy-comparision-block.col-md-7{class: "position-#{title.parameterize}"}
    .row
      %h3.policy-comparision-position.col-xs-9= title
    .row
      %ul.policy-comparision-list.object-list-compact.list-unstyled.col-xs-12
        - policies.each do |policy|
          %li.policy-comparision-policy.object-item
            %p.policy-title{data: {toggle: 'collapse', target: ".policy-detail-#{policy.id}"}}
              = capitalise_initial_character(policy.name)
            %p{class: "policy-detail-#{policy.id} collapse"}
              - ppd1 = PolicyPersonDistance.find_by(policy: policy, person: member1.person)
              - ppd2 = PolicyPersonDistance.find_by(policy: policy, person: member2.person)
              = link_to policy_agreement_summary(ppd1, with_person: true), member_policy_path_simple(ppd1.person.latest_member, ppd1.policy)
              while
              %br
              = link_to policy_agreement_summary(ppd2, with_person: true), member_policy_path_simple(ppd2.person.latest_member, ppd2.policy)
