%section.page-section#voting-stace
  %h2 How do they vote?

  - if member.person.policy_person_distances.empty?
    %ul
      %li
        No policies match this person's votes. You can
        = link_to "edit or make a policy", policies_path
        that will appear here.
  - else
    - distances = member.person.policy_person_distances.published.includes(:policy)
    - ranges.each do |range, description|
      = render "policy_comparisons_block", member: member, distances: distances.select{ |d| d.voted? && range.include?(d.agreement_fraction) }, title: "Voted #{description}"
    = render "policy_comparisons_block", member: member, distances: distances.select { |d| !d.voted? }, title: "Has never voted on"

  %p.small.text-muted
    Please note that #{link_to 'our voting records start in 2006', help_faq_path(anchor: "timeperiod"), class: 'text-muted'}.
