- unless policies.empty?
  .policy-comparision-block.col-md-7{class: "position-#{title.parameterize}"}
    .row
      %h3.policy-comparision-position.col-xs-9= title
    .row
      %ul.policy-comparision-list.object-list-compact.list-unstyled.col-xs-12
        - policies.sort_by {|p| p[:policy].name }.each do |p|
          %li.policy-comparision-policy.object-item
            %p.policy-title{data: {toggle: 'collapse', target: ".policy-detail-#{p[:policy].id}"}}
              = capitalise_initial_character(p[:policy].name)
            %p{class: "policy-detail-#{p[:policy].id} collapse"}
              = policy_agreement_summary(p[:ppd1], with_person: true, link_category: true, with_policy: true)
              while
              = policy_agreement_summary(p[:ppd2], with_person: true, link_category: true)
