%section.page-section#rebellions
  %h2 Голосування проти лінії фракції

  %p
    = member.name_without_title
    - if @member.person.rebellions > 0
      голосував проти лінії фракції
      = @member.person.rebellions
      = n_("time", "times", @member.person.rebellions)
      з
    - else
      ніколи не голосував проти лінії фракції з
    - # TODO get the data starting dates dynamically
    - # TODO how does this change for the Ukraine?
    - if member.person.earliest_member.entered_house < (Date.new(2006,2,7))
      February 2006.
    -else
      часу набуття депутатських повноважень у #{member.person.earliest_member.since} р.

    %small= link_to "що таке “голосування проти лінії фракції”", help_faq_path(anchor: "rebellion")

  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
    - member.person.members.order(entered_house: :desc).each do |member|
      = render partial: 'divisions/division', locals: {member: member}, collection: member.rebellious_divisions.order(date: :desc, clock_time: :desc, name: :asc)
