%section.page-section#rebellions
  %h2
    - if @member.person.rebellions > 3
      Recent rebellions
    - else
      Rebel votes

  %p
    = member.name_without_title
    has
    - if @member.person.rebellions > 0
      voted against the majority of their party
      = pluralize(@member.person.rebellions, "time")
    - else
      never voted against the majority of their party
    since
    - # TODO get the data starting dates dynamically
    - if member.person.earliest_member.entered_house < (Date.new(2006,2,7))
      February 2006.
    -else
      entering Parliament in #{member.person.earliest_member.since}.

    %small= link_to "explain rebellions", help_faq_path(anchor: "rebellion")

  - if @member.person.rebellions > 0
    %ol.divisions-list.list-unstyled
      - @rebellions_or_nil_with_member.each do |m|
        - if m[:division].present?
          = render m[:division], member: m[:member]

    = link_to "View all rebellions", member_divisions_path(member, filter: "rebellions"), class: 'btn btn-default btn-sm'
