%section.page-section#rebellions
  %h2
    - if @member.person.rebellions > 3
      Останні голосування проти лінії фракції
    - else
      Голосування проти лінії фракції

  %p
    = member.name_without_title
    - if @member.person.rebellions > 0
      голосував проти лінії фракції
      = @member.person.rebellions
      = n_("time", "times", @member.person.rebellions)
      з
    - else
      ніколи не голосував проти лінії фракції з
    - # TODO get the data starting dates dynamically
    - # TODO how does this change for the Ukraine?
    - if member.person.earliest_member.entered_house < (Date.new(2006,2,7))
      February 2006.
    -else
      часу набуття депутатських повноважень у #{member.person.earliest_member.since} р.

    %small= link_to "що таке “голосування проти лінії фракції”", help_faq_path(anchor: "rebellion")

  - if @member.person.rebellions > 0
    %ol.divisions-list.list-unstyled
      - @rebellions_or_nil_with_member.each do |m|
        - if m[:division].present?
          = render m[:division], member: m[:member]

    = link_to "View all rebellions", member_divisions_path(member, filter: "rebellions"), class: 'btn btn-default btn-sm'
