%section.page-section#rebellions
  %h2 Голосування проти лінії фракції
  -# %h2 Rebel votes

  %p
    = member.name_without_title
    -# has
    - if @member.person.rebellions > 0
      голосував проти лінії фракції
      -# TODO: is there a plural form of 'разів' that we can insert?
      #{@member.person.rebellions} разів
      -# voted against the majority of their party
      -# = pluralize(@member.person.rebellions, "time")
    - else
      ніколи не голосував проти лінії фракції з
      -# never voted against the majority of their party
    -# since
    - # TODO get the data starting dates dynamically
    - if member.person.earliest_member.entered_house < (Date.new(2006,2,7))
      February 2006.
    -else
      часу набуття депутатських повноважень у #{member.person.earliest_member.since}.
      -# entering Parliament in #{member.person.earliest_member.since}.

    %small= link_to "explain rebellions", help_faq_path(anchor: "rebellion")

  %ol.divisions-list.list-unstyled{class: active_house_for_list_class(@house)}
    - member.person.members.order(entered_house: :desc).each do |member|
      = render partial: 'divisions/division', locals: {member: member}, collection: member.rebellious_divisions.order(date: :desc, clock_time: :desc, name: :asc)
