- members.each_with_index do |member, i|
  %p{class: (:lead if i == 0)}
    - unless member.currently_in_parliament?
      Former
    - # TODO: if not a senator, add the state after the electorate. e.g. Goldstein, Vic
    = member_type(member.australian_house)
    for
    = succeed ',' do
      %span.electorate= member.electorate
    %span.member-period
      #{vote_records_start_date(member)} &ndash; #{member_until(member)}

- if !member.person.current_offices.empty?
  %p
    -# TODO: The UK uses extra Offices data like department so this will need to be expanded
    = member.person.current_offices.map{|o| "<strong>#{o.position}</strong>" }.to_sentence(two_words_connector: ", and ").html_safe

- if member.has_whip?
  %p
    = member.party_long + " member, "
    %strong
      - if member.rebellions == 0
        never rebels.
      - else
        rebels on #{fraction_to_percentage_display(member.rebellions_fraction, precision: 1)} of votes.
    %small= link_to "explain rebellions", help_path(anchor: "clarify")
- else
  %p= member.party_long

%p
  Attended #{fraction_to_percentage_display(member.attendance_fraction, precision: 1)} of votes (#{member.votes_attended} of #{member.votes_possible}).
  %small= link_to "explain attendance", help_path(anchor: "clarify")

- # TODO: add back in the rebellion and attendance rate for previous membership.

%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", help_path(anchor: "timeperiod")}).
