%thead
  %tr.headings
    %th House
    %th Date
    %th Subject
    %th= member.name
    %th #{member.party} Vote
    %th Role
%tbody
  - if divisions.empty?
    %tr
      %td{colspan: 6}= empty_message
  - else
    - divisions.each do |division|
      %tr
        %td{:class => division.house}
          = division.australian_house.capitalize
        %td= formatted_date(division.date, true)
        %td= link_to truncate(division.name, length: 180), division_with_member_path(division, member)
        %td= division.vote_for(member)
        %td= division.whip_guess_for(member.party)
        %td{:class => vote_class(member.division_vote(division))}
          = division.role_for(member)
