%thead
  %tr.headings
    %th Date
    %th Subject
    %th= member.name
    %th #{member.party} Vote
    %th Role
%tbody
  - if divisions.empty?
    %tr
      %td{colspan: 6}= empty_message
  - else
    - divisions.each do |division|
      %tr
        %td= formatted_date(division.date, true)
        %td= link_to truncate(division.name, length: 180), member_division_path2(member, division)
        %td= division.vote_for(member)
        %td= division.whip_guess_for(member.party)
        %td{:class => vote_class(member.division_vote(division))}
          = division.role_for(member)
