%tr.headings
  %td House
  %td Date
  %td Subject
  %td= member.name
  %td
    = member.party
    Vote
  %td Role
- if divisions.empty?
  %tr.odd
    %td{:colspan => "7"}= empty_message
- else
  - divisions.each do |division|
    %tr{:class => cycle("even", "odd")}
      %td{:class => division.house}
        = division.australian_house.capitalize
      %td= formatted_date(division.date, true)
      - if division.australian_house == "representatives"
        %td= link_to division.name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{member.url_name}&mpc=#{member.url_electorate}&house=#{division.australian_house}"
      - else
        %td= link_to division.name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{member.url_name}&mpc=Senate&house=#{division.australian_house}"
      %td
        - if member.teller_on_division?(division)
          = member.division_vote(division).vote
        - elsif division.majority_vote_for(member) == "absent"
          absent
        - elsif division.majority_vote_for(member) == "minority"
          %i minority
        - elsif division.majority_vote_for(member) == "no"
          no
        - elsif division.majority_vote_for(member) == "aye"
          aye
        - else
          = division.majority_vote_for(member).capitalize
      %td= division.whip_guess_for(member.party)
      %td{:class => vote_class(member.division_vote(division))}
        - if division.role_for(member) == "absent"
          absent
        - else
          = division.role_for(member).titlecase
