%thead
  %tr.headings
    %th Date
    %th Subject
    %th= member.name
    %th #{member.party_name} Vote
    %th Role
%tbody
  - if divisions.empty?
    %tr
      %td{colspan: 6}= empty_message
  - else
    - divisions.each do |division|
      %tr
        %td= formatted_date(division.date, true)
        %td= link_to truncate(division.name, length: 180), [member, division]
        %td= vote_display(division.vote_for(member))
        %td= vote_display(division.whip_guess_for(member.party))
        %td{class: vote_class(member.division_vote(division))}
          = division.role_for(member)
