%thead
  %tr.headings
    %th House
    %th Date
    %th Subject
    %th= member.name
    %th
      = member.party
      Vote
    %th Role
%tbody
  - if divisions.empty?
    %tr.odd
      %td{:colspan => "7"}= empty_message
  - else
    - divisions.each do |division|
      %tr
        %td{:class => division.house}
          = division.australian_house.capitalize
        %td= formatted_date(division.date, true)
        - if division.australian_house == "representatives"
          %td= link_to division.name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{member.url_name}&mpc=#{member.url_electorate}&house=#{division.australian_house}"
        - else
          %td= link_to division.name, "division.php?date=#{division.date}&number=#{division.number}&mpn=#{member.url_name}&mpc=Senate&house=#{division.australian_house}"
        %td
          -# TODO Currently showing tellers inconsistently. Fix this
          - if member.teller_on_division?(division)
            = member.division_vote(division).vote
          - else
            = division.majority_vote_for(member)
        %td= division.whip_guess_for(member.party)
        %td{:class => vote_class(member.division_vote(division))}
          - if division.role_for(member) == "absent"
            absent
          - else
            = division.role_for(member).titlecase
