- content_for :title do
  Compare
  = @member1.full_name
  with
  = @member2.full_name

= render "member_page_header", member: @member1
= render "member_page_header", member: @member2

-# - member.person.policy_person_distances.published.each do |d|

%table.table
  %thead
    %tr
      %th Policy
      %th= @member1.name_without_title
      %th= @member2.name_without_title
      %th Difference
  %tbody
    - @policies.each do |p|
      %tr
        %td
          = link_to capitalise_initial_character(p[:policy].name), p[:policy]
        %td= link_to policy_agreement_summary_without_html(p[:ppd1]), [@member1, p[:policy]]
        %td= link_to policy_agreement_summary_without_html(p[:ppd2]), [@member2, p[:policy]]
        %td= fraction_to_percentage_display(p[:difference])
