- content_for :title do
  Compare
  = @member1.full_name
  with
  = @member2.full_name

= render "member_page_header", member: @member1
= render "member_page_header", member: @member2

-# - member.person.policy_person_distances.published.each do |d|

%table.table
  %thead
    %tr
      %th Policy
      %th
        How much
        = @member1.name_without_title
        agrees
      %th
        How much
        = @member2.name_without_title
        agrees
      %th
        Difference
  %tbody
    - @policies.each do |p|
      %tr
        %td
          = link_to capitalise_initial_character(p[:policy].name), p[:policy]
        %td= link_to fraction_to_percentage_display(p[:ppd1].agreement_fraction), [@member1, p[:policy]]
        %td= link_to fraction_to_percentage_display(p[:ppd2].agreement_fraction), [@member2, p[:policy]]
        %td= fraction_to_percentage_display(p[:difference])
