- content_for :title do
  Compare
  = @member1.full_name
  with
  = @member2.full_name

= render "member_page_header", member: @member1
= render "member_page_header", member: @member2

%p
  Agreement
  = fraction_to_percentage_display(@person_distance.agreement_fraction_without_absences)

%p
  During their time in Parliament
  = @member1.name
  and
  = @member2.name
  have voted in the same division
  = pluralize(@person_distance.total_votes, "time")
  - if @person_distance.overlap_dates.first.begin < Division.date_earliest_division
    = "#{formatted_date_range(Division.date_earliest_division...@person_distance.overlap_dates.last.end, format: :words)}."
    Our voting record only starts in #{formatted_month(Division.date_earliest_division)}.
    So we can only consider votes from then. 
  - else
    = "#{formatted_date_range(@person_distance.overlap_dates.first.begin...@person_distance.overlap_dates.last.end, format: :words)}."

%p
  - if @person_distance.nvotesdiffer.zero?
    They have
    %strong
      never
    voted differently
  - elsif @person_distance.nvotessame.zero?
    They have
    %strong
      never
    voted the same
  - elsif @person_distance.nvotesdiffer > @person_distance.nvotessame
    They have only voted
    %strong
      the same
      = pluralize(@person_distance.nvotessame, "time")
  - else
    They have only voted
    %strong
      differently
      = pluralize(@person_distance.nvotesdiffer, "time")

- if @person_distance.nvotesdiffer < @person_distance.nvotessame
  - if @person_distance.nvotesdiffer.positive?
    %h2 Divisions in which they voted differently
    = render "divisions/divisions", member: nil, divisions: @person_distance.divisions_different, house: nil
- else
  - if @person_distance.nvotesdiffer.positive?
    %h2 Divisions in which they voted the same
    = render "divisions/divisions", member: nil, divisions: @person_distance.divisions_same, house: nil

-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.95, 1.0)}, title: "Voted very differently on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.85, 0.95)}, title: "Voted differently on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.60, 0.85)}, title: "Voted slightly differently on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.40, 0.60)}, title: "Voted a mixture of differently and similarly on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.15, 0.40)}, title: "Voted slightly similarly on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.05, 0.15)}, title: "Voted similarly on"
-# = render "policy_comparisons_block2", member1: @member1, member2: @member2, policies: @policies.select {|p| p[:difference].between?(0.00, 0.05)}, title: "Voted very similarly on"
