- content_for :title do
  - if @sort == "rebellions"
    Rebel
  #{members_type(@house)}

.page-header
  %h1= yield :title

%p
  Current
  = members_type_long(@house)
  are listed below. Refer to
  = link_to "this explanation", help_path(anchor: "clarify")
  of the "rebellion" and "attendance" rates, as they may not mean what you
  think they do.

%table.table.table-striped
  %thead
    %tr.headings
      %td
      %td= link_to_unless @sort.nil?, "Name", members_path(house: params[:house], sort: nil), title: "Sort by surname"
      %td= link_to_unless @sort == "constituency", electorate_label(@house), members_path(house: params[:house], sort: "constituency"), title: "Sort by #{electorate_label(@house).downcase}"
      %td= link_to_unless @sort == "party", "Party", members_path(house: params[:house], sort: "party"), title: "Sort by party"
      %td
        = link_to_unless @sort == "rebellions", "Rebellions", members_path(house: params[:house], sort: "rebellions"), title: "Sort by rebels"
        %br/
        (#{link_to "explain...", help_path(anchor: "clarify")})
      %td
        = link_to_unless @sort == "attendance", "Attendance", members_path(house: params[:house], sort: "attendance"), title: "Sort by attendance"
        %br/
        (#{link_to "explain...", help_path(anchor: "clarify")})
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to image_tag(member.small_image_url, alt: "Photo of #{member.name_without_title}", size: "44x58"), member_path2(member)
        %td= link_to member.name_without_title, member_path2(member)
        %td= link_to_unless member.senator?, member.electorate, electorate_path2(member)
        %td= member.party_long2
        %td.percent= fraction_to_percentage_display(member.person.rebellions_fraction, precision: 1)
        %td.percent= fraction_to_percentage_display(member.person.attendance_fraction, precision: 1)
