- content_for :title do
  - if @sort == "rebellions"
    Rebel,
  Current
  - if @house
    = members_type(@house)
  - else
    = members_type("all")

.page-header
  %h1
    = yield :title
    %small in the Australian Parliament

= render "members_chooser", members: @members, sort: @sort, house: @house

-# if sort by rebellions or attendance provide some brief, contextual explanation here.

= render "members_list", members: @members, sort: @sort, house: @house
