- content_for :title do
  - if @sort == "rebellions"
    Rebel
  - if @house
    = members_type(@house)
  - else
    = members_type("all")

.page-header
  %h1= yield :title

  %p.lead
    Current
    - if @house
      = members_type_long(@house)
    - else
      = members_type_long("all")
    are listed below. Refer to
    = link_to "this explanation", help_faq_path(anchor: "clarify")
    of the "rebellion" and "attendance" rates, as they may not mean what you
    think they do.

%table.table
  %thead
    %tr.headings
      %td
      %td= link_to_unless @sort.nil?, "Name", members_path(house: params[:house], sort: nil), title: "Sort by surname"
      - if @house
        %td= link_to_unless @sort == "constituency", electorate_label(@house), members_path(house: params[:house], sort: "constituency"), title: "Sort by #{electorate_label(@house).downcase}"
      - else
        %td= link_to_unless @sort == "constituency", electorate_label("all"), members_path(house: params[:house], sort: "constituency"), title: "Sort by #{electorate_label('all').downcase}"
      %td= link_to_unless @sort == "party", "Party", members_path(house: params[:house], sort: "party"), title: "Sort by party"
      %td
        = link_to_unless @sort == "rebellions", "Rebellions", members_path(house: params[:house], sort: "rebellions"), title: "Sort by rebels"
        %br/
        (#{link_to "explain...", help_faq_path(anchor: "clarify")})
      %td
        = link_to_unless @sort == "attendance", "Attendance", members_path(house: params[:house], sort: "attendance"), title: "Sort by attendance"
        %br/
        (#{link_to "explain...", help_faq_path(anchor: "clarify")})
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to image_tag(member.small_image_url, alt: "Photo of #{member.name_without_title}", size: "44x58"), member_path2(member)
        %td= link_to member.name_without_title, member_path2(member)
        %td= link_to member.electorate, electorate_path2(member)
        %td= party_long2(member)
        %td.percent= fraction_to_percentage_display(member.person.rebellions_fraction)
        %td.percent= fraction_to_percentage_display(member.person.attendance_fraction)
