- content_for :title do
  - if @sort == "rebellions"
    Rebel
  #{members_type(@house)} — #{parliament_name(@parliament)}

.page-header
  %h1= yield :title

%ul.nav.nav-tabs
  %li{class: ("active" if @parliament.nil?)}
    = link_to "Current", members_path(params.merge(sort: @sort, parliament: nil)) , title: "Show only the current parliament"
  - Parliament.all.each do |id, details|
    %li{class: ("active" if @parliament == id)}
      = link_to details[:name], members_path(params.merge(parliament: id, sort: @sort)), title: "#{details[:name]}&nbsp;Parliament".html_safe
  %li{class: ("active" if @parliament == "all")}
    = link_to "All Parliaments", members_path(params.merge(parliament: 'all', sort: @sort)), title: "All members on record"

%p
  = members_type_long(@house)
  are listed below. Refer to
  = link_to "this explanation", help_path(anchor: "clarify")
  of the "rebellion" and "attendance" rates, as they may not mean what you
  think they do.

%p
  Sort by:
  = link_to_unless @sort == "lastname", "Name", members_path(params.merge(sort: "lastname")), title: "Sort by surname"
  |
  - if @house != "senate"
    = link_to_unless @sort == "constituency", "Electorate", members_path(params.merge(sort: "constituency")), title: "Sort by electorate"
    |
  = link_to_unless @sort == "party", "Party", members_path(params.merge(sort: "party")), title: "Sort by party"
  |
  -if @parliament == "all"
    = link_to_unless @sort == "date", "Dates", members_path(params.merge(sort: "date")), title: "Sort by Date"
    |
  = link_to_unless @sort == "rebellions", "Rebellions", members_path(params.merge(sort: "rebellions")), title: "Sort by rebels"
  |
  = link_to_unless @sort == "attendance", "Attendance", members_path(params.merge(sort: "attendance")), title: "Sort by attendance"

%table.table.table-striped
  %thead
    %tr.headings
      %td
      %td Name
      %td= electorate_label(@house)
      %td Party
      -if @parliament == "all"
        %td Dates
      %td
        Rebellions
        %br/
        (#{link_to "explain...", help_path(anchor: "clarify")})
      %td
        Attendance
        %br/
        (#{link_to "explain...", help_path(anchor: "clarify")})
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to image_tag(member.small_image_url, alt: "Photo of #{member.name_without_title}"), member_path2(member)
        %td= link_to member.name_without_title, member_path2(member)
        %td= link_to_unless member.senator?, member.electorate, electorate_path(member)
        %td= member.party_long2
        -if @parliament == "all"
          %td
            (#{member.entered_house.year.to_s}-#{member.left_house.year == 9999 ? "<i>present</i>".html_safe : member.left_house.year})
        %td.percent= fraction_to_percentage_display(member.rebellions_fraction, precision: 1)
        %td.percent= fraction_to_percentage_display(member.attendance_fraction, precision: 1)
