- content_for :title, @member.full_name2
- set_meta_tags description: "#{member_party_type_place_name(@member)}’s votes in the Australian Parliament."
:ruby
  set_meta_tags og: {
    title: "Find out how #{@member.name} votes on issues that matter to you",
    description: "Discover how #{member_party_type_place_name(@member)} votes in the Australian Parliament",
    type: "website",
    url: request.original_url,
    image: {
      _: card_member_url(@member),
      alt: "Find out how #{@member.name} votes on issues that matter to you",
      width: CardScreenshotter::Utils::CARD_WIDTH,
      height: CardScreenshotter::Utils::CARD_HEIGHT
    },
    site_name: Settings.project_name
  }
  set_meta_tags twitter: { card: "summary_large_image" }

.vcard
  = render "member_page_header", member: @member
  = render "summary", member: @member
= render "policy_comparisons", member: @member
- if @member.person.subject_to_whip?
  = render "interesting_votes", member: @member
= render "recent_votes", member: @member
= render "possible_friends", member: @member, all_friends: false
