- content_for :title do
  = @member.name
  compared to '#{@policy.name}'

%h1= yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    - # FIXME This summary link is obviously wrong ("allvotes"?)
    = members_nav_link(@member, @members, nil, "allvotes", "Summary", "Show every vote cast by this MP",  @display.nil? || @display == "allvotes", @policy)
    = members_nav_link(@member, @members, nil, "motions", "Full description", "Also show descriptions of every vote", @display == "motions", @policy)
    = members_nav_link(@member, @members, nil, "alldreams", "Policy comparisons", "Show all Policies and how this MP voted on them", @display == "alldreams")

= render "policy_comparison", member: @member, agreement_fraction_with_policy: @agreement_fraction_with_policy, policy: @policy, display: @display, number_of_votes_on_policy: @number_of_votes_on_policy, policy_member_distance: @policy_member_distance
