- content_for :title, @member.full_name2
- set_meta_tags description: "#{member_party_type_place_name(@member)}’s votes in the Australian Parliament."
:ruby
  set_meta_tags og: {
    title: "Find out how #{@member.name} votes on issues that matter to you",
    description: "Discover how #{member_party_type_place_name(@member)} votes in the Australian Parliament",
    type: "website",
    url: request.original_url,
    image: {
      _: card_member_url(@member, @cardtype),
      alt: "Find out how #{@member.name} votes on issues that matter to you",
      width: CardScreenshotter::Utils::CARD_WIDTH,
      height: CardScreenshotter::Utils::CARD_HEIGHT
    },
    site_name: Rails.configuration.project_name
  }

.vcard
  = render "member_page_header", member: @member
  = render "summary", member: @member
= link_to "Compare their voting record with someone else's", friends_member_path_simple(@member), class: "btn btn-default btn-sm compare-others"
= render "policies/not_a_crystal_ball_warning"

-# TODO: Probably want to actually use a flipper feature flag rather than this
- if current_user&.staff?
  %h2 Comparison to parties (only visible to staff)
  - ["Australian Labor Party", "Liberal Party", "Australian Greens"].each do |party|
    %p
      voted the same way
      = fraction_to_percentage_display(@member.similarity_to_party(party))
      of the time as the
      = party

= render "policy_comparisons", member: @member
- if @member.person.subject_to_whip?
  = render "interesting_votes", member: @member
= render "recent_votes", member: @member
= render "possible_friends", person: @member.person, all_friends: false
