- content_for :title do
  - if @display == "allfriends"
    Friends of
    = @member.full_name
  - else
    Voting Record —
    = @member.full_name2

.page-header
  %h1
    = image_tag(@member.large_image_url, alt: "Photo of #{@member.name_without_title}", size: "88x115")
    = yield :title

- if @display.nil?
  = render "summary", members: @members, member: @member, display: @display
  = render "external_links", member: @member
  = render "interesting_votes", members: @members, member: @member
  = render "policy_comparisons", member: @member, members: @members
  = render "possible_friends", all_friends: false, member: @member
- elsif @display == "allfriends"
  = render "possible_friends", all_friends: true, member: @member
- elsif @display == "allvotes"
  = render "votes_attended", members: @members, member: @member
- elsif @display == "everyvote"
  = render "all_votes", members: @members
