- content_for :title, @member.full_name2
- set_meta_tags description: "#{member_party_type_place_name(@member)}’s votes in the Australian Parliament."
:ruby
  set_meta_tags og: {
    title: "How does #{@member.name} vote on issues that matter to you?",
    description: "Discover how #{member_party_type_place_name(@member)} votes in the Australian Parliament.",
    type: "profile",
    url: request.original_url,
    image: @member.large_image_url,
    profile: {
      first_name: @member.first_name,
      last_name: @member.last_name
    },
    site_name: "They Vote For You"
  }

.vcard
  = render "member_page_header", member: @member
  = render "social_share"
  = render "summary", member: @member
  = render "external_links", member: @member
= render "policy_comparisons", member: @member
- if @member.person.has_whip?
  = render "interesting_votes", member: @member
= render "recent_votes", member: @member
= render "possible_friends", member: @member, all_friends: false
