- content_for :title do
  Voting Record — Representatives for
  = @member.electorate

.page-header
  %h1= yield :title

%p
  %em Note:
  our voting records currently only go back to the
  beginning of 2006 for the House of Representatives and the Senate
  (#{link_to "more details", help_path(anchor: "timeperiod")}).

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th From
      %th To
      %th Party
      %th Rebellions (#{link_to "explain...", help_path(anchor: "clarify")})
      %th Attendance (#{link_to "explain...", help_path(anchor: "clarify")})
  %tbody
    - @members.each do |member|
      %tr
        %td
          = member.name
          = link_to "(show only their votes)", "mp.php?mpn=#{member.url_name_with_title}&display=#{@display || 'summary'}"
        %td= vote_records_start_date(member)
        %td= member_until(member)
        %td= member.party_long
        %td.percent
          - if !member.has_whip?
            no whip
          - else
            - if member.rebellions.nil?
              votes
            - else
              = pluralize(member.rebellions, "vote")
            out of
            - if member.votes_attended == 0
              0
            - elsif member.votes_attended
              #{member.votes_attended},
              %b= fraction_to_percentage_display(member.rebellions_fraction, precision: 1)
        %td.percent
          - if member.votes_attended.nil?
            votes
          - else
            = pluralize(member.votes_attended, "vote")
          out of
          - if member.votes_possible
            #{member.votes_possible},
            %b= fraction_to_percentage_display(member.attendance_fraction, precision: 1)
