- content_for :title do
  Voting Record —
  = @member.full_name2

= render "member_page_header", member: @member
= render "summary", member: @member

= render "policy_comparisons", member: @member
= render "external_links", member: @member
- if @member.person.has_whip?
  = render "interesting_votes", member: @member
- else
  = render "recent_votes", member: @member
= render "possible_friends", member: @member, all_friends: false
