- content_for :title do
  Voting Record —
  = @member.full_name2

= render "member_page_header", member: @member
= render "summary", member: @member
= render "external_links", member: @member
= render "policy_comparisons", member: @member
= render "interesting_votes", member: @member
= render "possible_friends", member: @member, all_friends: false
