- content_for :title do
  Voting Comparison —
  = @member.full_name2
  to
  = @member2.full_name2

%h1
  Voting Comparison —
  = @member.full_name2
  %br
  to
  = @member2.full_name2
/ the second tier navigation as tabs
:plain
  <!-- add hashes to $second_links array, keys are
       'href' - URL of link
       'text' - displayed text
       'tooltip' - text to put in title
       'current' - 'on' or 'off' for whether this item is currently selected -->
#secondnavtabs
  %ul
    = members_nav_link(@member, @member2, @members, @multiple_people ? @member.url_electorate : nil, "difference", "Differences", "Votes where the two MPs votes differed", @display.nil? || @display == "difference")
    = members_nav_link(@member, @member2, @members, @multiple_people ? @member.url_electorate : nil, "allvotes", "Votes attended", "Show every vote cast by this MP", @display == "allvotes")
    = members_nav_link(@member, @member2, @members, @multiple_people ? @member.url_electorate : nil, "everyvote", "All votes", "Show even divisions where the MP was absent, but could have voted", @display == "everyvote")
<!-- the second tier navigation as dropdowns end-->

= render "summary", multiple_people: @multiple_people, members: @members, member: @member, member2: @member2, display: @display

%h2
  %a{:name => "divisions"}
    - if @display.nil? || @display == "difference"
      Voting Differences
    - elsif @display == "allvotes"
      Votes Attended
    - elsif @display == "everyvote"
      All Votes

%table.votes
  = render "votes", member: @member, member2: @member2, divisions: @divisions, empty_message: "no votes listed"
