- divisions = policy.divisions.order(date: :desc, clock_time: :desc, name: :asc, number: :desc)
- divisions = divisions.select { |d| d.house == member.house } if member
- if divisions
  - divisions.each do |division|
    - if member
      %h4
        = link_to [member, division] do
          %small.pre-title= division_date_and_time(division) + " – " + division.house_name
          #{division.name}
    - else
      %h4
        = link_to division_policies_path(division_params(division)) do
          %small.pre-title= division_date_and_time(division) + " – " + division.house_name
          #{division.name} - Division No. #{division.number}
    .row
      .col-md-6
        %p
          Supporters vote “#{vote_display(division.policy_vote(policy))}”

        = render 'divisions/summary_party_votes', division: division
      .col-md-6
        = division.formatted_motion_text
