%section.page-section#ratioexpl
  - if member.person.policy_person_distances.find_by(policy: policy).nil?
    -# This person could never have voted on this policy so show nothing
  - elsif member.person.policy_person_distances.find_by(policy: policy).number_of_votes == 0
    %h2
      How "never voted" is worked out

    %p
      Normally a person's votes count towards a score which is used to work out a simple
      phrase to summarise their position on a policy. However in this case
      = member.name
      was absent during all divisions for this policy. So, it's impossible to say anything concrete other
      than that they have "never voted" on this policy.
  - else
    %h2
      Як
      "#{policy_agreement_summary_without_html(member.person.policy_person_distances.find_by(policy: policy))}"
      була розроблена
      -# How
      -# "#{policy_agreement_summary_without_html(member.person.policy_person_distances.find_by(policy: policy))}"
      -# is worked out

    %p
      Голосування депутата рахуються як зважене середнє, де найважливіші голосування отримують
      = Distance.possible_points[:samestrong]
      #{n_("point", "points", Distance.possible_points[:samestrong])},
      менш важливі
      = Distance.possible_points[:same]
      #{n_("point", "points", Distance.possible_points[:same])},
      а ще менш важливі голосування на яких депутат був відсутній отримують
      = Distance.possible_points[:absent]
      #{n_("point", "points", Distance.possible_points[:absent])}.
      Під час важливих голосувань депутат отримую повні
      = Distance.points[:samestrong]
      = n_("point", "points", Distance.points[:samestrong])
      за голосування відповідно до політики,
      = n_("point", "points", Distance.points[:differstrong])
      за голосування проти i
      = n_("point", "points", Distance.points[:absentstrong])
      за неголосування. В менш важливих голосуваннях депутат отримує
      = n_("point", "points", Distance.points[:same])
      за голосування відповідно до політики,
      = n_("point", "points", Distance.points[:differ])
      за голосування проти і
      = Distance.points[:absent]
      (з #{Distance.possible_points[:absent]})
      якщо відсутній.

    %p
      Після цього, цифри конвертуються в прості фрази на основі діапазону
      значень в який потрапляє депутат.

    - policy_member_distance = member.person.policy_person_distances.find_or_initialize_by(policy: policy)
    %table.table
      %thead
        %tr.headings
          %th
          %th Кількість голосувань
          %th Балів
          %th З можливих
      %tbody
        %tr
          %th
            Найважливіші голосування
            (#{Distance.possible_points[:samestrong]}
            #{n_("point", "points", Distance.possible_points[:samestrong])})
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
        %tr
          %td Голосувань відповідно політики
          %td= policy_member_distance.nvotessamestrong
          %td= policy_member_distance.votes_same_strong_points
          %td= policy_member_distance.possible_same_strong_points
        %tr
          %td Голосувань проти політики
          %td= policy_member_distance.nvotesdifferstrong
          %td= policy_member_distance.votes_differ_strong_points
          %td= policy_member_distance.possible_differ_strong_points
        %tr
          %td Відсутній
          %td= policy_member_distance.nvotesabsentstrong
          %td= policy_member_distance.votes_absent_strong_points
          %td= policy_member_distance.possible_absent_strong_points
        %tr
          %th
            Менш важливі голосування
            (#{Distance.possible_points[:same]}
            #{n_("point", "points", Distance.possible_points[:same])})
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
        %tr
          %td Голосувань відповідно політики
          %td= policy_member_distance.nvotessame
          %td= policy_member_distance.votes_same_points
          %td= policy_member_distance.possible_same_points
        %tr
          %td Голосувань проти політики
          %td= policy_member_distance.nvotesdiffer
          %td= policy_member_distance.votes_differ_points
          %td= policy_member_distance.possible_differ_points
        %tr
          %th
            Відсутній на менш важливих
            (#{Distance.possible_points[:absent]}
            #{n_("point", "points", Distance.possible_points[:absent])})
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
        %tr
          %td Відсутній*
          %td= policy_member_distance.nvotesabsent
          %td= policy_member_distance.votes_absent_points
          %td= policy_member_distance.possible_absent_points
        %tr
          %th{colspan: "2"} Всього:
          %td= policy_member_distance.total_points
          %td= policy_member_distance.possible_total_points
        %tr
          %td{colspan: "4"}
            %p
              *Виконуючи інші обов'язки депутат не завжди має можливість
              голосувати - це не завжди відображає те, що він утримується.
              Внаслідок цього відсутність на менш важливих голосуваннях робить різницю диспропорційно малою.
    %p
      Узгоджений розрахунок = Бали депутата / Балів всього
      \= #{policy_member_distance.total_points} / #{policy_member_distance.possible_total_points}
      \=
      = succeed "." do
        %b= fraction_to_percentage_display(member.person.agreement_fraction_with_policy(policy))

    %p
      І потім

    %ul
      - ranges.each do |range|
        %li
          між
          = fraction_to_percentage_display(range.first.min)
          та
          = fraction_to_percentage_display(range.first.max)
          означатиме
          "#{range.second}"
