.list-filters.clearfix
  .list-sorter.dropdown
    %button.btn.btn-sm.btn-default.dropdown-toggle{type: "button", id: "dropdownMenu1", data: {toggle: "dropdown"}}
      - if @sort == "name"
        Sorted by Name
      - if @sort == "date"
        Sorted by Date Edited
      - elsif @sort.nil?
        Sorted by Subscribers
      %span.caret

    %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu1"}
      %li{role: "presentation", class: "#{'disabled' if @sort == 'name'}"}
        = link_to "Name", {sort: "name"}, title: "Sort by name", role: "menuitem", tabindex: "-1"
      %li{role: "presentation", class: "#{'disabled' if @sort.nil?}"}
        = link_to "Subscribers", {sort: nil}, title: "Sort by subscribers", role: "menuitem", tabindex: "-1"
      %li{role: "presentation", class: "#{'disabled' if @sort == 'date'}"}
        = link_to "Date Edited", {sort: "date"}, title: "Sort by date edited", role: "menuitem", tabindex: "-1"