- unless members.empty?
  .policy-comparision-block.row{class: "position-#{title.parameterize}"}
    %h3.policy-comparision-position.col-xs-12
      = title
      = policy.name
    %ul.policy-comparision-list.member-list-compact.list-unstyled.col-xs-12
      - members.each do |member|
          = link_to [member, policy], class: 'policy-comparision-member member-link' do
            = image_tag(member.small_image_url, alt: "Photo of #{member.name_without_title}", class: 'member-photo', size: "44x58")
        %li.policy-comparision-member.member-item
            %span.member-name.sr-only= member.name
