%table.table.table-striped
  - if member
    %caption= link_to 'Why Majority/minority instead of Aye/No?', help_path(anchor: 'ayemajority')
  %thead
    %tr
      %th House
      %th Date
      %th Subject
      - if member
        %th= member.name
      %th.policyvotehead Policy vote
  %tbody
    - divisions = member ? policy.divisions.select { |d| d.house == member.house } : policy.divisions
    - if divisions.empty?
      %tr
        %td{colspan: 7} no votes listed
    - else
      - divisions.each do |division|
        %tr{class: ('strong' if division.policy_vote_strong?(policy))}
          %td{class: division.house}= division.australian_house_name
          %td= formatted_date(division.date, true)
          - if member
            -# Find the member current at the time of this division
            - current_member = Member.where(person: member.person).current_on(division.date).first
            - member = current_member || member
            %td
              = link_to division.name, division_path3({date: division.date, number: division.number, house: division.australian_house}, false, member)
            %td
              = vote_display_in_table(member.vote_on_division_without_tell(division), division.aye_majority)
          - else
            %td
              = link_to division.name, division_path3({date: division.date, number: division.number, house: division.australian_house, dmp: policy.id}, false)
          %td
            = vote_display_in_table(division.policy_vote(policy), division.aye_majority)
