%table.table.divisions-table
  %thead
    %tr
      %th Division
      - people.each do |person|
        %th= person.name
      %th.policyvotehead Supporters vote
  %tbody
    - if policy_divisions.empty?
      %tr
        %td{colspan: 7} no votes listed
    - else
      - policy_divisions.each do |pd|
        %tr
          %td
            %h3.division-title.h4
              %small.pre-title= division_date_and_time(pd.division) + " – " + pd.division.house_name
              = link_to(pd.division.name, division_path_simple(pd.division))
          - people.each do |person|
            %td.division-member-vote{data: {member: "#{person.name}"}}
              = vote_display(pd.division.vote_for_person(person))
          %td.division-policy-vote
            = vote_display(PolicyDivision.vote_without_strong(pd.vote))
