%table.table.divisions-table
  %thead
    %tr
      %th Division
      - if member
        %th= member.name
      %th.policyvotehead Supporters vote
      %th Division outcome
  %tbody
    - divisions = policy.divisions.order(date: :desc, clock_time: :desc, name: :asc, number: :desc)
    - divisions = divisions.select { |d| d.house == member.house } if member
    - if divisions.empty?
      %tr
        %td{colspan: 7} no votes listed
    - else
      - divisions.each do |division|
        %tr{class: ('strong' if division.policy_vote_strong?(policy))}
          %td
            %h3.h4
              %small.pre-title= division_date_and_time(division) + " – " + division.australian_house_name
              = member ? link_to(division.name, [member, division]) : link_to(division.name, division)
          - if member
            -# Find the member current at the time of this division
            - current_member = Member.where(person_id: member.person_id).current_on(division.date).first
            - member = current_member || member
            %td.division-member-vote{data: {member: "#{member.name}"}}
              = vote_display_in_table(member.vote_on_division_without_tell(division))
          %td.division-policy-vote
            = vote_display_in_table(division.policy_vote(policy))
          %td.division-outcome
            = division_outcome_with_majority_strength(division)
