%table.table
  %thead
    %tr
      %th House
      %th Date
      %th Subject
      - if member
        %th= member.name
      %th.policyvotehead Supporters vote
      %th Division outcome
  %tbody
    - divisions = policy.divisions.order(date: :desc, clock_time: :desc, name: :asc, number: :desc)
    - divisions = divisions.select { |d| d.house == member.house } if member
    - if divisions.empty?
      %tr
        %td{colspan: 7} no votes listed
    - else
      - divisions.each do |division|
        %tr{class: ('strong' if division.policy_vote_strong?(policy))}
          %td{class: division.house}= division.australian_house_name
          %td= formatted_date(division.date, true)
          - if member
            -# Find the member current at the time of this division
            - current_member = Member.where(person_id: member.person_id).current_on(division.date).first
            - member = current_member || member
            %td
              = link_to division.name, division_with_member_path(division, member)
            %td
              = vote_display_in_table(member.vote_on_division_without_tell(division))
          - else
            %td
              = link_to division.name, division_path2(division, {dmp: policy.id})
          %td
            = vote_display_in_table(division.policy_vote(policy))
          %td
            = division_outcome_with_score(division)
