- divisions = policy.divisions.order(date: :desc, clock_time: :desc, name: :asc, number: :desc)
-# We're only including divisions where one or more of the people could have attended
- divisions = divisions.select{ |d| people.any? { |p| p.could_have_voted_in_division?(d) } } unless people.empty?

%h3 Most important divisions relevant to this policy
%p
  These are the most important divisions related to the policy “#{policy.name_with_for}”. They are weighted much
  more strongly than other divisions when calculating the position of
  = people.empty? ? "a person" : list_in_words(people.map(&:name))
  on this policy.
= render "policies/vote_summary_table", people: people, policy: policy, divisions: divisions.select{ |d| d.policy_vote_strong?(policy) }

%h3 Other divisions relevant to this policy
%p
  These are less important divisions which are related to the policy “#{policy.name_with_for}”.
= render "policies/vote_summary_table", people: people, policy: policy, divisions: divisions.select{ |d| !d.policy_vote_strong?(policy) }
