- content_for :title, "For #{@policy.name}"

= render 'page_header', policy: @policy
= render "nav", policy: @policy, display: "motions"
= render 'vote_table_leader', policy: @policy
= render 'detailed_votes', member: @member, policy: @policy
