- content_for :title, "For #{@policy.name}"

.page-header.row
  %nav.header-actions.col-md-3
    =link_to_if(@policy, "Edit", edit_policy_path(@policy), :title => "Change title and definition of policy", :class => "btn btn-default btn-xs")
    =link_to "New policy", new_policy_path, :class => "btn btn-primary btn-xs"
  %h1.col-md-9
    = yield :title

  %blockquote.lead.policytext.col-md-12= @policy.description.capitalize + "."

= render "nav", policy: @policy, display: "motions"

%p These are the divisions (votes in Australia’s Parliament) that related to the policy “#{@policy.name}”. Compare how a supporter of the policy would have voted to the division outcome.

= render 'detailed_votes', member: @member, policy: @policy
