- content_for :title do
  = @member.name
  = policy_agreement_summary_without_html(@member.person.policy_person_distances.find_by(policy: @policy))
  = @policy.name

.page-header
  .media
    = link_to @member, class: "pull-left" do
      = image_tag(@member.large_image_url, alt: "Photo of #{@member.name_without_title}", size: "88x115", class: "media-object")
    .media-body
      %h1.media-heading
        = link_to @member.name, @member
        = policy_agreement_summary(@member.person.policy_person_distances.find_by(policy: @policy))
        = link_to @policy.name, @policy

#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link_unless_current("Summary", [@member, @policy], "Show every vote cast by this MP")
    = nav_link_unless_current("Full description", full_member_policy_path(@member, @policy), "Also show descriptions of every vote")

= render "policy_comparison_intro", member: @member, policy: @policy
%p
  Someone who believes that
  %span.policytext= @policy.description
  would cast votes described by the policy.
= render 'detailed_votes', member: @member, policy: @policy
= render "how_the_number_is_calculated", member: @member, policy: @policy
