- content_for :title do
  Recent history:
  = capitalise_initial_character(@policy.name_with_for)
- set_meta_tags description: "Recent changes made to the “#{@policy.name_with_for}” policy."

.page-header.row
  %nav.header-actions.col-md-3
    =link_to_if(@policy, "Edit", edit_policy_path(@policy), title: "Change title and definition of policy", class: "btn btn-default btn-xs")
    =link_to "New policy", new_policy_path, class: "btn btn-primary btn-xs"
  -# TODO This title is just a stop-gap. Make it not suck.
  %h1.col-md-9= yield :title

%ul.row.list-unstyled
  - @history.each do |version|
    %li.object-item
      = version_sentence_no_attribution(version)
      
      %p.small.object-primary.text-muted
        = version_author_link(version)
        = time_ago_in_words(version.created_at)
        ago
