- content_for :title, 'Policies'

%h1= yield :title
%p
  Policies are stated positions on a particular issue. For example
  "Process asylum seekers offshore", or "Legalise same sex marriage".
  Each policy has a definition and a way to vote in relevant
  divisions in Parliament.
%ul
  %li= link_to "Make a new policy", new_policy_path
%p
  This table summarises all policies, including how many times
  they have "voted". Click on their name to get a comparison of a
  policy to all MPs.
  %b
    You can get a policy to the top by editing
    and correcting motion text for its divisions.

%table.table.table-striped
  %thead
    %tr
      %th
        Votes
        %i (unedited)
      %th Policy
  %tbody
    - if @policies
      - @policies.each do |policy|
        %tr
          %td
            = "#{policy.votes_count} "
            - if policy.unedited_motions_count != 0
              %i= "(#{policy.unedited_motions_count})"
          %td
            = link_to policy.name, policy_path(policy)
            - if policy.provisional?
              %i (provisional)
    - else
      %tr
        %td{:colspan => "4"}
          No policies match this person's votes. You can
          -# TODO Use path helper
          = link_to "edit or make a policy that will appear here.", policies_path

%p= "That makes #{@policies.size} policies which have voted in at least one division."
