- content_for :title, 'Policies'
- set_meta_tags description: "A list of policies available on #{Settings.project_name}. Policies are a group of votes which, taken together, indicate a particular stance on an issue. You can research and create your own. "

- content_for :header do
  .section-header.clearfix
    .page-header.container
      %nav.header-actions.col-md-3
        =link_to "New policy", new_policy_path, class: "btn btn-primary btn-xs"
      %h1= yield :title
      %p.lead
        Policies are a group of votes which, taken together, indicate a particular stance on an issue.
        You can research and create your own.

- if @policies
  - if @policies.visible
    = render "policies_list", policies: @policies.visible
  - if @policies.provisional
    %h1{id: 'provisional'} Provisional policies
    = render "policies_list", policies: @policies.provisional

- else
  %p
    No policies match this person's votes. You can
    -# TODO Use path helper
    = link_to "edit or make a policy that will appear here.", policies_path

%p= "That makes #{@policies.size} policies which have voted in at least one division."
