- content_for :title, 'Make a new policy'

.page-header
  %h1= yield :title

- unless @policy.errors.any?
  :markdown
    #{render "new_policy_intro.md"}

= simple_form_for @policy do |f|
  = f.input :name, label: 'If you are for', required: false, placeholder: 'equal treatment of same-sex couples'
  = f.input :description, label: 'you believe that', required: false, placeholder: 'the federal government should amend commonwealth laws so that homosexual couples are treated equally to heterosexual couples', input_html: {rows: 6}
  %p
    %span.ptitle Privacy notes:
    By creating a policy you are making your name
    %b= current_user.name
    and the policy's voting record public.
  = f.button :submit, class: 'btn-primary', value: 'Make Policy'
  = f.button :submit, value: 'Cancel'
