-# Only show this stuff if we actually have an edit history
- if @policy.most_recent_version
  - content_for :history_notice do
    = render 'layouts/history_notice', policy: @policy

= render 'page_header', policy: @policy
= render "social_share"

- if @policy.divisions.count > 0
  %p.lead
    = link_to pluralize(@policy.divisions.count, "relevant division"), {anchor: 'divisions'}, title: 'Skip to Relevant Divisions for this policy.'

  %section.page-section#members
    .policy-comparisions
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted very strongly for', members: @policy.current_members_very_strongly_for
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted strongly for', members: @policy.current_members_strongly_for
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted moderately for', members: @policy.current_members_moderately_for
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted a mixture of for and against', members: @policy.current_members_for_and_against
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted moderately against', members: @policy.current_members_moderately_against
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted strongly against', members: @policy.current_members_strongly_against
      = render 'policy_comparisons_block', policy: @policy, title: 'Voted very strongly against', members: @policy.current_members_very_strongly_against
      = render 'policy_comparisons_block', policy: @policy, title: 'Never voted on', members: @policy.current_members_never_voted

  %section.page-section#divisions
    %h2 Relevant divisions
    %p
      = link_to "See detail", detail_policy_path(@policy), title: 'Shows all available division summaries'
    = render 'vote_table_leader', policy: @policy
    = render 'vote_summary_table', member: @member, policy: @policy
    %p.alert.alert-postnote.small
      If you know of other
      = link_to 'divisions', divisions_path
      that relate to this policy, you can add them in the
      %strong Votes
      section of that division‘s page.
- else
  %p.col-sm-8 This policy isn't connected with any divisions just yet.
  = render 'division_edit_instructions'
