- content_for :title do
  = policy_agreement_summary(@policy_person_distance, with_person: true, with_policy: true)
- set_meta_tags description: "How #{@member.name} voted in parliament on #{@policy.name}."
:ruby
  set_meta_tags og: {
    title: policy_agreement_summary(@policy_person_distance, with_person: true, with_policy: true),
    description: "Find out how this is worked out and discover how others voted on the issues that matter to you",
    type: "website",
    url: request.original_url,
    image: {
      _: card_person_policy_url(@policy_person_distance.person, @policy_person_distance.policy),
      alt: policy_agreement_summary(@policy_person_distance, with_person: true, with_policy: true),
      width: CardScreenshotter::Utils::CARD_WIDTH,
      height: CardScreenshotter::Utils::CARD_HEIGHT
    },
    site_name: Rails.configuration.project_name
  }
.page-header.row
  .col-md-9.col-lg-10
    .media
      - if @member.show_large_image?
        = link_to member_path_simple(@member), class: "pull-left" do
          = image_tag(@member.large_image_url, alt: "Photo of #{@member.name}", size: @member.large_image_size, class: "media-object")
      .media-body
        %h1.media-heading.long-title
          = policy_agreement_summary(@policy_person_distance, with_person: true, link_person: true, with_policy: true, link_policy: true)
  .header-secondary.col-sm-12
    -# We don't want people sharing incomplete policies
    - if @policy.published?
      = render "social_share"

= render "policies/draft_warning", policy: @policy

.row
  %p.col-sm-7
    How
    = link_to @member.name, member_path_simple(@member)
    voted compared to someone who agrees that
    = link_to @policy.description, @policy

- if @policy.published?
  = render "policies/not_a_crystal_ball_warning"

= render "policies/vote_summary", people: [@member.person], policy: @policy
= render "policies/how_the_number_is_calculated", policy_person_distance: @policy_person_distance
