- content_for :title, "For #{@policy.name}"

-# Only show this stuff if we actually have an edit history
- if @policy.most_recent_version
  - content_for :history_notice do
    = render 'layouts/history_notice', policy: @policy

= render 'page_header', policy: @policy

- if @policy.divisions.count > 0
  %h2 Voter records
  = render 'policy_comparisons_block', policy: @policy, title: 'Very strongly for', distances: @policy.policy_person_distances.very_strongly_for
  = render 'policy_comparisons_block', policy: @policy, title: 'Strongly for', distances: @policy.policy_person_distances.strongly_for
  = render 'policy_comparisons_block', policy: @policy, title: 'Moderately for', distances: @policy.policy_person_distances.moderately_for
  = render 'policy_comparisons_block', policy: @policy, title: 'A mixture of for and against', distances: @policy.policy_person_distances.for_and_against
  = render 'policy_comparisons_block', policy: @policy, title: 'Moderately against', distances: @policy.policy_person_distances.moderately_against
  = render 'policy_comparisons_block', policy: @policy, title: 'Strongly against', distances: @policy.policy_person_distances.strongly_against
  = render 'policy_comparisons_block', policy: @policy, title: 'Very strongly against', distances: @policy.policy_person_distances.very_strongly_against
  = render 'policy_comparisons_block', policy: @policy, title: 'Never voted on', distances: @policy.policy_person_distances.never_voted

  = render "nav", policy: @policy, display: nil

  %h2 Relevant divisions
  = render 'vote_table_leader', policy: @policy
  = render 'vote_summary_table', member: @member, policy: @policy
- else
  %p This policy isn't connected with any divisions just yet.
  = render 'division_edit_instructions'
