- content_for :title, "Policy ##{@policy.id}: \"#{@policy.name}\""

%h1= yield :title

#secondnavtabs
  %ul.nav.nav-tabs
    = nav_link("Selected votes", policy_path2(@policy, display: nil), "Overview of the policy", @display.nil?)
    = nav_link("Details of votes", policy_path2(@policy, display: "motions"), "Also shows description of every vote", @display == "motions")
    = nav_link("Edit", policy_path2(@policy, display: "editdefinition"), "Change title and definition of policy", @display == "editdefinition")

- case @display
- when nil
  = render 'votes', member: @member, policy: @policy
- when 'motions'
  = render 'detailed_votes', member: @member, policy: @policy
- when 'editdefinition'
  = render 'edit_policy', policy: @policy
