-# Only show this stuff if we actually have an edit history
- if @policy.most_recent_version
  - content_for :history_notice do
    = render 'layouts/history_notice', policy: @policy

= render 'page_header', policy: @policy

- if @policy.divisions.count > 0
  %p.lead
    = link_to pluralize(@policy.divisions.count, "relevant division"), {anchor: 'divisions'}, title: 'Skip to Relevant Divisions for this policy.'

  %section.page-section#members
    .policy-comparisions
      - distances = @policy.policy_person_distances.currently_in_parliament.includes(:person, person: :members)
      - ranges.each do |r|
        = render 'policy_comparisons_block', policy: @policy, title: "Voted #{r[:text]}", label: r[:label], distances: distances.select{ |d| d.voted? && r[:range].include?(d.agreement_fraction) }
      = render 'policy_comparisons_block', policy: @policy, title: 'Never voted on', label: "never-voted-on", distances: distances.select{ |d| !d.voted? }

  %section.page-section#divisions
    %h2 Relevant divisions
    = render 'vote_table_leader', policy: @policy
    = render 'vote_summary_table', person: nil, policy: @policy
    %p.alert.alert-postnote.small
      If you know of other
      = link_to 'divisions', divisions_path
      that relate to this policy, you can add them in the
      %strong Votes
      section of that division‘s page.
- else
  %p This policy isn't connected with any divisions just yet.
  = render 'division_edit_instructions'
