- content_for :title, "For #{@policy.name}"

= render 'page_header', policy: @policy

- if @policy.divisions.count > 0
  = render "nav", policy: @policy, display: nil
  = render 'vote_table_leader', policy: @policy
  = render 'vote_summary_table', member: @member, policy: @policy
- else
  %p
    This policy isn't connected with any divisions just yet.
    You can help - to select votes for this policy,
    = link_to "search", search_path
    or
    = link_to "browse", divisions_path
    for divisions. On the page for each division you can choose how somebody
    supporting this policy would have voted. If you haven't edited a policy
    before please #{link_to "read about how policies work", help_faq_path(anchor: "policies")}.
