- content_for :title, @policy.name

.page-header.row
  %nav.header-actions.col-md-3
    =link_to_if(@policy, "Edit", edit_policy_path(@policy), :title => "Change title and definition of policy", :class => "btn btn-default btn-xs")
    =link_to "New policy", new_policy_path, :class => "btn btn-primary btn-xs"
    = link_to "History of edits", history_policy_path(@policy)
  %h1.col-md-9
    For
    = yield :title

  %blockquote.lead.policytext.col-md-12= @policy.description[0].upcase + @policy.description[1..-1]

= render "nav", policy: @policy, display: nil

%p These are the divisions (votes in Australia’s Parliament) that related to the policy “#{@policy.name}”. Compare how a supporter of the policy would have voted to the division outcome.

= render 'vote_summary_table', member: @member, policy: @policy
